<div class="position-relative container-fluid cover-image mb-5"
    style="background-image: url('./static/image/bg-0.jpg');">

        <div class="col-md-11 mx-auto min-height-10 ">
            <div class="row bg-ichiblue text-white p-3 mb-3">
                <h5>
                    We cordially invite you to submit your contribution to the Twelfth IEEE International Conference on 
                    Healthcare Informatics (ICHI 2024) that will take place June 3<sup>rd</sup>-6<sup>th</sup>, 2024, in Orlando, Florida, United States of America.
                    <!-- We cordially invite you to submit your contribution to the 11<sup>th</sup> IEEE International Conference on
                    Healthcare Informatics (ICHI 2023) that will take place June 26<sup>th</sup>-29<sup>th</sup>, 2023 in Houston, TX, USA. -->
                </h5>
                <p>
                    <!-- IEEE ICHI is a premier community forum focused on the application of computer science, information science, data science, information technology, and communication science and technology to address problems and support research in individual health and well-being, healthcare, medicine, and public health. The conference highlights novel technical contributions to stakeholder-centered technology designed to benefit human health and the related societal and ethical implications of such applications.  -->
                    ICHI 2024 is a leading community forum dedicated to advancing the application of computer science, information science, data science, and the principles of informatics, and communication science and technology in addressing challenges and supporting research and adoptions in healthcare, medicine, life science, public health, and everyday wellness. The conference highlights cutting-edge technological breakthroughs and contributions that benefit human health while also exploring the social and ethical considerations that impact stakeholders. 
                    <!-- ICHI 2023 is a premier community forum concerned with the application of computer science, information
                    science, data science, and informatics principles, as well as information technology, and communication
                    science and technology to address problems and support research in healthcare, medicine, life science,
                    public health, and everyday wellness. The conference highlights the most novel technical contributions to
                    stakeholder-centered technology innovation for benefiting human health and the related social and ethical
                    implications. ICHI 2023 will feature keynotes, a multi-track technical program including papers, posters,
                    panels, workshops, tutorials, an industrial track, and a doctoral consortium. -->
                </p>
            </div>
        </div>

    
</div>
