<div class="position-relative container-fluid cover-image mb-5"
    style="background-image: url('./static/image/bg-0.jpg');">

        <div class="col-md-11 mx-auto min-height-10 ">
            <div class="row bg-ichiblue text-white p-3 mb-3">
                <h5>
                    We cordially invite you to submit your contribution to the 10<sup>th</sup> IEEE International Conference on
                    Healthcare Informatics (ICHI 2022) that will take place June 13<sup>th</sup>-16<sup>th</sup>, 2022 in Rochester, MN, USA.
                </h5>
                <p>
                    ICHI 2022 is a premier community forum concerned with the application of computer science, information
                    science, data science, and informatics principles, as well as information technology, and communication
                    science and technology to address problems and support research in healthcare, medicine, life science,
                    public health, and everyday wellness. The conference highlights the most novel technical contributions to
                    stakeholder-centered technology innovation for benefiting human health and the related social and ethical
                    implications. ICHI 2022 will feature keynotes, a multi-track technical program including papers, posters,
                    panels, workshops, tutorials, an industrial track, and a doctoral consortium.
                </p>
            </div>
        </div>

    
</div>