<h2 class="mt-5">
    Tuesday, June 14
</h2>
<table class="program-table mb-4">
<tr>
    <th width="70px">&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
</tr>
<tr>
    <td class="td-time">
        <div class="time">
            7:30 AM
        </div>
        <div class="time time-bottom time-bottom-down">
            8:30 AM
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div class="slot slot-break">
            Registration
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            10:00 AM
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div onclick="show_session_info('k-4')" class="slot slot-large slot-session slot-session-k">
            Industry Track Keynote + Panel
            <br>
            @Ballroom
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-bottom time-bottom-down">
            10:30 AM
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div class="slot slot-break">
            <i class="fas fa-coffee"></i>
            Coffee Break
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            12:00 PM
        </div>
    </td>
    <td onclick="show_session_info('i-1')" colspan="3" class="td-slot">
        <div class="slot slot-large slot-session slot-session-i">
            Industry Session
            <br>
            <span class="session-loc">@Ballroom</span>
        </div>
    </td>
</tr>
<tr>
    <td colspan="4" class="td-slot">
        <div class="slot slot-blank-break">
            &nbsp;
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            12:30 PM
        </div>
    </td>
    <td onclick="show_session_info('k-5')" 
        colspan="3" class="td-slot">
        <div class="slot slot-large slot-session slot-session-k">
            Close Session
            <br>
            <span class="session-loc">@Ballroom</span>
        </div>
    </td>
</tr>
</table>

<div class="accordion" id="acc_jun14">
<div class="accordion-item">
    <h2 class="accordion-header" id="heading_jun14">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_jun14" aria-expanded="false" aria-controls="collapse_jun14">
            Detailed Session Information of June 14
        </button>
    </h2>
    <div id="collapse_jun14" class="accordion-collapse collapse" aria-labelledby="heading_jun14"
        data-bs-parent="#acc_jun14">
        <div class="accordion-body">



            <div class="session-details">
                <div id="session-k-4" class="session-info">
                    <div class="session-dur-loc">
                        8:30 - 10:00 AM 
                        @Ballroom
                    </div>
                    <h4>
                        Industry Track Keynote
                    </h4>

                    

                    <p>
                        TBD
                    </p>
                </div>

            </div>


            <div class="session-details">
                <div id="session-i-1" class="session-info">
                    <div class="session-dur-loc">
                        10:30 AM - 12:00 PM 
                        @Ballroom
                    </div>
                    <h4>
                        Industry Session
                    </h4>

                    <p>
                        TBD
                    </p>
                </div>

            </div>


            <div class="session-details">
                <div id="session-k-5" class="session-info">
                    <div class="session-dur-loc">
                        12:00 - 12:30 PM 
                        @Ballroom
                    </div>
                    <h4>
                        Close Session
                    </h4>

                    <p>
                        TBD
                    </p>
                </div>

            </div>


        </div>
    </div>
</div>

</div>