<h2>
    Saturday, June 11
</h2>
<table class="program-table mt-4 mb-4">
<tr>
    <th width="70px">&nbsp;</th>
    <th class="th-room">Suite 101</th>
    <th class="th-room">Suite 102</th>
    <th class="th-room">Suite 103</th>
    <th class="th-room">Suite 104</th>
    <th class="th-room">Suite 105</th>
    <th class="th-room">Suite 106</th>
</tr>
<tr>
    <td class="td-time">
        <div class="time">
            7:30 AM
        </div>
        <div class="time time-bottom time-bottom-down">
            8:30 AM
        </div>
    </td>
    <td colspan="6" class="td-slot">
        <div class="slot slot-break">
            Registration
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            10:00 AM
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('d-1')" class="slot slot-small slot-session slot-session-d">
            <span class="txt-sm">
                Doctoral Consortium
            </span>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('w-2')" class="slot slot-small slot-session slot-session-w">
            <b>HI-Edu 2022</b>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('w-1')" class="slot slot-small slot-session slot-session-w">
            <b>HealthNLP 2022</b>
            <br>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('w-3')" class="slot slot-small slot-session slot-session-w">
            <b>XAI-Healthcare</b>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('t-1')" class="slot slot-small slot-session slot-session-t">
            <span class="txt-sm">
                Tutorial 1 
            </span>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('t-2')" class="slot slot-small slot-session slot-session-t">
            <span class="txt-sm">
                Tutorial 2 
            </span>
        </div>
    </td>

</tr>
<tr>
    <td class="td-time">
        <div class="time time-bottom time-bottom-down">
            10:30 AM
        </div>
    </td>
    <td colspan="6" class="td-slot">
        <div class="slot slot-break">
            <i class="fas fa-coffee"></i>
            Coffee Break
        </div>
    </td>
</tr>


<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            12:00 PM
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('d-1')" class="slot slot-small slot-session slot-session-d">
            <span class="txt-sm">
                Doctoral Consortium
            </span>
        </div>
    </td>
    
    <td class="td-slot">
        <div onclick="show_session_info('w-2')" class="slot slot-small slot-session slot-session-w">
            <b>HI-Edu 2022</b>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('w-1')" class="slot slot-small slot-session slot-session-w">
            <b>HealthNLP 2022</b>
            <br>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('w-3')" class="slot slot-small slot-session slot-session-w">
            <b>XAI-Healthcare</b>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('t-1')" class="slot slot-small slot-session slot-session-t">
            <span class="txt-sm">
                Tutorial 1 
            </span>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('t-2')" class="slot slot-small slot-session slot-session-t">
            <span class="txt-sm">
                Tutorial 2
            </span>
        </div>
    </td>
    
</tr>

<tr>
    <td class="td-time">
        <div class="time time-bottom time-bottom-down">
            1:00 PM
        </div>
    </td>
    <td colspan="6" class="td-slot">
        <div class="slot slot-break">
            <i class="fas fa-utensils"></i> Lunch
        </div>
    </td>
</tr>

<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            2:30 PM
        </div>
    </td>
    
    
    <td class="td-slot">
        <div onclick="show_session_info('t-1')" class="slot slot-small slot-session slot-session-d">
            <span class="txt-sm">
                Doctoral Consortium
            </span>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('w-2')" class="slot slot-small slot-session slot-session-w">
            <b>HI-Edu 2022</b>
        </div>
    </td>

    <td class="td-slot">
        
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('w-3')" class="slot slot-small slot-session slot-session-w">
            <b>XAI-Healthcare</b>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('t-3')" class="slot slot-small slot-session slot-session-t">
            <span class="txt-sm">
                Tutorial 3
            </span>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('t-2')" class="slot slot-small slot-session slot-session-t">
            <span class="txt-sm">
                Tutorial 2
            </span>
        </div>
    </td>
    
</tr>

<tr>
    <td class="td-time">
        <div class="time time-bottom time-bottom-down">
            3:00 PM
        </div>
    </td>
    <td colspan="6" class="td-slot">
        <div class="slot slot-break">
            <i class="fas fa-coffee"></i>
            Coffee Break
        </div>
    </td>
</tr>

<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            4:30 PM
        </div>
    </td>
    <td class="td-slot">
        <div onclick="show_session_info('t-2')" class="slot slot-small slot-session slot-session-d">
            <span class="txt-sm">
                Doctoral Consortium
            </span>
        </div>
    </td>
    <td class="td-slot">

    </td>
    <td class="td-slot">
        
    </td>
    <td class="td-slot">

    </td>

    <td class="td-slot">
        <div onclick="show_session_info('t-3')" class="slot slot-small slot-session slot-session-t">
            <span class="txt-sm">
                Tutorial 3
            </span>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('t-2')" class="slot slot-small slot-session slot-session-t">
            <span class="txt-sm">
                Tutorial 2 
            </span>
        </div>
    </td>
</tr>

</table>

<div class="accordion" id="acc_jun11">
<div class="accordion-item">
    <h2 class="accordion-header" id="heading_jun11">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_jun11" aria-expanded="false" aria-controls="collapse_jun11">
            Detailed Session Information of June 11
        </button>
    </h2>
    <div id="collapse_jun11" class="accordion-collapse collapse" aria-labelledby="heading_jun11"
        data-bs-parent="#acc_jun11">
        <div class="accordion-body">

            <div class="session-details">
                <div id="session-w-2" class="session-info">
                    <div class="session-dur-loc">
                        @Suite 102
                    </div>
                    <h4>
                        <a target="_blank"
                            href="https://sites.pitt.edu/~lzhou1/HIEDU2022.html">
                            HI-Edu 2022
                        </a>
                    </h4>


                    {% include '_workshop_HIEDU.html' %}
                </div>

            </div>


            <div class="session-details">
                <div id="session-w-1" class="session-info">
                    <div class="session-dur-loc">
                        @Suite 103
                    </div>
                    <h4>
                        <a target="_blank"
                            href="https://www.healthnlp.info/">
                            HealthNLP 2022
                        </a>
                    </h4>

                    <p>
                        TBD
                    </p>
                </div>

            </div>


            <div class="session-details">
                <div id="session-w-3" class="session-info">
                    <div class="session-dur-loc">
                        @Suite 104
                    </div>
                    <h4>
                        <a target="_blank"
                            href="https://www.um.es/aike/events/XAI-Healthcare/">
                            XAI-Healthcare
                        </a>
                    </h4>

                    <p>
                        TBD
                    </p>
                </div>

            </div>




            <div class="session-details">
                <div id="session-d-1" class="session-info">
                    <div class="session-dur-loc">
                        @Suite 101
                    </div>
                    <h4>
                        Doctoral Consortium
                    </h4>

                    <p>
                        TBD
                    </p>
                </div>

            </div>




            <div class="session-details">
                <div id="session-t-1" class="session-info">
                    <div class="session-dur-loc">
                        @Suite 105
                    </div>
                    <h4>
                        Tutorial 1: Computational Drug Target Prediction: Benchmark and Experiments
                    </h4>

                    {% include '_tutorial_1_CDTP.html' %}
                </div>

            </div>




            <div class="session-details">
                <div id="session-t-2" class="session-info">
                    <div class="session-dur-loc">
                        @Suite 106
                    </div>
                    <h4>
                        Tutorial 2: Prescriptive Healthcare Analytics: a Tutorial on Discrete Optimization and Simulation
                    </h4>

                    {% include '_tutorial_2_PHA.html' %}
                </div>

            </div>




            <div class="session-details">
                <div id="session-t-3" class="session-info">
                    <div class="session-dur-loc">
                        @Suite 106
                    </div>
                    <h4>
                        Tutorial 3: Data Science for Healthcare via an E-Learning Statistics Platform
                    </h4>

                    {% include '_tutorial_3_DSH.html' %}
                </div>

            </div>

        </div>
    </div>
</div>

</div>