<div class="accordion" id="acc_jun11">
<div class="accordion-body">

    <h3 class="program-day-h4">
        Monday, June 3
    </h3>
    <p>
        <div class="session-details">
            <div id="session-w-1" class="session-info">
                <div class="session-dur-loc">
                    Monday, June 3, 8:30AM - 16:30 PM @Auditorium(First Floor)
                </div>
                <h7>
                    
                    Workshop 1: The Third International Workshop on Health Informatics Education
                    <br>
                    Acronyms:
                    HI-Edu 2024 Workshop
                    <br>
                    Institution:
                    Nivi and Brandeis University, Cornell
                    <br>
                    Organizers:
                    Leming Zhou, Huanmei Wu, Yanshan Wang
                    <br>
                    More information of this workshop is on website link: <a target="_blank"
                    href="https://sites.pitt.edu/~lzhou1/HIEDU2024.html">
                    https://sites.pitt.edu/~lzhou1/HIEDU2024.html
                    </a>
                
                </h7>
    
            </div>
        </div>  
    </p>

    <p>
        <div class="session-details">
            <div id="session-w-2" class="session-info">
                <div class="session-dur-loc">
                    Monday, June 3, 8:30AM - 12:00 PM @131(First Floor)
                </div>
                <h7>
                    Workshop 2: Human-Centred XAI: Enhancing AI Acceptability for Healthcare
                    <br>
                    Acronyms:
                    Human-Centred XAI Workshop
                    <br>
                    Institution:
                    Université de Picardie Jules Verne, France
                    <br>
                    Organizers:
                    Gilles DEQUEN, Daniel Aïham GHAZALI, Emilien ARNAUD, Mahmoud ELBATTAH
                    <br>
                    More information of this workshop is on website link: <a target="_blank"
                    href="https://mahmoud-elbattah.github.io/ichiworkshop2024/">
                    https://mahmoud-elbattah.github.io/ichiworkshop2024/</a>
                </h7>
    
            </div>
    
        </div>

    </p>

    <p>
        <div class="session-details">
            <div id="session-w-3" class="session-info">
                <div class="session-dur-loc">
                    Monday, June 3, 8:30AM - 16:30 PM @333(Third Floor)
                </div>
                <h7>
                    Workshop 3: The 2nd International Workshop on Ethics and Bias of Artificial Intelligence in Clinical Applications
                    <br>
                    Acronyms:
                    EBAIC 2024 Workshop
                    <br>
                    Institution:
                    University of Pittsburgh, The University of Texas Health Science Center at Houston
                    <br>
                    Organizers:
                    Ahmad P. Tafti, Yanshan Wang, Hongfang Liu
                    <br>
                    More information of this workshop is on website link: <a target="_blank"
                    href="https://pitthexai.github.io/EBAIC2024/">
                    https://pitthexai.github.io/EBAIC2024/</a>
                </h7>
    
            </div>
    
        </div>

    </p>

    <p>
        <div class="session-details">
            <div id="session-w-4" class="session-info">
                <div class="session-dur-loc">
                    Monday, June 3, 8:30AM - 12:00 PM @334(Third Floor)
                </div>
                <h7>
                    Workshop 4: Multimodal Representation Learning for Healthcare
                    <br>
                    Acronyms:
                    Multimodal4Health Workshop
                    <br>
                    Institution:
                    Mayo Clinic (AZ, MN), Emory, Stanford
                    <br>
                    Organizers:
                    Man Luo, Aisha Urooj, Theo Dapamede, Jason Fries, Bhavik Patel, Imon Banerjee
                    <br>
                    More information of this workshop is on website link: <a target="_blank"
                    href="https://luomancs.github.io/Multimodal4Health-ICHI/">
                    https://luomancs.github.io/Multimodal4Health-ICHI/</a>
                </h7>
    
            </div>
    
        </div>

    </p>

    <p>
        <div class="session-details">
            <div id="session-w-5" class="session-info">
                <div class="session-dur-loc">
                    Monday, June 3, 1:00PM - 4:30PM @234(Second Floor)
                </div>
                <h7>
                    Workshop 5: Data privacy and data analysis in healthcare systems
                    <br>
                    Acronyms:
                    DPDAHS Workshop
                    <br>
                    Institution:
                    University of Verona, Italy; Vanderbilt University Medical Center (VUMC), TN, USA
                    <br>
                    Organizers:
                    Matteo Mantovani, Luca Bonomi
                    <br>
                    More information of this workshop is on website link: <a target="_blank"
                    href="https://dpdahs.github.io/">
                    https://dpdahs.github.io/</a>
                </h7>
    
            </div>
    
        </div>

    </p>

    <p>
        <div class="session-details">
            <div id="session-w-6" class="session-info">
                <div class="session-dur-loc">
                    Monday, June 3, 1:00PM - 4:30PM @334(Third Floor)
                </div>
                <h7>
                    Workshop 6: The First Workshop on Applying LLMs in LMICs for Healthcare Solutions
                    <br>
                    Acronyms:
                    ALL 4 Health 2024 Workshop
                    <br>
                    Institution:
                    Nivi and Brandeis University, Cornell
                    <br>
                    Organizers:
                    David Tresner-Kirsch, Emma Pierson
                    <br>
                    More information of this workshop is on website link: <a target="_blank"
                    href="https://www.nivi.io/all4health">
                    https://www.nivi.io/all4health</a>
                </h7>
    
            </div>
    
        </div>

    </p>
    



    


 

</div>