<div class="accordion" id="acc_jun11">
<div class="accordion-body">

    <h3 class="program-day-h3">
        Monday, June 26
    </h3>

    <div class="session-details">
        <div id="session-w-1" class="session-info">
            <div class="session-dur-loc">
                Monday, June 26, 8:30AM - 16:30 PM @BRC 280
            </div>
            <h4>
                <a target="_blank"
                    href="https://www.healthnlp.info/">
                    The 6th International Workshop on Health Natural Language Processing (HealthNLP 2023)
                </a>
            </h4>

            {% include '_workshop_2_HealthNLP.html' %}
            
        </div>

    </div>

    <div class="session-details">
        <div id="session-w-2" class="session-info">
            <div class="session-dur-loc">
                Monday, June 26, 8:30AM - 16:30 PM @BRC 282
            </div>
            <h4>
                <a target="_blank"
                    href="https://sites.pitt.edu/~lzhou1/HIEDU2022.html">
                    The 2nd International Workshop on Health Informatics Education (HI-EDU 2023)
                </a>
            </h4>


            {% include '_workshop_1_HIEDU.html' %}
        </div>

    </div>



    <div class="session-details">
        <div id="session-w-3" class="session-info">
            <div class="session-dur-loc">
                Monday, June 26, 8:30AM - 16:30 PM @BRC 284
            </div>
            <h4>
                <a target="_blank"
                    href="https://www.um.es/aike/events/XAI-Healthcare/">
                    The 1st International Workshop on Ethics and Bias of Artificial Intelligence in Clinical Applications (EBAIC 2023)
                </a>
            </h4>

            {% include '_workshop_3_EBAIC.html' %}

        </div>

    </div>

    <div class="session-details">
        <div id="session-w-4" class="session-info">
            <div class="session-dur-loc">
                Monday, June 26, 8:30AM - 12:00 PM @BRC 285
            </div>
            <h4>
                <a target="_blank"
                    href="http://healthcaredata.gsu.edu.tr/">
                    Data Science and AI Applications in Cancer Research 
                </a>
            </h4>
            <!-- {% include '_workshop_4_MLHDPM.html' %} -->
        </div>

    </div>


    <div class="session-details">
        <div id="session-w-5a" class="session-info">
            <div class="session-dur-loc">
                Monday, June 26, 1:00PM - 2:00 PM @BRC 285 
            </div>
            <h4>
                <a target="_blank"
                    href="http://healthcaredata.gsu.edu.tr/">
                    The 1st International Workshop on Network and Pathway Analysis in Health Informatics (NPAHI 2023)
                </a>
            </h4>
            {% include '_workshop_5_NPAHI.html' %}
        </div>

    </div>

    <div class="session-details">
        <div id="session-w-5b" class="session-info">
            <div class="session-dur-loc">
                Monday, June 26, 2:15PM - 16:30 PM @BRC 285
                <!-- @Microsoft Teams -->
            </div>
            <h4>
                <a target="_blank"
                    href="http://healthcaredata.gsu.edu.tr/">
                    The 1st International Workshop on AI for Pharmaceutical Discovery and Development (AIPHA 2023)
                </a>
            </h4>
            {% include '_workshop_4_AIPHA.html' %}
        </div>

    </div>





    <!-- <div class="session-details">
        <div id="session-t-1" class="session-info">
            <div class="session-dur-loc">
                Saturday, June 11, 8:30AM - 12:00 PM @Suite 112
            </div>
            <h4>
                Tutorial 1: Computational Drug Target Prediction: Benchmark and Experiments
            </h4>

            {% include '_tutorial_1_CDTP.html' %}
        </div>

    </div>




    <div class="session-details">
        <div id="session-t-2" class="session-info">
            <div class="session-dur-loc">
                Saturday, June 11, 8:30AM - 4:30 PM @Suite 113
            </div>
            <h4>
                Tutorial 2: Prescriptive Healthcare Analytics: a Tutorial on Discrete Optimization and Simulation
            </h4>

            {% include '_tutorial_2_PHA.html' %}
        </div>

    </div>




    <div class="session-details">
        <div id="session-t-3" class="session-info">
            <div class="session-dur-loc">
                Saturday, June 11, 1:30 - 4:30 PM @Suite 112
            </div>
            <h4>
                Tutorial 3: Data Science for Healthcare via an E-Learning Statistics Platform
            </h4>

            {% include '_tutorial_3_DSH.html' %}
        </div>

    </div>

</div> -->


 <div class="session-details">
        <div id="session-d-1" class="session-info">
            <div class="session-dur-loc">
                Monday, June 26, 13:00 PM - 16:30 PM @Auditorium
            </div>
            <h4>
                Doctoral Consortium
            </h4>
    
            <ul>
                <!-- <li>8:30 - 9:30 AM: Elevator speech exercise and presenta-tion.</li>
                <li>9:30 - 10:00 AM: Student presentations. Students should prepare a 7minute presentation
                    discussing their research. We will have 3 minutes for questions.
                    <ul>
    
                        <li>
                            <span class="ichi-presenter paper-authors">Huixue Zhou</span>,
                            Developing Natural Language Processing to Extract Comple-mentary and Integrative Health
                            Information from Electronic Health Record Data
                        </li>
                        <li>
                            <span class="ichi-presenter paper-authors">Yang Ren</span>,
                            Improving Prediction and Risk Factor Analysis of Low-Weight-Birth Outcomes in a U.S. Hospital
                            System
                        </li>
    
                    </ul>
                </li> -->
                <!-- <li>10:00 - 10:30 AM: Coffee Break</li> -->
                <!-- <li>10:30 - 12:00 Noon: Student presentations.
                    <ul>
                        <li>
                            <span class="ichi-presenter paper-authors">Arif Ahmed</span>,
                            Health information delivery using audio
                        </li>
                        <li>
                            <span class="ichi-presenter paper-authors">Zhongran Niu</span>,
                            Building Physical Activity Ontology from Electronic Health Records
                        </li>
                        <li>
                            <span class="ichi-presenter paper-authors">Kurt Miller </span>,
                            Comprehension of Contextual Semantics Across Clinical Healthcare Domains
                        </li>
                        <li>
                            <span class="ichi-presenter paper-authors">Zhecheng Sheng </span>,
                            NLP system for mining social determinant of health from clini-cal notes and its fairness
                            evaluations
                        </li>
                        <li>
                            <span class="ichi-presenter paper-authors">Michal Monselise and Christopher Yang</span>,
                            AI for Social Good in Healthcare: Moving Towards a Clear Framework and Evaluating Applications
                        </li>
                        <li>
                            <span class="ichi-presenter paper-authors">Elizabeth Williams, Daniel Gartner and Paul Harper</span>,
                            Linking Predictive and Prescriptive Analytics of Elderly and Frail Patient Hospital Services
                        </li>
                    </ul>
                </li>
                <li>12:00 - 1:00 PM: Lunch</li> -->
                <li>1:00 - 4:30 PM: Student presentations
                    <ul>
                        <li> 1:00 - 1:25 PM: <span class="ichi-presenter paper-authors">Sirui Ding</span>, Towards Precise and Equitable Organ Allocation in Transplant with Machine Learning
                        </li>
                        <li> 1:25 - 1:40 PM: <span class="ichi-presenter paper-authors">Ahmed Mohammed Patel</span>, The Design & Evaluation of an Information Visualization to Improve the Efficiency and Understanding of Patient Health State
                        </li>
                        <li> 1:40 - 1:55 PM: <span class="ichi-presenter paper-authors">Zidu Xu</span>, ElCombo: Knowledge-based Personalized Meal Recommendation System for Chinese Community-dwelling Elders
                        </li>
                       <!--  <li> 1:55 - 2:10 PM: Coffee break</li> -->
                        <li> 1:55 - 2:10 PM: <span class="ichi-presenter paper-authors">Ge Gao</span>, Trace Augmentation with Missing EHRs for Sepsis Treatments
                        </li>
                        <li> 2:10 - 2:25 PM: <span class="ichi-presenter paper-authors">Zehan Li</span>, Suicide Tendency Prediction from Psychiatric Notes Using Transformer Models
                        </li>
                        <li> 2:25 - 2:40 PM: <span class="ichi-presenter paper-authors">Bingyu Mao</span>, A deep-learning-based two-compartment predictive model (PKRNN-2CM) for vancomycin therapeutic drug monitoring
                        </li>
                        <li> 2:40 - 2:55 PM: <span class="ichi-presenter paper-authors">Sayantani Basu</span>, Machine Learning and Visualizations for Time-Series Healthcare Data
                        </li>
                    </ul>
                </li>
                <!-- <li>2:30 - 3:00 PM: Coffee break</li> -->
                <!-- <li>4:15 - 4:30 PM: Faculty Panel. -->
                    <!-- <br> -->
                    <!-- Moderator: TBD. -->
                    <!-- Moderator: John Holmes, University of Pennsylvania. -->
                    <!-- <br> -->
                    <!-- Panelists: TBD -->
                    <!-- <ul> -->

                        <!-- <li><span class="ichi-presenter paper-authors">Jochen Meyer, OFFIS, Germany</span></li>
                        <li><span class="ichi-presenter paper-authors">Christopher Yang, Drexel University, USA</span></li>
                        <li><span class="ichi-presenter paper-authors">Pierangelo Veltri, University Magna Graecia of Catanza-ro, Italy</span></li>
                        <li><span class="ichi-presenter paper-authors">Hongfang Liu, Mayo Clinic, USA</span></li>
                        </li> -->
                    <!-- </ul> -->

                </li>
                
                <!-- <li>6:00 PM: Dinner at a local restaurant: <i>Victoria</i></li> -->
    
    
            </ul>
        </div>
    
    </div>

</div>