<div class="accordion" id="acc_jun14">

<div class="accordion-body">

<h3 class="program-day-h3">
Thursday, June 29
</h3>

    <div class="session-details">
        <div id="session-k-4" class="session-info">
            <div class="session-dur-loc">
                Thursday, June 29, 8:45 - 9:45 AM 
                @Ballroom 2
            </div>
            <h4>
                {% include '_program_cme_icon.html' %}
                Keynote: TBD
                <a href="./keynotes.html#blackford_middleton">
                    <!-- Dr. Blackford Middleton -->
                </a>
            </h4>
            <p>
                <img class="keynote_img" 
                    style="width: 160px; max-width: 40%;"
                    src="./static/image/xx.jpg" 
                    alt="TBD">
                    
                <b>Abstract:</b> In this talk, 
                <!-- Dr. Middleton will highlight the essential informatics building blocks of an enabled Learning Health System, and key AI-driven components. He will talk first about modern clinical information needs, his early experiences building CDS tools in EHR, the central problem of knowledge exchange between EHRs, and the concerns regarding evaluation of a man-machine (AI)-patient triad in decision making going forward. If a shared vision is adopted across industry and academe, and enabled, he will describe one possible result: a National Knowledge Ecosystem to support a LHS. -->
            </p>

            <hr>
            
            <!-- <div class="session-dur-loc">
                Tuesday, June 14, 9:30 - 10:00 AM 
                @Ballroom 2
            </div>
            <h4>
                {% include '_program_cme_icon.html' %}
                Panel: Bridging the gaps between academia and industry for health informatics
            </h4>
            <p>
                Dr. Blackford Middleton, Dr. Andrew Nguyen, Dr. Prasanna Desikan, Dr. Xia Hu
            </p> -->
        </div>

    </div>


    <div class="session-details">
        <div id="session-i-1" class="session-info">
            <div class="session-dur-loc">
                Thursday, June 29, 10:00 AM - 12:00 PM 
                @Auditorium
            </div>
            <h4>
                {% include '_program_cme_icon.html' %}
                Industry Session
            </h4>

            {% include '_program_legend.html' %}
            {% for p in session_dict['i-1'] %}
                {% include '_program_session_paper_authors.html' %}
            {% endfor %}
        </div>

    </div>


    <div class="session-details">
        <div id="session-k-5" class="session-info">
            <div class="session-dur-loc">
                Thursday, June 29, 12:00 - 12:30 PM 
                @Auditorium
            </div>
            <h4>
                Close Session
            </h4>

            <p>
                
            </p>
        </div>

    </div>


</div>


</div>