<h2 class="mt-5">
    Tuesday, June 27
</h2>
{% if show_calendar %}

<table id="program_table_day_1"
    class="program-table mt-4 mb-4">
<tr>
    <th width="70px">&nbsp;</th>
    <th class="th-room">Auditorium</th>
    <th class="th-room">BRC 282</th>
    <th class="th-room">BRC 284</th>
    <th class="th-room">BRC 285</th>
    <th class="th-room">BRC 286</th>
</tr>
<tr>
    <td class="td-time">
        <div class="time">
            7:30 AM
        </div>
        <div class="time time-bottom time-bottom-down">
            8:30 AM
        </div>
    </td>
    <td colspan="6" class="td-slot">
        <div class="slot slot-break">
            Registration @Prefunction Space
            <br>
            Breakfast @Exhibition Space
        </div>
    </td>
    <td>
        &nbsp;
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            10:00 AM
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('d-2')" class="slot slot-small slot-session slot-session-d">
            <span class="txt-sm">
                Doctoral Consortium
            </span>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('t-1')" class="slot slot-small slot-session slot-session-t">
            <span class="txt-sm">
                Tutorial 1 
            </span>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('t-2')" class="slot slot-small slot-session slot-session-t">
            <span class="txt-sm">
                Tutorial 2 
            </span>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('t-3')" class="slot slot-small slot-session slot-session-t">
            <span class="txt-sm">
                Tutorial 3
            </span>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('t-4')" class="slot slot-small slot-session slot-session-t">
            <span class="txt-sm">
                Tutorial 4 
            </span>
        </div>
    </td>

</tr>
<tr>
    <td class="td-time">
        <div class="time time-bottom time-bottom-down">
            10:20 AM
        </div>
    </td>
    <td colspan="6" class="td-slot">
        <div class="slot slot-break">
            <i class="fas fa-coffee"></i>
            Coffee Break @Event/Exhibition Space
        </div>
    </td>
</tr>


<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            12:00 PM
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('d-2')" class="slot slot-small slot-session slot-session-d">
            <span class="txt-sm">
                Doctoral Consortium
            </span>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('t-1')" class="slot slot-small slot-session slot-session-t">
            <span class="txt-sm">
                Tutorial 1 
            </span>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('t-2')" class="slot slot-small slot-session slot-session-t">
            <span class="txt-sm">
                Tutorial 2
            </span>
        </div>
    </td>
    
    <td class="td-slot">
        <div onclick="show_session_info('t-3')" class="slot slot-small slot-session slot-session-t">
            <span class="txt-sm">
                Tutorial 3
            </span>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('t-4')" class="slot slot-small slot-session slot-session-t">
            <span class="txt-sm">
                Tutorial 4
            </span>
        </div>
    </td>
    
</tr>

<tr>
    <td class="td-time">
        <div class="time time-bottom time-bottom-down">
            1:00 PM
        </div>
    </td>
    <td colspan="6" class="td-slot">
        <div class="slot slot-break">
            <i class="fas fa-utensils"></i> 
            Lunch @Event/Exhibition Space
        </div>
    </td>
</tr>

<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            1:20 PM
        </div>
    </td>
    <td colspan="5" class="td-slot">
        <div onclick="show_session_info('wl-1')" class="slot slot-large slot-session slot-session-p">
            Welcome Session
            <br>
            
            <br>
            TBD
            <br>
            @Auditorium
        </div>
    </td>
</tr>

<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            2:15 PM
        </div>
    </td>
    <td colspan="5" class="td-slot">
        <div onclick="show_session_info('k-3')" 
            class="slot slot-large slot-session slot-session-k">
            {% include '_program_cme_icon.html' %}
            <span class="txt-sm">
                Keynote 1:
            </span>
            <span>
                TBD
            </span>
            <br>
            <span>
                TBD
            </span>
            <br>
            @Auditorium
        </div>
    </td>
</tr>

<tr>
    <td class="td-time">
        <div class="time time-bottom time-bottom-down">
            2:30 PM
        </div>
    </td>
    <td colspan="6" class="td-slot">
        <div class="slot slot-break">
            <i class="fas fa-coffee"></i>
            Coffee Break @Event/Exhibition Space
        </div>
    </td>
</tr>

<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            4:00 PM
        </div>
    </td>
    
    <td class="td-slot">
        <div onclick="show_session_info('pl-1')" class="slot slot-small slot-session slot-session-d">
            <span class="txt-sm">
                ChatGPT and Other Panel
            </span>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('a-1')" class="slot slot-small slot-session slot-session-a">
            {% include '_program_cme_icon.html' %}
            <span class="txt-sm">
                Analytics 1
            </span>
            <br>
            <!-- <b>Event Prediction</b> -->
            <br>
            <!-- <span class="session-loc">@Suite 109</span> -->
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('s-1')" class="slot slot-small slot-session slot-session-s">
            {% include '_program_cme_icon.html' %}
            <span class="txt-sm">
                Systems 1
            </span>
            <br>
            <!-- <b>Wearables &amp; Monitoring</b>
            <br>
            <span class="session-loc">@Suite 110</span> -->
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('h-1')" class="slot slot-small slot-session slot-session-h">
            {% include '_program_cme_icon.html' %}
            <span class="txt-sm">
                Human Factors 1
            </span>
            <br>
            <!-- <b>Self Management</b>
            <br>
            <span class="session-loc">@Suite 111</span> -->
        </div>
    </td>

    <td class="td-slot">
        
    </td>
    
</tr>

<!-- <tr>
    <td class="td-time">
        <div class="time time-bottom time-bottom-down">
            3:00 PM
        </div>
    </td>
    <td colspan="6" class="td-slot">
        <div class="slot slot-break">
            <i class="fas fa-coffee"></i>
            Coffee Break @Suite 104
        </div>
    </td>
</tr> -->

<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom">
            5:30 PM
        </div>
    </td>
    <td colspan="5" class="td-slot">
        <div onclick="show_session_info('p-1')" class="slot slot-large slot-session slot-session-p">
            Poster & Demo Sessions
            <br>
            
            <br>
            @Event/Exhibition Space
        </div>
    </td>
</tr>

<tr>
    <td class="td-time">
        <div class="time time-top time-top-down">
            8:00 PM
        </div>
    </td>
    <td colspan="5" class="td-slot">
        <div class="slot slot-large slot-session slot-session-0">
            Reception
            <br>
            @SBMI
        </div>
    </td>
</tr>
</table>

{% endif %}

