<h2>
    Saturday, June 11
</h2>
<table class="program-table mt-4 mb-4">
<tr>
    <th width="70px">&nbsp;</th>
    <th class="th-room">Suite 101</th>
    <th class="th-room">Suite 102</th>
    <th class="th-room">Suite 103</th>
    <th class="th-room">Suite 104</th>
    <th class="th-room">Suite 105</th>
    <th class="th-room">Suite 106</th>
    <th class="th-room">Virtual</th>
</tr>
<tr>
    <td class="td-time">
        <div class="time">
            7:30 AM
        </div>
        <div class="time time-bottom time-bottom-down">
            8:30 AM
        </div>
    </td>
    <td colspan="6" class="td-slot">
        <div class="slot slot-break">
            Registration
        </div>
    </td>
    <td>
        &nbsp;
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            10:00 AM
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('d-1')" class="slot slot-small slot-session slot-session-d">
            <span class="txt-sm">
                Doctoral Consortium
            </span>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('t-1')" class="slot slot-small slot-session slot-session-t">
            <span class="txt-sm">
                Tutorial 1 
            </span>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('t-2')" class="slot slot-small slot-session slot-session-t">
            <span class="txt-sm">
                Tutorial 2 
            </span>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('w-2')" class="slot slot-small slot-session slot-session-w">
            <b>HI-Edu 2022</b>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('w-1')" class="slot slot-small slot-session slot-session-w">
            <b>HealthNLP 2022</b>
            <br>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('w-3')" class="slot slot-small slot-session slot-session-w">
            <b>XAI-Healthcare</b>
        </div>
    </td>

    <td rowspan="5">
        <div onclick="show_session_info('w-4')" 
            class="slot slot-small slot-session slot-session-w"
            style="height: 15em; margin-top: -3em;">
            <b>Machine Learning in Healthcare Data for Precision Medicine</b>
        </div>
    </td>

</tr>
<tr>
    <td class="td-time">
        <div class="time time-bottom time-bottom-down">
            10:30 AM
        </div>
    </td>
    <td colspan="6" class="td-slot">
        <div class="slot slot-break">
            <i class="fas fa-coffee"></i>
            Coffee Break
        </div>
    </td>
</tr>


<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            12:00 PM
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('d-1')" class="slot slot-small slot-session slot-session-d">
            <span class="txt-sm">
                Doctoral Consortium
            </span>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('t-1')" class="slot slot-small slot-session slot-session-t">
            <span class="txt-sm">
                Tutorial 1 
            </span>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('t-2')" class="slot slot-small slot-session slot-session-t">
            <span class="txt-sm">
                Tutorial 2
            </span>
        </div>
    </td>
    
    <td class="td-slot">
        <div onclick="show_session_info('w-2')" class="slot slot-small slot-session slot-session-w">
            <b>HI-Edu 2022</b>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('w-1')" class="slot slot-small slot-session slot-session-w">
            <b>HealthNLP 2022</b>
            <br>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('w-3')" class="slot slot-small slot-session slot-session-w">
            <b>XAI-Healthcare</b>
        </div>
    </td>
    
</tr>

<tr>
    <td class="td-time">
        <div class="time time-bottom time-bottom-down">
            1:00 PM
        </div>
    </td>
    <td colspan="6" class="td-slot">
        <div class="slot slot-break">
            <i class="fas fa-utensils"></i> Lunch
        </div>
    </td>
</tr>

<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            2:30 PM
        </div>
    </td>
    
    
    <td class="td-slot">
        <div onclick="show_session_info('t-1')" class="slot slot-small slot-session slot-session-d">
            <span class="txt-sm">
                Doctoral Consortium
            </span>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('t-3')" class="slot slot-small slot-session slot-session-t">
            <span class="txt-sm">
                Tutorial 3
            </span>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('t-2')" class="slot slot-small slot-session slot-session-t">
            <span class="txt-sm">
                Tutorial 2
            </span>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('w-2')" class="slot slot-small slot-session slot-session-w">
            <b>HI-Edu 2022</b>
        </div>
    </td>

    <td class="td-slot">
        
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('w-3')" class="slot slot-small slot-session slot-session-w">
            <b>XAI-Healthcare</b>
        </div>
    </td>
    
</tr>

<tr>
    <td class="td-time">
        <div class="time time-bottom time-bottom-down">
            3:00 PM
        </div>
    </td>
    <td colspan="6" class="td-slot">
        <div class="slot slot-break">
            <i class="fas fa-coffee"></i>
            Coffee Break
        </div>
    </td>
</tr>

<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            4:30 PM
        </div>
    </td>
    <td class="td-slot">
        <div onclick="show_session_info('t-2')" class="slot slot-small slot-session slot-session-d">
            <span class="txt-sm">
                Doctoral Consortium
            </span>
        </div>
    </td>


    <td class="td-slot">
        <div onclick="show_session_info('t-3')" class="slot slot-small slot-session slot-session-t">
            <span class="txt-sm">
                Tutorial 3
            </span>
        </div>
    </td>

    <td class="td-slot">
        <div onclick="show_session_info('t-2')" class="slot slot-small slot-session slot-session-t">
            <span class="txt-sm">
                Tutorial 2 
            </span>
        </div>
    </td>


    <td class="td-slot">

    </td>


    <td class="td-slot">
        
    </td>


    <td class="td-slot">

    </td>
</tr>

</table>

<div class="accordion" id="acc_jun11">
<div class="accordion-item">
    <h2 class="accordion-header" id="heading_jun11">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_jun11" aria-expanded="false" aria-controls="collapse_jun11">
            Detailed Session Information of June 11
        </button>
    </h2>
    <div id="collapse_jun11" class="accordion-collapse collapse" aria-labelledby="heading_jun11"
        data-bs-parent="#acc_jun11">
        <div class="accordion-body">

            <div class="session-details">
                <div id="session-w-2" class="session-info">
                    <div class="session-dur-loc">
                        @Suite 102
                    </div>
                    <h4>
                        <a target="_blank"
                            href="https://sites.pitt.edu/~lzhou1/HIEDU2022.html">
                            The 1st International Workshop on Health Informatics Education (HI-Edu 2022)
                        </a>
                    </h4>


                    {% include '_workshop_HIEDU.html' %}
                </div>

            </div>


            <div class="session-details">
                <div id="session-w-1" class="session-info">
                    <div class="session-dur-loc">
                        @Suite 103
                    </div>
                    <h4>
                        <a target="_blank"
                            href="https://www.healthnlp.info/">
                            The 5th International Workshop on Health Natural Language Processing (HealthNLP 2022)
                        </a>
                    </h4>

                    <p>
                        TBD
                    </p>
                </div>

            </div>


            <div class="session-details">
                <div id="session-w-3" class="session-info">
                    <div class="session-dur-loc">
                        @Suite 104
                    </div>
                    <h4>
                        <a target="_blank"
                            href="https://www.um.es/aike/events/XAI-Healthcare/">
                            The 2nd International Workshop on eXplainable Artificial Intelligence in Healthcare
                        </a>
                    </h4>

                    <p>
                        TBD
                    </p>

                    
                </div>

            </div>


            <div class="session-details">
                <div id="session-w-4" class="session-info">
                    <div class="session-dur-loc">
                        Virtual Session 
                        @Microsoft Teams
                    </div>
                    <h4>
                        <a target="_blank"
                            href="http://healthcaredata.gsu.edu.tr/">
                            The 2nd Machine Learning in Healthcare Data for Precision Medicine
                        </a>
                    </h4>
                    <p>
                        Workshop Chair: Sultan Turhan
                    </p>
                    <style>
                    .table-mlhdpm {
                        width: 100%;
                        font-size: .9em;
                    }
                    .table-mlhdpm th,
                    .table-mlhdpm td {
                        border-right: 1px solid #efefef;
                        border-bottom: 1px solid #efefef;
                        padding: 5px;
                    }
                    .table-mlhdpm tr:hover {
                        background-color: #efefef;
                    }
                    </style>
                    <table class="table-mlhdpm">
                        <tr>
                            <th width="100px">Time</th>
                            <th>Presentation</th>
                        </tr>
                        <tr>
                            <td>9:00 - 9:15</td>
                            <td>
                                <b>Welcome</b>
                            </td>
                        </tr>
                        <tr>
                            <td>9:15 - 9:35</td>
                            <td>
                                Keynote Speech
                                <br>
                                <i class="fa fa-user"></i>
                                <i>Sultan Turhan</i>
                            </td>
                        </tr>
                        <tr>
                            <td>9:35 - 9:55</td>
                            <td>
                                3864 - An xAI Thick Data Assisted Caption Generation for Labeling Severity of Ulcerative Colitis Video Colonoscopy
                                <br>
                                <i class="fa fa-user"></i>
                                <i>Jinan Fiaidhi</i>
                            </td>
                        </tr>
                        <tr>
                            <td>9:55 - 10:15</td>
                            <td>8693 - Value-Based Healthcare Translational Data Analytics using the Problem Oriented Medical Record Graph Representation
                                <br>
                                <i class="fa fa-user"></i>
                                <i>Sabah Mohammed</i>

                                </td>
                        </tr>
                        <tr>
                            <td>10:15 - 11:45</td>
                            <td>
                                <b>Coffee Break</b>
                            </td>
                        </tr>
                        <tr>
                            <td>11:45 - 12:05</td>
                            <td>6411 - Improving Prediction and Risk Factor Analysis of Low-Weight-Birth Outcomes in a U.S. Hospital System<br>
                                <i class="fa fa-user"></i>
                                <i>Yang Ren</i>
                            </td>
                        </tr>
                        <tr>
                            <td>12:05 - 12:25</td>
                            <td>6513 - Using D-Dimer as a Biomarker to Predict Disease Severity and Clinical Outcomes with a Large COVID-19 Inpatient Cohort: A Machine Learning Approach<br>
                                <i class="fa fa-user"></i>
                                <i>Yuqi Wu</i>
                            </td>
                        </tr>
                        <tr>
                            <td>12:25 - 12:45</td>
                            <td>7570 - Acute Kidney Injury Prediction with Gradient Boosting Decision Trees enriched with Temporal Features<br>
                                <i class="fa fa-user"></i>
                                <i>Stela Golovco</i>
                            </td>
                        </tr>
                        <tr>
                            <td>12:45 - 13:00</td>
                            <td>
                                <b>Closing Remarks</b>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>




            <div class="session-details">
                <div id="session-d-1" class="session-info">
                    <div class="session-dur-loc">
                        @Suite 101
                    </div>
                    <h4>
                        Doctoral Consortium
                    </h4>

                    <p>
                        TBD
                    </p>
                </div>

            </div>




            <div class="session-details">
                <div id="session-t-1" class="session-info">
                    <div class="session-dur-loc">
                        @Suite 105
                    </div>
                    <h4>
                        Tutorial 1: Computational Drug Target Prediction: Benchmark and Experiments
                    </h4>

                    {% include '_tutorial_1_CDTP.html' %}
                </div>

            </div>




            <div class="session-details">
                <div id="session-t-2" class="session-info">
                    <div class="session-dur-loc">
                        @Suite 106
                    </div>
                    <h4>
                        Tutorial 2: Prescriptive Healthcare Analytics: a Tutorial on Discrete Optimization and Simulation
                    </h4>

                    {% include '_tutorial_2_PHA.html' %}
                </div>

            </div>




            <div class="session-details">
                <div id="session-t-3" class="session-info">
                    <div class="session-dur-loc">
                        @Suite 106
                    </div>
                    <h4>
                        Tutorial 3: Data Science for Healthcare via an E-Learning Statistics Platform
                    </h4>

                    {% include '_tutorial_3_DSH.html' %}
                </div>

            </div>

        </div>
    </div>
</div>

</div>