<div class="accordion" id="acc_jun13">
    
<div class="accordion-body">

<h3 class="program-day-h3">
Wednesday, June 28
</h3>



    <div class="session-details">
        <div id="session-k-p3" class="session-info">
            <div class="session-dur-loc">
                Wednesday, June 28, 7:30 - 8:45 AM 
                @Event/Exhibition Space
            </div>
            <h4>
                Women in Healthcare Informatics
            </h4>

            <p>
            </p>
        </div>

    </div>



    <div class="session-details">
        <div id="session-k-2" class="session-info">
            <div class="session-dur-loc">
                Wednesday, June 28, 9:00 - 10:00 AM 
                @Auditorium
            </div>
            <h4>
                {% include '_program_cme_icon.html' %}
                Keynote 2: Explainable Deep Tabular Learning Models for Biomedical and Healthcare Applications
                <br>
                <a href="https://engineering.virginia.edu/faculty/aidong-zhang">Dr. Aidong Zhang</a>
            </h4>

            <p>
                <img class="keynote_img" style="width: 160px; max-width: 40%;"
                    src="./static/people/ZhangA_003-jpg.jpg" 
                    alt="Dr. Aidong Zhang">
                <b>Abstract:</b> 
                Neural networks have achieved great success in many tasks. However, their black-box nature limits their use in sensitive areas such as medical applications in which both performance in accuracy and intelligibility are critically important. In this talk, I will discuss our recent research on explainable deep tabular learning, a specific kind of deep learning models for tabular data which is very common in medical and healthcare applications. In particular, I will show how the concept-based learning models and example-based learning models can be designed for explainable deep tabular learning. I will also discuss their applications in biomedicine and healthcare.
            </p>
        </div>

    </div>


    <div class="session-details">
        <div id="session-a-2" class="session-info">
            <div class="session-dur-loc">
                Wednesday, June 28, 10:30 - 12:00 PM 
                @BRC 282
            </div>
            <h4>
                {% include '_program_cme_icon.html' %}
                <span class="session-number">
                    A2
                </span>
                Analytics Session 2: Deep Learning
            </h4>

            <!-- <p class="txt-session-chair">
                Session Chair: 
            </p> -->
            {% include '_program_legend.html' %}
            {% for p in session_dict['a-2'] %}
                {% include '_program_session_paper_presenter.html' %}
            {% endfor %}
        </div>

    </div>

    <div class="session-details">
        <div id="session-a-3" class="session-info">
            <div class="session-dur-loc">
                Wednesday, June 28, 10:30 - 12:00 PM 
                @BRC 284
            </div>
            <h4>
                {% include '_program_cme_icon.html' %}
                <span class="session-number">
                    A3
                </span>
                Analytics Session 3: Representations
            </h4>

            <!-- <p class="txt-session-chair">
                Session Chair: 
            </p> -->
            {% include '_program_legend.html' %}
            {% for p in session_dict['a-3'] %}
                {% include '_program_session_paper_presenter.html' %}
            {% endfor %}
        </div>

    </div>



    <div class="session-details">
        <div id="session-h-2" class="session-info">
            <div class="session-dur-loc">
                Wednesday, June 28, 10:30 - 12:00 PM 
                @BRC 286
            </div>
            <h4>
                {% include '_program_cme_icon.html' %}
                <span class="session-number">
                    H2
                </span>
                Human Factors Session 2: 
            </h4>

            <!-- <p class="txt-session-chair">
                Session Chair: 
            </p> -->
            {% include '_program_legend.html' %}
            {% for p in session_dict['h-2'] %}
                {% include '_program_session_paper_presenter.html' %}
            {% endfor %}
        </div>

    </div>



    <div class="session-details">
        <div id="session-a-4" class="session-info">
            <div class="session-dur-loc">
                Wednesday, June 28, 1:00 - 2:30 PM 
                @BRC 282
            </div>
            <h4>
                {% include '_program_cme_icon.html' %}
                <span class="session-number">
                    A4
                </span>
                Analytics Session 4: COVID Related
            </h4>

            <!-- <p class="txt-session-chair">
                Session Chair: 
            </p> -->
            {% include '_program_legend.html' %}
            {% for p in session_dict['a-4'] %}
                {% include '_program_session_paper_presenter.html' %}
            {% endfor %}
        </div>

    </div>

    <div class="session-details">
        <div id="session-a-5" class="session-info">
            <div class="session-dur-loc">
                Wednesday, June 28, 1:00 - 2:30 PM 
                @BRC 284
            </div>
            <h4>
                {% include '_program_cme_icon.html' %}
                <span class="session-number">
                    A5
                </span>
                Analytics Session 5: NLP
            </h4>

            <!-- <p class="txt-session-chair">
                Session Chair: 
            </p> -->
            {% include '_program_legend.html' %}
            {% for p in session_dict['a-5'] %}
                {% include '_program_session_paper_presenter.html' %}
            {% endfor %}
        </div>

    </div>




    <div class="session-details">
        <div id="session-a-6" class="session-info">
            <div class="session-dur-loc">
                Wednesday, June 28, 1:00 - 2:30 PM 
                @BRC 286
            </div>
            <h4>
                {% include '_program_cme_icon.html' %}
                <span class="session-number">
                    A6
                </span>
                Analytics Session 6: Spatio-Temporal
            </h4>

            <!-- <p class="txt-session-chair">
                Session Chair: 
            </p> -->
            {% include '_program_legend.html' %}
            {% for p in session_dict['a-6'] %}
                {% include '_program_session_paper_presenter.html' %}
            {% endfor %}
        </div>

    </div>

    <div class="session-details">
        <div id="session-a-7" class="session-info">
            <div class="session-dur-loc">
                Wednesday, June 28, 3:00 - 4:30 PM 
                @BRC 282
            </div>
            <h4>
                {% include '_program_cme_icon.html' %}
                <span class="session-number">
                    A7
                </span>
                Analytics Session 7: Phenotyping, Fairness and Explainability
            </h4>

            <!-- <p class="txt-session-chair">
                Session Chair: 
            </p> -->
            {% include '_program_legend.html' %}
            {% for p in session_dict['a-7'] %}
                {% include '_program_session_paper_presenter.html' %}
            {% endfor %}
        </div>

    </div>


    <div class="session-details">
        <div id="session-a-8" class="session-info">
            <div class="session-dur-loc">
                Wednesday, June 28, 3:00 - 4:30 PM 
                @BRC 284
            </div>
            <h4>
                {% include '_program_cme_icon.html' %}
                <span class="session-number">
                    A8
                </span>
                Analytics Session 8: Deep Learning (2)
            </h4>

            <!-- <p class="txt-session-chair">
                Session Chair: 
            </p> -->
            {% include '_program_legend.html' %}
            {% for p in session_dict['a-8'] %}
                {% include '_program_session_paper_presenter.html' %}
            {% endfor %}
        </div>

    </div>




    <div class="session-details">
        <div id="session-r-2" class="session-info">
            <div class="session-dur-loc">
                Wednesday, June 28, 3:00 - 4:30 PM 
                @Remote
            </div>
            <h4>
                Remote Session
            </h4>

            <p>
                Paper presentations (3:00 PM - 4:30 PM)<br>
    Accepted Papers (15 minutes each, 12 minutes for presentation, 3 minutes for discussion)<br>
    <ul>
    <li>
        Chen Lin, Jianghong Zhou, Jing Zhang, Carl Yang and Eugene Agichtein, (2023),
    "Graph Neural Network Modeling of Web Search Activity for Real-time Pandemic Forecasting" <br>
    </li><li>
    Lin Li, Mimi Liu, Cong Lai, Weidong Ji, Kewei Xu and Yi Zhou, (2023), 
    "Analysis of residual stones in patients and related influencing factors after percutaneous nephrolithotomy: a retrospective study"<br>
    </li><li>
        Arthur Ricardo Sousa Vitoria, Adriel Lennner Vinhal Mori, Diogo Fernandes Costa Silva, Daniel do Prado Pagotto, Clarimar José Coelho and Arlindo Rodrigues Galvão Filho, (2023), 
    "Live births forecasting across health regions of Goiás using artificial neural networks: a clustering approach<br>
    
    </li></ul>

</ul>
            </p>
        </div>
    </div>

    <div class="session-details">
        <div id="session-chat-2" class="session-info">
            <div class="session-dur-loc">
                Wednesday, June 28, 3:00 - 4:30 PM 
                @Auditorium
            </div>
            <h4>
                Panel: Resuming Healthcare Informatics Research after CoViD-19: The Healthcare System Perspective
            </h4>

            <p>
                TBD
            </p>
        </div>
    </div>

    <div class="session-details">
        <div id="session-chat-1" class="session-info">
            <div class="session-dur-loc">
                Wednesday, June 28, 4:30 - 5:30 PM 
                @Auditorium
            </div>
            <h4>
                ChatGPT Panel
            </h4>

            <p>
                TBD
            </p>
        </div>
    </div>


</div>


</div>