<div class="accordion" id="acc_jun14">

<div class="accordion-body">

<h3 class="program-day-h3">
Thursday, June 6
</h3>

    <div class="session-details">
        <div id="session-k-3" class="session-info">
            <div class="session-dur-loc">
                Thursday, June 6, 8:30 - 9:30 AM 
                @Auditorium(First Floor)
            </div>
            <h5>
                {% include '_program_cme_icon.html' %}
                Keynote 3: From Code to Clinic: Ingredients for the Translation of AI Algorithms to the Point of Care
                <br>
                <a href="https://mml.ikim.nrw/">
                    Jens Kleesiek, MD PhD, PhD
                </a>
            </h5>
            <p>
                <img class="keynote_img" 
                    style="width: 160px; max-width: 40%;"
                    src="./static/image/Jens-Kleesiek.jpeg" 
                    alt="Jens Kleesiek">
                
                    <ul>
                        <li>Director Medical Machine Learning, Institute for AI in Medicine (IKIM)</li>
                        <li>Associate Director for Data and IT, West German Cancer Center (WTZ)</li>
                        <li>University Hospital Essen, Germany</li>
                        <li>Full-Professor for Translational Image-guided Oncology, University of Duisburg-Essen, Germany</li>
                        <li>Professor of Physics (Adjunct), Dortmund Technical University, Germany</li>
                    </ul>    

                <b>Abstract:</b> 
                AI algorithms are widely recognized as having a crucial role in the future of healthcare and patient care. However, their successful implementation faces several challenges. Most importantly, tangible benefits for patients remain to be shown. Others include certification, monitoring, and billing. This presentation will discuss challenges and necessary components for delivering algorithms at the point of care. The University Hospital Essen, Germany has developed a suitable ecosystem, comprising both people and machines. Practical examples will be provided, and lessons learned will be discussed.
            </p>

            <hr>
            
            <!-- <div class="session-dur-loc">
                Tuesday, June 14, 9:30 - 10:00 AM 
                @Ballroom 2
            </div>
            <h4>
                {% include '_program_cme_icon.html' %}
                Panel: Bridging the gaps between academia and industry for health informatics
            </h4>
            <p>
                Dr. Blackford Middleton, Dr. Andrew Nguyen, Dr. Prasanna Desikan, Dr. Xia Hu
            </p> -->
        </div>

    </div>


    <div class="session-details">
        <div id="session-i-1" class="session-info">
            <div class="session-dur-loc">
                Thursday, June 6, 10:00 AM - 12:00 PM 
                @Auditorium(First Floor)
            </div>
            <h5>
                {% include '_program_cme_icon.html' %}
                Industry Research in Healthcare Informatics	(Session Chair: Dr. Jens Kleesiek)
            </h5>

            {% include '_program_legend.html' %}
            <ul>
                <li>Clustering Patterns of Use of an Application Delivering Visualizations of Robotic Surgery Data
                    <ul><li><i>Robert Mostellar and Gretchen Jackson</i></li></ul>
                </li>
                <li>Detecting Clinical Intent in Electronic Healthcare Records in a UK National Healthcare Hospital
                    <ul><li><i>Kawsar Noor, Katherine Smith, Niamh Ingram, Baptise Ribyere, Tom Searle, Wai Keong Wong and Richard Dobson</i></li></ul>
                </li>
                <li>Harness the Power of Generative AI in Healthcare with Amazon AI/ML Services
                    <ul><li><i>Sherry Ding and Veda Raman</i></li></ul>
                </li>
                <li>Interpretable Hierarchical Attention Network for Medical Condition Identification
                    <ul><li><i>Dongping Fang, Lian Duan, Xiaojing Yuan, Allyn Klunder, Kevin Tan, Suiting Cao, Yeqing Ji and Mike Xu</i></li></ul>
                </li>
                <li>Kamino: A Scalable Architecture to Support Medical AI Research Using Large Real World Data
                    <ul><li><i>Fongci Lin, Patrick Young, Huan He, Jimin Huang, Roger Gagne, Daniel Rice, Nathan Price, Will Byron, Yan Hu, Donn Felker, Will Button, Deniella Meeker, Allen Hsiao, Hua Xu, Charles Torre Jr and Wade Schulz</i></li></ul>
                </li>
                <li>Leveraging Electronic Health Record Systems and Interoperability for Improved Decision Making in Emergency Departments: A Case Study on Troponin Test Decision-Making	
                    <ul><li><i>Joshi Herat</i></li></ul>
                </li>
            </ul>
        </div>

    </div>


    <div class="session-details">
        <div id="session-k-5" class="session-info">
            <div class="session-dur-loc">
                Thursday, June 6, 12:00 - 12:30 PM 
                @Auditorium (First Floor)
            </div>
            <h5>
                Closing Session
            </h5>

            <p>
                
            </p>
        </div>

    </div>


</div>


</div>