<h2 class="mt-5">
    Monday, June 13
</h2>
<table class="program-table">
<tr>
    <th width="70px">&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
</tr><tr>
    <td class="td-time">
        <div class="time time-top">
            7:30 AM
        </div>
        <div class="time time-bottom">
            8:45 AM
        </div>
    </td>
    <td class="td-slot">
        <div class="slot slot-break">
            Registration + Breakfast
        </div>
    </td>
    <td class="td-slot">
        <div onclick="show_session_info('v-1')" 
            class="slot slot-session slot-session-v">
            Virtual Special Session
            <br>
            @zoom
        </div>
    </td>
    <td class="td-slot">
        <div onclick="show_session_info('k-p3')" 
            class="slot slot-session slot-session-k">
            Women in Healthcare Informatics 
            <br>
            @Ballroom
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-bottom time-bottom-down">
            9:00 AM
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div class="slot slot-blank-break">
            &nbsp;
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            10:00 AM
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div onclick="show_session_info('k-2')" 
            class="slot slot-large slot-session slot-session-k">
            Human Factors Track Keynote
            <br>
            @Ballroom
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-bottom time-bottom-down">
            10:30 AM
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div class="slot slot-break">
            <i class="fas fa-coffee"></i>
            Coffee Break
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            12:00 PM
        </div>
    </td>
    <td class="td-slot">
        <div onclick="show_session_info('a-5')" class="slot slot-small slot-session slot-session-a">
            <span class="txt-sm">
                Analytics S.5
            </span>
            <br>
            <b>Prediction &amp; Classifition</b>
            <br>
            <span class="session-loc">@Suite 102</span>
        </div>
    </td>
    <td class="td-slot">
        <div onclick="show_session_info('s-2')" class="slot slot-small slot-session slot-session-s">
            <span class="txt-sm">
                Systems S.2
            </span>
            <br>
            <b>Wearables &amp; Monitoring</b>
            <br>
            <span class="session-loc">@Suite 103</span>
        </div>
    </td>
    <td class="td-slot">
        <div onclick="show_session_info('h-2')" class="slot slot-small slot-session slot-session-h">
            <span class="txt-sm">
                Human Factors S.2
            </span>
            <br>
            <b>Self Management</b>
            <br>
            <span class="session-loc">@Suite 104</span>
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-bottom time-bottom-down">
            1:00 PM
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div class="slot slot-break">
            <i class="fas fa-utensils"></i> Lunch
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            2:30 PM
        </div>
    </td>
    <td class="td-slot">
        <div onclick="show_session_info('a-6')" class="slot slot-small slot-session slot-session-a">
            <span class="txt-sm">
                Analytics S.6
            </span>
            <br>
            <b>Event Prediction</b>
            <br>
            <span class="session-loc">@Suite 102</span>
        </div>
    </td>
    <td class="td-slot">
        <div onclick="show_session_info('a-7')" class="slot slot-small slot-session slot-session-a">
            <span class="txt-sm">
                Analytics S.7
            </span>
            <br>
            <b style="font-stretch: semi-condensed;">Visualization &amp; Explainable AI</b>
            <br>
            <span class="session-loc">@Suite 103</span>
        </div>
    </td>
    <td class="td-slot">
        <div onclick="show_session_info('h-3')" class="slot slot-small slot-session slot-session-h">
            <span class="txt-sm">
                Human Factors S.3
            </span>
            <br>
            <b>AI-based Applications</b>
            <br>
            <span class="session-loc">@Suite 104</span>
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-bottom time-bottom-down">
            3:00 PM
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div class="slot slot-break">
            <i class="fas fa-coffee"></i>
            Coffee Break
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom">
            5:00 PM
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div onclick="show_session_info('p-1')" class="slot slot-large slot-session slot-session-p">
            Poster &amp; Demo Session
            <br>
            @Ballroom Lobby West and South
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-top time-top-down">
            6:00 PM
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div class="slot slot-large slot-session slot-session-0">
            Social Event (Sponsored by Mayo Clinic Department of AI&I)
        </div>
    </td>
</tr>
</table>


<div class="accordion" id="acc_jun13">
<div class="accordion-item">
    <h2 class="accordion-header" id="heading_jun13">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_jun13" aria-expanded="false" aria-controls="collapse_jun13">
            Detailed Session Information of June 13
        </button>
    </h2>
    <div id="collapse_jun13" class="accordion-collapse collapse" aria-labelledby="heading_jun13"
        data-bs-parent="#acc_jun13">
        <div class="accordion-body">



            <div class="session-details">
                <div id="session-v-1" class="session-info">
                    <div class="session-dur-loc">
                        7:30 - 8:45 AM 
                        @zoom
                    </div>
                    <h4>
                        Virtual Special Session
                    </h4>

                    <p>
                        TBD
                    </p>
                </div>

            </div>



            <div class="session-details">
                <div id="session-k-p3" class="session-info">
                    <div class="session-dur-loc">
                        7:30 - 8:45 AM 
                        @Ballroom
                    </div>
                    <h4>
                        Women in Healthcare Informatics
                    </h4>

                    <p>
                        TBD
                    </p>
                </div>

            </div>



            <div class="session-details">
                <div id="session-k-3" class="session-info">
                    <div class="session-dur-loc">
                        8:30 - 10:00 AM 
                        @Ballroom
                    </div>
                    <h4>
                        Human Factors Track Keynote
                    </h4>

                    <p>
                        TBD
                    </p>
                </div>

            </div>


            <div class="session-details">
                <div id="session-a-5" class="session-info">
                    <div class="session-dur-loc">
                        10:30 AM - 12:00 PM 
                        @Suite 102
                    </div>
                    <h4>
                        Analytics Session 5: Prediction &amp; Classifition
                    </h4>
                    {% include '_program_legend.html' %}
                    {% for p in session_dict['a-5'] %}
                        {% include '_program_session_paper.html' %}
                    {% endfor %}
                </div>

            </div>



            <div class="session-details">
                <div id="session-s-2" class="session-info">
                    <div class="session-dur-loc">
                        10:30 AM - 12:00 PM 
                        @Suite 103
                    </div>
                    <h4>
                        System Session 2: Wearables &amp; Monitoring
                    </h4>
                    {% include '_program_legend.html' %}
                    {% for p in session_dict['s-2'] %}
                        {% include '_program_session_paper.html' %}
                    {% endfor %}
                </div>

            </div>



            <div class="session-details">
                <div id="session-h-2" class="session-info">
                    <div class="session-dur-loc">
                        10:30 AM - 12:00 PM 
                        @Suite 104
                    </div>
                    <h4>
                        Human Factors Session 2: Self Management
                    </h4>
                    {% include '_program_legend.html' %}
                    {% for p in session_dict['h-2'] %}
                        {% include '_program_session_paper.html' %}
                    {% endfor %}
                </div>

            </div>



            <div class="session-details">
                <div id="session-a-6" class="session-info">
                    <div class="session-dur-loc">
                        1:00 - 2:30 PM 
                        @Suite 102
                    </div>
                    <h4>
                        Analytics Session 6: Event Prediction
                    </h4>
                    {% include '_program_legend.html' %}
                    {% for p in session_dict['a-6'] %}
                        {% include '_program_session_paper.html' %}
                    {% endfor %}
                </div>

            </div>



            <div class="session-details">
                <div id="session-a-7" class="session-info">
                    <div class="session-dur-loc">
                        1:00 - 2:30 PM 
                        @Suite 103
                    </div>
                    <h4>
                        Analytics Session 7: Visualization &amp; Explainable AI
                    </h4>
                    {% include '_program_legend.html' %}
                    {% for p in session_dict['a-7'] %}
                        {% include '_program_session_paper.html' %}
                    {% endfor %}
                </div>

            </div>



            <div class="session-details">
                <div id="session-h-3" class="session-info">
                    <div class="session-dur-loc">
                        1:00 - 2:30 PM 
                        @Suite 104
                    </div>
                    <h4>
                        Human Factors Session 3: AI-based Applications
                    </h4>
                    {% include '_program_legend.html' %}
                    {% for p in session_dict['h-3'] %}
                        {% include '_program_session_paper.html' %}
                    {% endfor %}
                </div>

            </div>



        </div>
    </div>
</div>

</div>