<h2 class="mt-5">
    Wednesday, June 28
</h2>
{% if show_calendar %}

<table id="program_table_day_3"
    class="program-table">
<tr>
    <th width="70px">&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
</tr><tr>
    <td class="td-time">
        <div class="time time-top">
            7:30 AM
        </div>
        <div class="time time-bottom">
            8:45 AM
        </div>
    </td>
    <td class="td-slot">
        <div class="slot slot-break">
            Registration @Prefunction Space 
            <br>
            Breakfast @Event/Exhibition Space
        </div>
    </td>
    <!-- <td class="td-slot">
        <div onclick="show_session_info('v-1')" 
            class="slot slot-session slot-session-v">
            Virtual Special Session
            <br>
            @zoom
        </div>
    </td> -->
    <td class="td-slot">
        <div onclick="show_session_info('k-p3')" 
            class="slot slot-session slot-session-k">
            Women in Healthcare Informatics Meet & Greet
            <br>
            @Event/Exhibition Space
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-bottom time-bottom-down">
            9:00 AM
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div class="slot slot-blank-break">
            &nbsp;
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            10:00 AM
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div onclick="show_session_info('k-2')" 
            class="slot slot-large slot-session slot-session-k">
            {% include '_program_cme_icon.html' %}
            <span class="txt-sm">
                Keynote 2: Explainable Deep Tabular Learning Models for Biomedical and Healthcare Applications
            </span>
            <span>
                <!-- Designing Health IT to Support Team Cognition and Clinical Work: A Human Factors and Socio-Technical Systems Approach -->
            </span>
            <br>
            <span>
                Dr. Aidong Zhang
            </span>
            <br>
            @Auditorium
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-bottom time-bottom-down">
            10:30 AM
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div class="slot slot-break">
            <i class="fas fa-coffee"></i>
            Coffee Break @Event/Exhibition Space
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            12:00 PM
        </div>
    </td>
    <td class="td-slot">
        <div onclick="show_session_info('a-2')" class="slot slot-small slot-session slot-session-a">
            {% include '_program_cme_icon.html' %}
            <span class="txt-sm">
                Analytics 2
            </span>
            <br>
            <b>Deep Learning</b>
            <br>
            <span class="session-loc">@BRC 282</span>
        </div>
    </td>
    <td class="td-slot">
        <div onclick="show_session_info('a-3')" class="slot slot-small slot-session slot-session-a">
            {% include '_program_cme_icon.html' %}
            <span class="txt-sm">
                Analytics 3
            </span>
            <br>
            <b>Representations</b>
            <br>
            <span class="session-loc">@BRC 284</span>
        </div>
    </td>
    <td class="td-slot">
        <div onclick="show_session_info('h-2')" class="slot slot-small slot-session slot-session-h">
            {% include '_program_cme_icon.html' %}
            <span class="txt-sm">
                Human Factors 2
            </span>
            <br>
            <!-- <b>Self Management</b> -->
            <br>
            <span class="session-loc">@BRC 286</span>
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-bottom time-bottom-down">
            1:00 PM
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div class="slot slot-break">
            <i class="fas fa-utensils"></i> 
            Lunch @Event/Exhibition Space
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            2:30 PM
        </div>
    </td>
    <td class="td-slot">
        <div onclick="show_session_info('a-4')" class="slot slot-small slot-session slot-session-a">
            {% include '_program_cme_icon.html' %}
            <span class="txt-sm">
                Analytics 4
            </span>
            <br>
            <b>COVID Related</b>
            <br>
            <span class="session-loc">@BRC 282</span>
        </div>
    </td>
    <td class="td-slot">
        <div onclick="show_session_info('a-5')" class="slot slot-small slot-session slot-session-a">
            {% include '_program_cme_icon.html' %}
            <span class="txt-sm">
                Analytics 5
            </span>
            <br>
            <b> NLP</b>
            <br>
            <span class="session-loc">@BRC 284</span>
        </div>
    </td>
    <td class="td-slot">
        <div onclick="show_session_info('a-6')" class="slot slot-small slot-session slot-session-a">
            {% include '_program_cme_icon.html' %}
            <span class="txt-sm">
                Analytics 6
            </span>
            <br>
            <b style="font-stretch: semi-condensed;">Spatio-Temporal</b>
            <br>
            <span class="session-loc">@BRC 286</span>
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-bottom time-bottom-down">
            3:00 PM
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div class="slot slot-break">
            <i class="fas fa-coffee"></i>
            Coffee Break @Event/Exhibition Space
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            4:30 PM
        </div>
    </td>
    <td class="td-slot">
        <div onclick="show_session_info('a-7')" class="slot slot-small slot-session slot-session-a">
            {% include '_program_cme_icon.html' %}
            <span class="txt-sm">
                Analytics 7
            </span>
            <br>
            <b>Phenotyping, Fairness and Explainability</b>
            <br>
            <span class="session-loc">@BRC 282</span>
        </div>
    </td>
    <td class="td-slot">
        <div onclick="show_session_info('a-8')" class="slot slot-small slot-session slot-session-a">
            {% include '_program_cme_icon.html' %}
            <span class="txt-sm">
                Analytics 8
            </span>
            <br>
            <b style="font-stretch: semi-condensed;">Deep Learning (2)</b>
            <br>
            <span class="session-loc">@BRC 284</span>
        </div>
    </td>
    <td class="td-slot">
        <div onclick="show_session_info('chat-2')" 
            class="slot slot-session slot-session-v">
            Panel: Resuming Healthcare Informatics Research after CoViD-19: The Healthcare System Perspective
            <br>
            @Auditorium
        </div>
    </td>
    <td class="td-slot">
        <div onclick="show_session_info('r-2')" 
            class="slot slot-session slot-session-v">
            Remote Sessions
            <br>
            @zoom
            <br>
            @BRC 286
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            5:30 PM
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div 
            class="slot slot-large slot-session slot-session-k">
            <!-- {% include '_program_cme_icon.html' %} -->
            <!-- <span class="txt-sm">
                ChatGPT Panel
            </span>
            <br>
            @Auditorium
        </div> -->
    </td>
</tr>
<tr>
    <td colspan="3" class="td-slot">
        <div class="slot slot-blank-break">
            &nbsp;
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-top time-top-down">
            6:00 PM
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div class="slot slot-large slot-session slot-session-0">
            Award Ceremony and Banquet Dinner (6:00 - 8:00 PM)
            <br>
            @Event/Exhibition Space
        </div>
    </td>
</tr>
</table>

{% endif %}

