<h2 class="mt-5">
    Sunday, June 12
</h2>
{% if show_calendar %}

<table id="program_table_day_2"
    class="program-table">
<tr>
    <th width="70px">&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
</tr>
<tr>
    <td class="td-time">
        <div class="time">
            7:30 AM
        </div>
        <div class="time time-bottom time-bottom-down">
            8:30 AM
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div class="slot slot-break">
            Registration @Ballroom 1
            <br>
            Breakfast @Ballroom 3
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            10:00 AM
        </div>
    </td>
    <td colspan="3" class="td-slot">

        <div onclick="show_session_info('k-1')" class="slot slot-large slot-session slot-session-k">
            Welcome Session <span class="session-dur-loc">(8:30 - 9:00 AM)</span>
            <br>
            {% include '_program_cme_icon.html' %}
            <span class="txt-sm">Keynote:</span> 
            Towards Impactful Clinical Evidence Powered by Informatics and Data Science
            <span class="session-dur-loc">(9:00 - 10:00 AM)</span>
            <br>
            <span>
                Dr. Chunhua Weng
            </span>
            <br>
            @Ballroom 2
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-bottom time-bottom-down">
            10:30 AM
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div class="slot slot-break">
            <i class="fas fa-coffee"></i>
            Coffee Break @Ballroom 1
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            12:00 PM
        </div>
    </td>
    <td class="td-slot">
        <div onclick="show_session_info('a-1')" class="slot slot-small slot-session slot-session-a">
            {% include '_program_cme_icon.html' %}
            <span class="txt-sm">
                Analytics A1
            </span>
            <br>
            <b>ML Methodology</b>
            <br>
            <span class="session-loc">@Suite 109</span>
        </div>
    </td>
    <td class="td-slot">
        <div onclick="show_session_info('a-2')" class="slot slot-small slot-session slot-session-a">
            {% include '_program_cme_icon.html' %}
            <span class="txt-sm">
                Analytics A2
            </span>
            <br>
            <b>Imaging</b>
            <br>
            <span class="session-loc">@Suite 110</span>
        </div>
    </td>
    <td class="td-slot">
        <div onclick="show_session_info('a-3')" class="slot slot-small slot-session slot-session-a">
            {% include '_program_cme_icon.html' %}
            <span class="txt-sm">
                Analytics A3
            </span>
            <br>
            <b>PGHD and Text Analytics</b>
            <br>
            <span class="session-loc">@Suite 111</span>
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-bottom time-bottom-down">
            1:00 PM
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div class="slot slot-break">
            <i class="fas fa-utensils"></i> 
            Lunch @Ballroom 3
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            2:00 PM
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div onclick="show_session_info('k-2')" 
            class="slot slot-large slot-session slot-session-k">
            {% include '_program_cme_icon.html' %}
            <span>
                <span class="txt-sm">Keynote:</span>
                Leveraging Digital Therapeutics for Health Literacy: A Systems Perspective
            </span>
            <br>
            <span>
                Dr. Rema Padman
            </span>
            <br>
            <span class="session-loc">@Ballroom 2</span>
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-bottom time-bottom-down">
            2:30 PM
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div class="slot slot-break">
            <i class="fas fa-coffee"></i>
            Coffee Break @Ballroom 1
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            4:00 PM
        </div>
    </td>
    <td class="td-slot">
        <div onclick="show_session_info('a-4')" 
            class="slot slot-small slot-session slot-session-a">
            {% include '_program_cme_icon.html' %}
            <span class="txt-sm">
                Analytics A4
            </span>
            <br>
            <b>Healthcare Analytics</b>
            <br>
            <span class="session-loc">@Suite 109</span>
        </div>
    </td>
    <td class="td-slot">
        <div onclick="show_session_info('s-1')" 
            class="slot slot-small slot-session slot-session-s">
            {% include '_program_cme_icon.html' %}
            <span class="txt-sm">
                System S1
            </span>
            <br>
            <b>Design and Development</b>
            <br>
            <span class="session-loc">@Suite 110</span>
        </div>
    </td>
    <td class="td-slot">
        <div onclick="show_session_info('h-1')" 
            class="slot slot-small slot-session slot-session-h">
            {% include '_program_cme_icon.html' %}
            <span class="txt-sm">
                Human Factors H1
            </span>
            <br>
            <b>Human-centered Design</b>
            <br>
            <span class="session-loc">@Suite 111</span>
        </div>
    </td>
</tr>
<tr>
    <td colspan="4" class="td-slot">
        <div class="slot slot-blank-break">
            &nbsp;
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom">
            5:30 PM
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div onclick="show_session_info('p-1')" 
            class="slot slot-large slot-session slot-session-p">
            Poster &amp; Demo Session
            <br>
            @Ballroom 1
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-top time-top-down">
            6:00 PM
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div class="slot slot-large slot-session slot-session-0">
            Banquet
            <span class="session-loc">@Ballroom 3</span>
        </div>
    </td>
</tr>
</table>
{% endif %}

