<h2 class="mt-5">
    Thursday, June 29
</h2>
{% if show_calendar %}
<table id="program_table_day_4"
    class="program-table mb-4">
<tr>
    <th width="70px">&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
</tr>
<tr>
    <td class="td-time">
        <div class="time">
            7:30 AM
        </div>
        <div class="time time-bottom time-bottom-down">
            8:45 AM
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div class="slot slot-break">
            Registration @Prefunction Space 
            <br>
            Breakfast @Prefunction Space
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            9:45 AM
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div onclick="show_session_info('k-3')" class="slot slot-large slot-session slot-session-k">
            {% include '_program_cme_icon.html' %}
            <span class="txt-sm">Keynote 3: Data and System Harmonization: Reflections and observations from 25 years of research in disparate fields</span> 
            <!-- <span>Toward a Learning Health System: Enabling the National Knowledge Ecosystem at Scale</span> -->
            <br>
            <span>
                Dr. Ed Nykaza
            </span>
            <br>
            @Auditorium
        </div>
    </td>
</tr>
<tr>
    <td class="td-time">
        <div class="time time-bottom time-bottom-down">
            10:00 AM
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div class="slot slot-break">
            <i class="fas fa-coffee"></i>
            Coffee Break @Prefunction Space
        </div>
    </td>
</tr>

<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            12:00 PM
        </div>
    </td>
    <td onclick="show_session_info('i-1')" colspan="3" class="td-slot">
        <div class="slot slot-large slot-session slot-session-i">
            {% include '_program_cme_icon.html' %}
            <span>
                Industry Session
            </span>
            <br>
            <span class="session-loc">@Auditorium</span>
        </div>
    </td>
    <!-- <td class="td-slot">
        <div onclick="show_session_info('pl-2')" class="slot slot-small slot-session slot-session-d">
            <span class="txt-sm">
                Panel
            </span>
            @BRC 280
        </div>
    </td> -->
</tr>
<!-- <tr>
    <td colspan="4" class="td-slot">
        <div class="slot slot-blank-break">
            &nbsp;
        </div>
    </td>
</tr> -->
<tr>
    <td class="td-time">
        <div class="time time-line">
            &nbsp;
        </div>
        <div class="time time-bottom time-bottom-down">
            12:30 PM
        </div>
    </td>
    <td onclick="show_session_info('k-5')" 
        colspan="3" class="td-slot">
        <div class="slot slot-large slot-session slot-session-k">
            Close Session
            <br>
            <span class="session-loc">@Auditorium</span>
        </div>
    </td>
</tr>

<tr>
    <td class="td-time">
        <div class="time time-bottom time-bottom-down">
            &nbsp;
        </div>
    </td>
    <td colspan="3" class="td-slot">
        <div class="slot slot-break">
            <i class="fas fa-utensils"></i> 
            Grab &amp; Go Lunch @Prefunction Space (12:30 - 1:00 PM)
        </div>
    </td>
</tr>
</table>
{% endif %}

