<p>
    <img src="./static/image/logo-zoom.png" alt="Zoom" style="height:26px;">
    Zoom Link for Virtual Participants:
    <a target="_blank" href="https://tinyurl.com/2xzma3zs">
        https://tinyurl.com/2xzma3zs
    </a>
</p>
<p>
    Dr. Elizabeth M. Williams, 
    Dr. Paul R. Harper
    and Daniel Gartner
</p>
<p>
There has been recognition of the role that mathematical
modelling and Operational Research (OR) have to play
in decision making in healthcare. For the last 20 years and
even more so than during the recent pandemic, mathematical
models have been used for demand and capacity planning across
many healthcare services including primary, secondary care
and healthcare logistics. In this tutorial, we will provice an
overview of different mathematical modelling techniques applied
to healthcare but with a particular focus on two paradigms:
Discrete Optimization as part of Mathematical Programming
and Discrete Event Simulation. Participants will learn how to
formulate models mathematically, implement them in Microsoft
Excel and use non-commercial solvers to provide solutions of the
models. Because in this first part, rather deterministic models
are presented, we will introduce the concept of variation in a
second part using Discrete Event Simulation.
</p>