<p>
    In this tutorial, participants will discover how the ISLE e-learning platform can be used to deliver health informatics and analytics instruction.
</p>
<p>
    Tutorial attendees will learn how to build lessons with ISLE through the accompanying authoring tool and how to monitor student progress and performance. In addition, we will discuss how to use clickstream data to improve material on the fly and iteratively improve subsequent lessons. No matter the mode of delivery, attendees will leave with a clear understanding of how to leverage hands-on activities and data analysis exercises to foster understanding of statistical concepts and skills.
</p>