<p>
    <img src="./static/image/logo-zoom.png" alt="Zoom" style="height:26px;">
    Zoom Link for Virtual Participants:
    <a target="_blank" href="https://tinyurl.com/52uev6s9">
        https://tinyurl.com/52uev6s9
    </a>
</p>
<p>
    Dr. Nansu Zong and Dr. Victoria Ngo
</p>
<p>
    Despite the rapid development of a variety of biological assays improving the efficiency of drug screening, the potentially large number of combinations of drugs and targeted proteins make experimental screening remain laborious and expensive. As such, computational (in silico) methods have become popular and are commonly applied for pre-screening. This tutorial will provide participants with experience in conducting computational experiments for drug target predictions.
</p>
<p>
    In the tutorial, the participants will firstly theoretically review the history of computational drug target prediction. The methods, datasets, and how the experiments are designed will be introduced. Later, the participants will be introduced to a data set, Linked Multipartite Network (LMN), a heterogeneous network that incorporates 12 repositories and includes 7 types of biomedical entities (#20,119 entities, # 194,296 associations). The participants will learn how to use LMN to facilitate drug target prediction, including computational validation, and facilitate scientific discovery. Finally, participants will be introduced to some state-of-the-art computational methods, and practice the adoption of these methods to conduct the experiments by running the tasks with the given training and testing files generated in the LMN.
</p>
<p>
    Through the proposed tutorial, participants, such as researchers and trainees, will understand the process of computational drug-target prediction and further learn how to adopt LMN as the dataset to facilitate the drug target prediction in practice as well as apply those skills in future studies.
</p>