<h2>
    Visa Invitation Letter
</h2>

<p class="mb-4">
    As part of the publication requirements, it is a mandatory requirement that you attend the conference in person to present the paper and discuss your work. Please make the necessary travel arrangements and visa applications as early as possible to be able to present your paper and lead the subsequent technical discussions.
</p>

<p class="mb-4">
    For invitation letters required for visa processing, 
    please contact Dr. Huan He by email to: <a target="_blank" href="mailto:He.Huan@mayo.edu">He.Huan@mayo.edu</a>
</p>
