<p>
    <!-- <img src="./static/image/logo-zoom.png" alt="Zoom" style="height:26px;">
    Zoom Link for Virtual Participants:
    <a target="_blank" href="https://tinyurl.com/4w6cwmjr">
        https://tinyurl.com/4w6cwmjr
    </a> -->
</p>
<p>
    Workshop Chairs:
    <br>
    Leming Zhou, PhD, Leming.Zhou@pitt.edu, University of Pittsburgh, US
    <br>
    Huanmei Wu, PhD, huanmei.wu@temple.edu, Temple University, US
    <br>
    Yanshan Wang, PhD, yanshan.wang@pitt.edu, University of Pittsburgh, US
    <br>
    Stephen Abah, FWACP, abah.steve@fuhso.edu.ng, Federal University of Health Sciences Otukpo, Nigeria
</p>
<ul>
    <li>
    Keynote Speech (8:30 - 9:30 AM, 1 hour), Susan H. Fenton, PhD, RHIA, ACHIP, FAMIA, UTHealth Houston
    </li><li>
    Invited Talk (9:30 - 10 AM, 30 minutes): Amanda Stefan, <a href="https://www.cahiim.org/">CAHIIM</a>, Health Informatics Program Accreditation
    </li><li>
    Coffee Break (10:00 - 10:30 AM)
    </li><li>
    Paper presentations (10:30 AM - 4:30 PM)<br>
    Accepted Papers (15 minutes each, 12 minutes for presentation, 3 minutes for discussion)<br>
    <ul>
    <li>
    Vincent Major, Claudia Plottel and Yindalon Aphinyanaphongs, (2023),
    "Ten Years of Health Informatics Education for Physicians" <br>
    </li><li>
    Sahaja Ratna, Saptarshi Purkayastha and Cathy Fulton, (2023), 
    "Improving Health Informatics Competencies Using an Open-source Educational EHR"<br>
    </li><li>
    Rob Quick, Marcela Alfaro Cordoba, Stephan Diggs, Raphael Cobe, Louise Bezuidenhout, Hugh Shannahan and Bianca Peterson, (2023), 
    "Foundational Data Science Training for Health Equity Researchers at Minority Serving Institutions: A SoRDS Event"
    </li><li>
    Duo Helen Wei, Keith Kiminsky, Patrick Hamill and Quynh Nguyen, (2023), 
    "Involving Undergraduates into Health Informatics Research via Project-Based Learning Classes – A Case Study"
    </li><li>
    Toufeeq Ahmed, Aidan Hoyal, Katie Stinson, Jay Johnson, Zainab Latif, Legand Burge, Alexander Libib, Guodong Gao, Nawar Shara and Jamboor Vishwanatha, (2023), 
    "AIM-AHEAD Connect: Online Collaboration, Mentoring, and Data Science Training Platform to Increase Researcher Diversity and Advance Health Equity"
    </li><li>
    Hua Min, Hedyeh Mobahi and Janusz Wojtusiak, (2023), 
    "Application of Synthetic Datasets across Courses in Health Informatics Education"
    </ul>   
    <li>
    Lunch break (12:00 PM - 1:00 PM)
    </li>
    <ul>
    <li>     
    Sripriya Rajamani, Sarah Solarz, Amber Koskey, Taylor Dawson, Ann Kayser, Hannah Woods, Chris Brueske and Aasa Schmit, (2023), 
    "Informatics Workforce to Support the Data Modernization Initiative: Assessment and Capacity Building at a State Public Health Agency"
    </li><li>
    Bari Dzomba, Kesa Bond and Cathy Flite, (2023), 
    "Blowing Chunks with ChatGPT"
    </li><li>
    Jay Patel, Omotese Oaikhena, Than Phan, Hoa Vo, Javad Alizadeh and Huanmei Wu, (2023), 
    "The Landscape of Health Informatics Education in Low- or Middle-Income Countries<br>
    </ul>
    <li>
    Digital Poster presentation, 10 minutes each 
    </li>
    <ul>
        <li>     
            Sripriya Rajamani, Yasmin Odowa and Rebecca Wurtz, (2023), 
    "Foundational Course in Public Health Informatics to meet Training Needs and Build Workforce Capacity"
            </li><li>
                Caroline Spice, Anjulie Ganti and Houda Benlhabib, (2023), 
                "So you want to talk about race AND genetics?"
            </ul>


    <!-- Sripriya Rajamani, Yasmin Odowa and Rebecca Wurtz, (2023), 
    "Foundational Course in Public Health Informatics to meet Training Needs and Build Workforce Capacity"
    </li><li>
    Caroline Spice, Anjulie Ganti and Houda Benlhabib, (2023), 
    "So you want to talk about race AND genetics?"
    </li></ul> -->
    <!-- </li><li> -->
    <!-- Lunch Break (12:00 - 13:30 PM)
    </li><li>
    Round table discussion (13:30 - 14:10 PM, 40 minutes):<br> 
    Panelists:
    <ul>
    <li>
    Andrew Nguyen, Genetech/Roche <br>
    </li><li>
    David Marc, College of St. Scholastica<br>
    </li><li>
    Huanmei Wu, Temple University
    </li>
    <li>
        Dilhari DeAlmeida, University of Pittsburgh
        
    </li>
    <li>
        
        Cathy Fulton, Indiana University
    </li>
 -->
</ul>
    
    </li>
</ul>