<p>
    <!-- <img src="./static/image/logo-zoom.png" alt="Zoom" style="height:26px;"> -->
    <!-- Zoom Link for Virtual Participants:
    <a target="_blank" href="https://tinyurl.com/4w6cwmjr">
        https://tinyurl.com/4w6cwmjr
    </a> -->
</p>
<p>
    Workshop Chairs:
    <br>
    Yifan Peng, Weill Cornell Medicine, US
    <br>
    Halil Kilicoglu, University of Illinois at Urbana-Champaign, US
    <br>
</p>
<ul>
    <li>
    <!-- Keynote Speech (8:30 - 9:30 AM, 1 hour), <a href="https://dmice.ohsu.edu/hersh/">William Hersh</a>, MD, FACMI, FAMIA, FIAHSI, FACP, <i>"Competencies and Curricula Across the Spectrum of Learners for Health Informatics"</i>
    </li><li>
    Invited Talk (9:30 - 10 AM, 30 minutes): Huanmei Wu, <i>"A Data-Driven Assessment of the U.S. Health Informatics Programs and Job Market"</i>
    </li><li>
    Coffee Break (10:00 - 10:30 AM)
    </li><li> -->
    Paper presentations (8:30 AM - 4:30 PM)<br>
    Accepted Papers (20 minutes each, 15 minutes for presentation, 5 minutes for discussion)<br>
    <ul>
    <li>
    Hetong Ma, Xiaowei Xu, Xuwen Wang, Zhen Guo and Jiao Li, (2023),
    "Comma: A collaborative medical text annotation platform" <br>
    </li><li>
    Zeljko Kraljevic, James Teo, Richard Dobson, Anthony Shek, Joshua Au-Yeung, Ewart Sheldon, Mohammad Ali-Agil, Haris Shuaib, Bai Xi, Kawsar Noor and Anoop Shah, (2023), 
    "Deploying transformers for redaction of text from electronic health records in real world healthcare"<br>
    </li><li>
    Simon Meoni, (2023), 
    "Annotate Clinical Data Using Large Language Model Predictions<br>
    </li><li>
    Zenan Sun and Cui Tao, (2023), 
    "Named Entity Recognition and Normalization for Alzheimer's Disease Eligibility Criteria"
    </li><li>
    Miho Shimizu, Mike Wong and Anagha Kulkarni, (2023), 
    "Quantitative Measures of Online Health Information (QMOHI): Broadening the impact through improved usability, applicability, and effectiveness"
    </li><li>
    Xiaoyu Wang, Dipankar Gupta, Michael Killian and Zhe He, (2023), 
    "Benchmarking Transformer-Based Models for Identifying Social Determinants of Health in Clinical Notes"
    </li><li>
    Shaina Raza and Syed Raza Bashir, (2023), 
    "Leveraging Foundation Models for Clinical Text Analysis"
    </li><li>
    Muskan Garg and Sohn Sunghwan, (2023), 
    "CARED: Caregiver’s Experience with Cognitive Decline in Reddit Posts"
    </li><li>
    Mengtian Guo, David Gotz and Yue Wang, (2023), 
    "How Does Imperfect Automatic Indexing Affect Semantic Search Performance?"
    </li><li>
    Sayantani Basu, Roy Campbell and Karrie Karahalios, (2023), 
    "Detection of Novel COVID-19 Variants with Zero-Shot Learning"
    </li><li>
    Parker Seegmiller, Joseph Gatto, Madhusudan Basak, Diane Cook, Hassan Ghasemzadeh, John Stankovic and Sarah Masud Preum, (2023), 
    "The Scope of In-Context Learning for the Extraction of Medical Temporal Constraints"
    </li></ul>
    <!-- </li><li> -->
    <!-- Lunch Break (12:00 - 13:30 PM)
    </li><li>
    Round table discussion (13:30 - 14:10 PM, 40 minutes):<br> 
    Panelists:
    <ul>
    <li>
    Andrew Nguyen, Genetech/Roche <br>
    </li><li>
    David Marc, College of St. Scholastica<br>
    </li><li>
    Huanmei Wu, Temple University
    </li>
    <li>
        Dilhari DeAlmeida, University of Pittsburgh
        
    </li>
    <li>
        
        Cathy Fulton, Indiana University
    </li>
 -->
</ul>
    
    </li>
</ul>