<p>
    <!-- <img src="./static/image/logo-zoom.png" alt="Zoom" style="height:26px;"> -->
    <!-- Zoom Link for Virtual Participants:
    <a target="_blank" href="https://tinyurl.com/4w6cwmjr">
        https://tinyurl.com/4w6cwmjr
    </a> -->
</p>
<p>
    Workshop Chairs:
    <br>
    Rui Zhang, PhD, Associate Professor, University of Minnesota, Minneapolis, MN, USA
    <br>
    Fei Wang, PhD, Associate Professor, Weill Cornell Medicine, Cornell University. NYC, NY, USA
    <br>
    Chang Su, PhD, Assistant Professor, Temple University, Philadelphia, PA, USA
    <br>
    You Chen, PhD, Assistant Professor, Vanderbilt University, Nashville, TN, USA
</p>
<ul>
    <li>
    <!-- Keynote Speech (8:30 - 9:30 AM, 1 hour), <a href="https://dmice.ohsu.edu/hersh/">William Hersh</a>, MD, FACMI, FAMIA, FIAHSI, FACP, <i>"Competencies and Curricula Across the Spectrum of Learners for Health Informatics"</i>
    </li><li>
    Invited Talk (9:30 - 10 AM, 30 minutes): Huanmei Wu, <i>"A Data-Driven Assessment of the U.S. Health Informatics Programs and Job Market"</i>
    </li><li>
    Coffee Break (10:00 - 10:30 AM)
    </li><li> -->
    Paper presentations (2:15 PM - 4:30 PM)<br>
    Accepted Papers (20 minutes each, 15 minutes for presentation, 5 minutes for discussion)<br>
    <ul>
    <li>
    Eugene Jeong, Scott Nelson, Yu Su, Bradley Malin, Lang Li and You Chen, (2023),
    "Detecting drug-drug interactions between therapies for COVID-19 and concomitant medications through the FDA adverse event reporting system" <br>
    </li><li>
    Ko-Hong Lin, Jay-Jiguang Zhu, Judith A. Smith, Yejin Kim and Xiaoqian Jiang, (2023), 
    "An End-to-end In-Silico and In-Vitro Drug Repurposing Pipeline for Glioblastoma"<br>
    </li><li>
    Raseen Tariq, Sheza Malik, Mousumi Roy, Meena Islam, Umair Rasheed, Jiang Bian, Kai Zheng and Rui Zhang, (2023), 
    "Assessing ChatGPT for Text Summarization, Simplification and Extraction Tasks<br>
    </li><li>
    Yongkang Xiao, Yu Hou, Huixue Zhou, Gayo Diallo, Marcelo Fiszman, Julia Wolfson, Halil Kilicoglu, You Chen, Hua Xu, William G. Mantyh and Rui Zhang, (2023), 
    "Repurposing Drugs for Alzheimer's Diseases through Link Prediction on Biomedical Literature"
    </li><li>
    S M Shamimul Hasan, Greeshma Agasthya, Daniel Santel, Surbhi Bhatnagar, Ian Goethert, Tracy Glauser and John Pestian, (2023), 
    "Application of Unified Medical Language System (UMLS) to Standardize Pediatric Drug Data"
    </li><li>
    Aokun Chen, Qian Li, Elizabeth Shenkman, Yonghui Wu, Yi Guo and Jiang Bian, (2023), 
    "Exploring the Effect of Eligibility Criteria on AD Severity and Severe Adverse Event in Eligible Patients"
    <!-- </li><li>
    Mary Lucas, Chia-Hsuan Chang and Christopher Yang. , (2023), 
    "Resampling for Mitigating Bias in Predictive Model for Substance Use Disorder Treatment Completion"
    </li><li>
    Paul Heider. Algorithmic Bias in De-Identification Tools, (2023), 
    "AI Fairness in Hip Bony Anatomy Segmentation: Analyzing and Mitigating Gender and Racial Bias in Plain Radiography Analysis"
    </li><li>
    Christina Letter, Puneet Gupta, Annie Kim, Guang-Ting Cong, Hongfang Liu and Ahmad P. Tafti, (2023), 
    "Gender-Specific Machine Learning Models to Predict Unplanned Return to Operating Room Following Primary Total Shoulder Arthroplasty"
    </li><li>
    Christina Letter, Puneet Gupta, Annie Kim, Guang-Ting Cong, Hongfang Liu and Ahmad P. Tafti, (2023), 
    "Gender-Specific Machine Learning Models to Predict Unplanned Return to Operating Room Following Primary Total Shoulder Arthroplasty"
    </li><li>
    Shaina Raza. , (2023), 
    "Auditing ICU Readmission Rates in an Clinical Database: An Analysis of Risk Factors and Clinical Outcomes" -->
    </li></ul>
    <!-- </li><li> -->
    <!-- Lunch Break (12:00 - 13:30 PM)
    </li><li>
    Round table discussion (13:30 - 14:10 PM, 40 minutes):<br> 
    Panelists:
    <ul>
    <li>
    Andrew Nguyen, Genetech/Roche <br>
    </li><li>
    David Marc, College of St. Scholastica<br>
    </li><li>
    Huanmei Wu, Temple University
    </li>
    <li>
        Dilhari DeAlmeida, University of Pittsburgh
        
    </li>
    <li>
        
        Cathy Fulton, Indiana University
    </li>
 -->
</ul>
    
    </li>
</ul>