<p>
    <!-- <img src="./static/image/logo-zoom.png" alt="Zoom" style="height:26px;"> -->
    <!-- Zoom Link for Virtual Participants:
    <a target="_blank" href="https://tinyurl.com/4w6cwmjr">
        https://tinyurl.com/4w6cwmjr
    </a> -->
</p>
<p>
    Workshop Chairs:
    <br>
    Yanshan Wang, PhD, University of Pittsburgh, US
    <br>
    Hongfang Liu, PhD, Mayo Clinic, Rochester, MN, USA
    <br>
    Ahmad P. Tafti, PhD, University of Pittsburgh, Pittsburgh, PA, USA
    <br>
    Kirk Roberts, PhD, The University of Texas Health Science Center at Houston, USA
</p>
<ul>
    <li>
    <!-- Keynote Speech (8:30 - 9:30 AM, 1 hour), <a href="https://dmice.ohsu.edu/hersh/">William Hersh</a>, MD, FACMI, FAMIA, FIAHSI, FACP, <i>"Competencies and Curricula Across the Spectrum of Learners for Health Informatics"</i>
    </li><li>
    Invited Talk (9:30 - 10 AM, 30 minutes): Huanmei Wu, <i>"A Data-Driven Assessment of the U.S. Health Informatics Programs and Job Market"</i>
    </li><li>
    Coffee Break (10:00 - 10:30 AM)
    </li><li> -->
    Paper presentations (8:30 AM - 4:30 PM)<br>
    Accepted Papers (20 minutes each, 15 minutes for presentation, 5 minutes for discussion)<br>
    <ul>
    <li>
    Leilei Su, Zezheng Wang, Yifan Peng and Cong Sun, (2023),
    "Identiffcation of offensive language in social media using prompt learning" <br>
    </li><li>
    Seha Ay, Michael Cardei, Anne-Marie Meyer, Wei Zhang and Umit Topaloglu, (2023), 
    "Improving Equity in Deep Learning Medical Applications with the Gerchberg-Saxton Algorithm"<br>
    </li><li>
    Shanshan Song and Casey Overby Taylor, (2023), 
    "Data Representativeness in Cardiovascular Disease Studies that use Consumer Wearables<br>
    </li><li>
    Yash Travadi, Le Peng, Ying Cui and Ju Sun, (2023), 
    "Direct Metric Optimization for Imbalanced Classification"
    </li><li>
    Direct Metric Optimization for Imbalanced Classification, (2023), 
    "Analyzing the Impact of Personalization on Fairness in Federated Learning for Healthcare"
    </li><li>
    Shaina Raza. , (2023), 
    "Connecting Fairness in Machine Learning with Public Health Equity"
    </li><li>
    Mary Lucas, Chia-Hsuan Chang and Christopher Yang, (2023), 
    "Resampling for Mitigating Bias in Predictive Model for Substance Use Disorder Treatment Completion"
    </li><li>
    Paul Heider. Algorithmic Bias in De-Identification Tools, (2023), 
    "AI Fairness in Hip Bony Anatomy Segmentation: Analyzing and Mitigating Gender and Racial Bias in Plain Radiography Analysis"
    </li><li>
    Christina Letter, Puneet Gupta, Annie Kim, Guang-Ting Cong, Hongfang Liu and Ahmad P. Tafti, (2023), 
    "Gender-Specific Machine Learning Models to Predict Unplanned Return to Operating Room Following Primary Total Shoulder Arthroplasty"
    </li><li>
    Christina Letter, Puneet Gupta, Annie Kim, Guang-Ting Cong, Hongfang Liu and Ahmad P. Tafti, (2023), 
    "Gender-Specific Machine Learning Models to Predict Unplanned Return to Operating Room Following Primary Total Shoulder Arthroplasty"
    </li><li>
    Shaina Raza, (2023), 
    "Auditing ICU Readmission Rates in an Clinical Database: An Analysis of Risk Factors and Clinical Outcomes"
    </li></ul>
    <!-- </li><li> -->
    <!-- Lunch Break (12:00 - 13:30 PM)
    </li><li>
    Round table discussion (13:30 - 14:10 PM, 40 minutes):<br> 
    Panelists:
    <ul>
    <li>
    Andrew Nguyen, Genetech/Roche <br>
    </li><li>
    David Marc, College of St. Scholastica<br>
    </li><li>
    Huanmei Wu, Temple University
    </li>
    <li>
        Dilhari DeAlmeida, University of Pittsburgh
        
    </li>
    <li>
        
        Cathy Fulton, Indiana University
    </li>
 -->
</ul>
    
    </li>
</ul>