<p>
    Microsoft Teams Link:
    <a target="_blank" href="https://teams.microsoft.com/l/meetup-join/19%3aDKkbNmrGfY08XmzU7y9-G9EQozNNOuPj367WM85R9Uc1%40thread.tacv2/1653917952454?context=%7b%22Tid%22%3a%226f3c77c3-965f-4e11-8846-de7700145aef%22%2c%22Oid%22%3a%227ba935f7-0d39-47b0-bb4a-cabc9edb3832%22%7d">
        https://teams.microsoft.com/l/meetup-join/19%3aDKkbNmrGfY08XmzU7y9-G9EQozNNOuPj367WM85R9Uc1%40thread.tacv2/1653917952454?context=%7b%22Tid%22%3a%226f3c77c3-965f-4e11-8846-de7700145aef%22%2c%22Oid%22%3a%227ba935f7-0d39-47b0-bb4a-cabc9edb3832%22%7d
    </a>
</p>

<p>
    Workshop Chair: Sultan Turhan
</p>
<style>
.table-mlhdpm {
    width: 100%;
    font-size: .9em;
}
.table-mlhdpm th,
.table-mlhdpm td {
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding: 5px;
}
.table-mlhdpm tr:hover {
    background-color: #efefef;
}
</style>
<table class="table-mlhdpm">
    <tr>
        <th width="100px">Time</th>
        <th>Presentation</th>
    </tr>
    <tr>
        <td>9:00 - 9:15</td>
        <td>
            <b>Welcome</b>
        </td>
    </tr>
    <tr>
        <td>9:15 - 9:35</td>
        <td>
            Keynote Speech
            <br>
            <i class="fa fa-user"></i>
            <i>Sultan Turhan</i>
        </td>
    </tr>
    <tr>
        <td>9:35 - 9:55</td>
        <td>
            3864 - An xAI Thick Data Assisted Caption Generation for Labeling Severity of Ulcerative Colitis Video Colonoscopy
            <br>
            <i class="fa fa-user"></i>
            <i>Jinan Fiaidhi</i>
        </td>
    </tr>
    <tr>
        <td>9:55 - 10:15</td>
        <td>8693 - Value-Based Healthcare Translational Data Analytics using the Problem Oriented Medical Record Graph Representation
            <br>
            <i class="fa fa-user"></i>
            <i>Sabah Mohammed</i>

            </td>
    </tr>
    <tr>
        <td>10:15 - 11:45</td>
        <td>
            <b>Coffee Break</b>
        </td>
    </tr>
    <tr>
        <td>11:45 - 12:05</td>
        <td>6411 - Improving Prediction and Risk Factor Analysis of Low Birthweight Baby Outcomes in a U.S. Hospital System<br>
            <i class="fa fa-user"></i>
            <i>Yang Ren</i>
        </td>
    </tr>
    <tr>
        <td>12:05 - 12:25</td>
        <td>6513 - Using D-dimer as a Biomarker to Predict COVID-19 Disease Severity from Clinical Data of Hospitalized Patients: A Machine Learning Approach<br>
            <i class="fa fa-user"></i>
            <i>Yuqi Wu</i>
        </td>
    </tr>
    <tr>
        <td>12:25 - 12:45</td>
        <td>7570 - Acute Kidney Injury Prediction with Gradient Boosting Decision Trees enriched with Temporal Features<br>
            <i class="fa fa-user"></i>
            <i>Stela Golovco</i>
        </td>
    </tr>
    <tr>
        <td>12:45 - 13:00</td>
        <td>
            <b>Closing Remarks</b>
        </td>
    </tr>
</table>