
<!-- <p>
    Workshop Chair: Sultan Turhan
</p> -->
<style>
.table-mlhdpm {
    width: 100%;
    font-size: .9em;
}
.table-mlhdpm th,
.table-mlhdpm td {
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding: 5px;
}
.table-mlhdpm tr:hover {
    background-color: #efefef;
}
</style>
<table class="table-mlhdpm">
    <tr>
        <th width="100px">Time</th>
        <th>Presentation</th>
        <th>Title</th>
    </tr>
    <tr>
        <td>8:00 - 8:15</td>
        <td>
            Introduction
            <br>
            <i class="fa fa-user"></i>
            <i>W.Jim Zheng UTHealth Houston</i>
        </td>
        <td> </td>
    </tr>
    <tr>
        <td>8:15 - 9:00</td>
        <td>
            Keynote Speech
            <br>
            <i class="fa fa-user"></i>
            <i>Jill Barnholtz-Sloan, NCI</i>
        </td>
        <td>Connecting Data and Novel Tools for Impact on Cancer – Updates from the NCI</td>
    </tr>
    <tr>
        <td>9:00 - 9:20</td>
        <td>
            
            <br>
            <i class="fa fa-user"></i>
            <i>Hua Xu, Yale</i>
        </td>
        <td>Natural language processing to facilitate cancer research using electronic health records</td>
    </tr>
    <tr>
        <td>9:20 - 9:40</td>
        <td>
            <br>
            <i class="fa fa-user"></i>
            <i>Laila Bekhet, UTHealth Houston</i>

            </td>
        <td>AI models trained on large EHR data for Pancreatic Cancer prediction</td>
    </tr>
    <tr>
        <td>9:40 - 10:00</td>
        <td>
            <br>
            <i class="fa fa-user"></i>
            <i>Liang Li, MDACC</i>

            </td>
        </td>
        <td>GPU accelerated estimation of a shared random effect joint model for dynamic prediction</td>
    </tr>
    <tr>
        <td>10:00 - 10:20</td>
        <td>
            <b>Coffee Break</b>
        </td>
    </tr>
    <tr>
        <td>10:20 - 10:40</td>
        <td>
            <i class="fa fa-user"></i>
            <i>Fei Wang, Weill Cornell Medicine</i>
        </td>
        <td>Multi-modal learning for biomedicine</td>
    </tr>
    <tr>
        <td>10:40 - 11:00</td>
        <td>
            <i class="fa fa-user"></i>
            <i>Zhongming Zhao, UTHealth Houston</i>
        </td>
        <td>Deep generative neural network for accurate drug response prediction</td>
    </tr>
    <tr>
        <td>11:00 - 12:00</td>
        <td>
            Panel Discussion
            <br>
            <i class="fa fa-user"></i>
            <i>Funda Meric-Bernstam, MDACC</i>
            <i>Robert T.Ripley, BCM</i>
            <i>Zhiqiang An, UTHealth Houston</i>
            <i>Nagireddy Putluri, BCM</i>
        </td>
        <td>Data science and AI for cancer research: addressing challenges, embracing opportunities, and sharing a wish list – insights from the perspectives of basic and clinical cancer researchers and engaging in a dialogue with Data Science and AI experts.</td>
    </tr>
    <tr>
        <td>12:00</td>
        <td>
            <b>End of Workshop</b>
        </td>
    </tr>
</table>