<p>
    Workshop Chairs: Yonghui Wu, Hua Xu
</p>
<p>
    All time in US Central Time
</p>
<style>
.table-healthnlp {
    width: 100%;
    font-size: .9em;
}
.table-healthnlp th,
.table-healthnlp td {
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding: 5px;
}
.table-healthnlp tr:hover {
    background-color: #efefef;
}
</style>

<table class="table-healthnlp">
    
    <tr>
        <th width="140px">Time</th>
        <th>Presentation</th>
    </tr>
    <tr>
        <td>8:30 - 8:40 AM</td>
        <td>
            <b>Welcome to HealthNLP</b>
            <br>
            <i>Yonghui Wu, Hua Xu</i>
        </td>
    </tr>
    <tr>
        <td>8:40 - 9:00 AM</td>
        <td>
            <b>Developing Pretrained Language Models for Turkish Biomedical Domain</b>
            <br>
            <i>Hazal Türkmen and Oğuz Dikenelli</i>
        </td>
    </tr>
    <tr>
        <td>9:00 - 9:20 AM</td>
        <td>
            <b>Relevance of automated generated short summaries of scientific abstract: use case scenario in healthcare</b>
            <br>
            <i>Gregor Stiglic, Kasandra Musovic, Lucija Gosak, Nino Fijacko and Primoz Kocbek</i>
        </td>
    </tr>
    <tr>
        <td>9:20 - 9:40 AM</td>
        <td>
            <b>Improving Sentence Classification in Abstracts of Randomized Controlled Trial using Prompt Learning</b>
            <br>
            <i>Yan Hu, Yong Chen and Hua Xu</i>
        </td>
    </tr>
    <tr>
        <td>9:40 - 10:00 AM</td>
        <td>
            <b>Chemical-Protein Relation Extraction with Pre-trained Prompt Tuning</b>
            <br>
            <i>Jianping He, Fang Li, Xinyue Hu, Jianfu Li, Yi Nian, Jingqi Wang, Yang Xiang, Qiang Wei, Hua Xu and Cui Tao</i>
        </td>
    </tr>
    <tr>
        <td>10:00 - 10:30 AM</td>
        <td>
            <b>Coffee Break</b>
        </td>
    </tr>
    <tr>
        <td>10:30 - 10:50 AM</td>
        <td>
            <b>Annotating Music Therapy, Chiropractic and Aquatic Exercise Using Electronic Health Record</b>
            <br>
            <i>Huixue Zhou, Greg Silverman, Zhongran Niu, Jenzi Silverman, Roni Evans, Robin Austin and Rui Zhang</i>
        </td>
    </tr>
    <tr>
        <td>10:50 - 11:10 AM</td>
        <td>
            <b>A Preliminary Study of Extracting Pulmonary Nodules and Nodule Characteristics from Radiology Reports Using Natural Language Processing</b>
            <br>
            <i>Shuang Yang, Xi Yang, Tianchen Lyu, Xing He, Dejana Braithwaite, Hiren Mehta, Yi Guo, Yonghui Wu and Jiang Bian</i>
        </td>
    </tr>
    <tr>
        <td>11:10 - 11:30 AM</td>
        <td>
            <b>Integrating Medical Code Descriptions and Building Text Classification Models for Diagnostic Decision Support</b>
            <br>
            <i>Rui Tang, Zhaowei Zhu, Haishen Yao, Yanxuan Li, Xingzhi Sun, Gang Hu, Yichong Li and Guotong Xie</i>
        </td>
    </tr>
    <tr>
        <td>11:30 - 11:50 AM</td>
        <td>
            <b>Canine parvovirus diagnosis classification utilizing veterinary free-text notes</b>
            <br>
            <i>Zhecheng Sheng, Emma Bollig, Jennifer Granick, Rui Zhang and Amanda Beaudoin</i>
        </td>
    </tr>
    <tr>
        <td>11:50- 12:10 PM</td>
        <td>
            <b>Terminology Expansion via Co-occurrence Analysis of Large Clinical Real-World Datasets</b>
            <br>
            <i>Markus Kreuzthaler, Bastian Pfeifer and Stefan Schulz</i>
        </td>
    </tr>

</table>