<p>
    <img src="./static/image/logo-zoom.png" alt="Zoom" style="height:26px;">
    Zoom Link for Virtual Participants:
    <a target="_blank" href="https://tinyurl.com/4w6cwmjr">
        https://tinyurl.com/4w6cwmjr
    </a>
</p>
<p>
    Workshop Chairs:
    <br>
    Leming Zhou, PhD, Leming.Zhou@pitt.edu, University of Pittsburgh, US
    <br>
    Huanmei Wu, PhD, huanmei.wu@temple.edu, Temple University, US
</p>
<ul>
    <li>
    Keynote Speech (8:30 - 9:30 AM, 1 hour), <a href="https://dmice.ohsu.edu/hersh/">William Hersh</a>, MD, FACMI, FAMIA, FIAHSI, FACP
    </li><li>
    Invited Talk (9:30 - 10 AM, 30 minutes): Huanmei Wu, "A Data-Driven Assessment of the U.S. Health Informatics Programs and Job Market"
    </li><li>
    Coffee Break (10:00 - 10:30 AM)
    </li><li>
    Paper presentations (10:30 AM - 12 PM)<br>
    Accepted Papers (20 minutes each, 15 minutes for presentation, 5 minutes for discussion)<br>
    <ul>
    <li>
    Regina Merine and Saptarshi Purkayastha, (2022),
    "Risks and Benefits of AI-generated Text Summarization for Expert Level Content 
    in Graduate Health Informatics" <br>
    </li><li>
    Janusz Wojtusiak and Hua Min, (2022), 
    "From Undergraduate to Doctoral Health Informatics Training: A Data Focus"<br>
    </li><li>
    Jay Patel, Huanmei Wu and Bari Dzomba, (2022), 
    "Think Outside of Box" - Ten Commandments in Providing Optimal Health Informatics Education<br>
    </li><li>
    Daniel Gartner, Tracey England, Doris Behrens, Izabela Spernaes, 
    Joanne Buchanan and Paul Harper, (2022), 
    "Evaluation of Participants' Reaction and Learning in a Taught Analytics and 
    Modelling Academy Program in U.K.'s National Health Service"
    </li></ul>
    </li><li>
    Lunch Break (12:00 - 13:30 PM)
    </li><li>
    Round table discussion (13:30 - 14:10 PM, 40 minutes):<br> 
    Panelists:
    <ul>
    <li>
    Andrew Nguyen, Genetech/Roche <br>
    </li><li>
    David Marc, College of St. Scholastica<br>
    </li><li>
    Huanmei Wu, Temple University
    </li>
    <li>
        Dilhari DeAlmeida, University of Pittsburgh
        
    </li>
    <li>
        
        Cathy Fulton, Indiana University
    </li>

</ul>
    
    </li>
</ul>