{% extends '_layout.html' %}

{% block title %}
Attending
{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden pt-5 mb-5 text-center bg-light cover-image"
    style="background-image: url('./static/image/index_image_attend.jpg');">
    <div class="col-md-10 p-lg-5 mx-auto my-5 text-white min-height-12">
        <h1 class="pt-5 display-4 fw-bold">
            CONFERENCE REGISTRATION
        </h1>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<div class="container">

    <div class="row mb-5">

        <div class="col-md-10 mx-auto min-height-10 ">
            
            <!-- <h2>
                Attendance Grant
            </h2>

            <h4 class="mb-4">
                Eligibility
            </h4>
            
            <p>
                IEEE ICHI 2023 offer a limited amount of grant to support potential attendees to attend and present their accepted
                papers or posters.
            </p>
            
            <p>
                To be eligible for an award, applicants must be: Enrolled in a degree-seeking undergraduate program or graduate
                program from a regionally accredited institution of higher learning.
            
            </p>
            
            <h4 class="mb-4">
                To be updated
            </h4> -->
            
            <!-- 
            <p>
                Please send the following information to IEEE ICHI 2022 Financial Chair (Dr. Che Ngufor, <a target="_blank" href="mailto:ngufor.che@mayo.edu">ngufor.che@mayo.edu</a> ):
            <ul>
                <li>Contact & demographic information</li>
                <li>Short essay questions (1-2 paragraphs) about your career and learning objectives</li>
                <li>Your academic transcript</li>
                <li>A statement of support from a supervisor or colleague</li>
            
            </ul>
            </p>
            
            <p>
                The statement of support may be completed by a current or former supervisor, senior author on the paper/abstract,
                professor, volunteer colleague, or other professional contacts.
            </p>
                  -->


            <h2>
                Registration
            </h2>

            <p>
                IEEE ICHI 2023 conference registration website is now open. 
                <a target="_blank" href="https://cvent.me/wdgnqQ">Register Now</a>
            </p>

            <!-- <br id="virtual_on_demand">
            <p class="mt-4">
                <b>Virtual-on-demand Registration (For Virtual-on-demand Participation Only)</b>
                <br>
                This registration includes virtual participation into scientific sessions.
            </p>
            
            <table class="table">
                <tr>
                    <th>&nbsp;</th>
                    <th>Virtual-on-demand Registration Fee</th>
                </tr>
                <tr>
                    <th>IEEE/IHI Member</th>
                    <td>$50.00</td>
                </tr>
                <tr>
                    <th>IEEE/IHI Student Member</th>
                    <td>$50.00</td>
                </tr>
                <tr>
                    <th>IEEE Life Member</th>
                    <td>$50.00</td>
                </tr>
                <tr>
                    <th>Non-Member</th>
                    <td>$100.00</td>
                </tr>
                <tr>
                    <th>Student Non-Member</th>
                    <td>$100.00</td>
                </tr>
            </table> -->

            <br id="author">
            <p class="mt-4">
                <b>Author Registration for registering a paper:</b>
                <br>
                This registration includes proceedings, breakfasts, coffee Breaks, lunches, and banquet.
            </p>

            <p>
                The author registration period for IEEE ICHI 2023 lasts until April 7, 2023.
                All registration fees will be charged in USD dollars.
                Become a member of Institute for Healthcare Informatics (IHI) for conference registration discount.
                <a target="_blank" 
                    href="https://institute4hi.org/wp/membership-join/">
                    Institute for Healthcare Informatics Member Enrollment
                </a>.
            </p>

            <table class="table">
                <tr>
                    <th>&nbsp;</th>
                    <th>Author Registration Fee by April 7, 2023</th>
                </tr>
                <tr>
                    <th>IEEE/IHI Member</th>
                    <td>$800.00</td>
                </tr>
                <tr>
                    <th>IEEE/IHI Student Member</th>
                    <td>$480.00</td>
                </tr>
                <tr>
                    <th>IEEE Life Member</th>
                    <td>$440.00</td>
                </tr>
                <tr>
                    <th>Non-Member</th>
                    <td>$960.00</td>
                </tr>
                <tr>
                    <th>Student Non-Member</th>
                    <td>$580.00</td>
                </tr>
            </table>


            <br id="non_author">
            <p class="mt-4">
                <b>Conference Registration:</b>
                <br>
                Conference registration for non-authors and authors not registering a paper. This registration includes proceedings, breakfasts, coffee Breaks, lunches, and banquet.
            </p>

            <table class="table">
                <tr>
                    <th>&nbsp;</th>
                    <th>Early Registration Fee</th>
                    <th>After April 15, 2023</th>
                </tr>
                <tr>
                    <th>IEEE/IHI Member</th>
                    <td>$800.00</td>
                    <td>$960.00</td>
                </tr>
                <tr>
                    <th>IEEE/IHI Student Member</th>
                    <td>$480.00</td>
                    <td>$580.00</td>
                </tr>
                <tr>
                    <th>IEEE Life Member</th>
                    <td>$440.00</td>
                    <td>$530.00</td>
                </tr>
                <tr>
                    <th>Non-Member</th>
                    <td>$960.00</td>
                    <td>$1,155.00</td>
                </tr>
                <tr>
                    <th>Student Non-Member</th>
                    <td>$580.00</td>
                    <td>$700.00</td>
                </tr>
            </table>


            <br id="one_day">
            <p class="mt-4">
                <b>One-Day Registration (For Workshops and Tutorials Only, select One-Day Registration):</b>
                <br>
                This registration includes proceedings, breakfast, coffee breaks, and lunch.
            </p>

            <table class="table">
                <tr>
                    <th>&nbsp;</th>
                    <th>Early Registration Fee</th>
                    <th>After April 15, 2023</th>
                </tr>
                <tr>
                    <th>IEEE/IHI Member</th>
                    <td>$250.00</td>
                    <td>$300.00</td>
                </tr>
                <tr>
                    <th>IEEE/IHI Student Member</th>
                    <td>$150.00</td>
                    <td>$210.00</td>
                </tr>
                <tr>
                    <th>IEEE Life Member</th>
                    <td>$150.00</td>
                    <td>$210.00</td>
                </tr>
                <tr>
                    <th>Non-Member</th>
                    <td>$300.00</td>
                    <td>$360.00</td>
                </tr>
                <tr>
                    <th>Student Non-Member</th>
                    <td>$180.00</td>
                    <td>$255.00</td>
                </tr>
            </table>
        </div>


        <div class="col-md-10 mx-auto min-height-10 mt-5">

            <hr>
            <br>
            <br>

            {% include '_visa_letter.html' %}

        </div>
    </div>

</div>
{% endblock %}