{% extends '_layout.html' %}

{% block title %}
Awards
{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden pt-5 mb-5 text-center bg-light cover-image"
    style="background-image: url('./static/image/rst-d.jpg');">
    <div class="col-md-10 p-lg-5 mx-auto my-5 text-white min-height-12">
        <h1 class="pt-5 display-4 fw-bold">
           BEST PAPER AWARDS
        </h1>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<div class="container">
    <div class="mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 pt-0"
            style="padding-top: 0 !important;">

            <p>
                Best paper and best student paper awards are selected by a dedicated committee of experienced community members. Both awards recognize outstanding work from the pool of accepted papers. Best paper committees use a variety of criteria to select the best paper including potential impact to the community, the importance of any results obtained, technical challenges overcome, etc.
            </p>

            <h3 style="color: rgb(0, 37, 82, 80%); margin-top: 2em;">
                BEST PAPERS
            </h3>

            <p>
                <b>
                    New Variations of Random Survival Forests and Applications to Age-Related Disease Data
                </b>
                <br>
                Authors: 
                <i>
                    Tossapol Pomsuwan and Alex Freitas
                </i>
            </p>

            <p>
                <b>
                    A Novel IoT-based Framework for Non-Invasive Human Hygiene Monitoring using Machine Learning Techniques
                </b>
                <br>
                Authors: 
                <i>
                    Md Jobair Hossain Faruk, Shashank Trivedi, Mohammad Masum, Maria Valero, Hossain Shahriar and Sheikh Iqbal Ahamed

                </i>
            </p>

            <h3 style="color: rgb(0, 37, 82, 80%); margin-top: 2em;">
                BEST STUDENT PAPERS
            </h3>

            <p>
                <b>
                    The Visual Accelerometer: A High-fidelity Optic-to-Inertial Transformation Framework for Wearable Health Computing
                </b>
                <br>
                Authors: 
                <i>
                    Chenhan Xu, Huining Li, Zhengxiong Li, Xingyu Chen, Aditya Singh Rathore, Hanbin Zhang, Kun Wang and Wenyao Xu

                </i>
            </p>

            <p>
                <b>
                    Audio-Based Cough Detection in Clinic Waiting Rooms
                </b>
                <br>
                Authors: 
                <i>
                    Yumna Anwar, Sean M Mullan, Octav Chipara, Alberto M Segre and Philip Polgreen

                </i>
            </p>
        </div>
    </div>
</div>

{% endblock %}