{% extends '_layout.html' %}

{% block title %}
Call for Sponsors
{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden pt-5 mb-5 text-center bg-light cover-image"
    style="background-image: url('./static/image/index_image_sponsor.jpg');">
    <div class="col-md-10 p-lg-5 mx-auto my-5 text-white min-height-12">
        <h1 class="pt-5 display-4 fw-bold">
            CALL FOR SPONSORS
        </h1>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<div class="container">

    <div class="row mb-5">

        <div class="col-md-10 px-lg-5 mx-auto min-height-10 ">
            <p>
                The ICHI 2024 organizing committee invites interested parties to participate in its sponsorship and support program. We are delighted to offer conference sponsorship packages. If you do not find the perfect package for you below, please contact us to customize a sponsorship package for your organization.            
            </p>

            <h4>
                Platinum, Gold, Silver and Bronze Sponsor Packages
            </h4>
            
            <div class="px-4 py-2">
                <h5>Platinum: $5,000</h5>
                <ul>
                    <li>Advance recognition as a Platinum Sponsor in electronic communications and on the web.</li>
                    <li>Recognized as a Platinum Sponsor on the conference program.</li>
                    <li>Three 1-day complimentary registrations for the conference.</li>
                    <li>One complimentary industry booth space.</li>
                </ul>
                <h5>Gold: $3,000</h5>
                <ul>
                    <li>Advance recognition as a Gold Sponsor in electronic communications and on the web.</li>
                    <li>Recognized as a Gold Sponsor on the conference program.</li>
                    <li>Two 1-day complimentary registration for the conference.</li>
                    <li>One complimentary industry booth space.</li>
                </ul>
                <h5>Silver: $1,500</h5>
                <ul>
                    <li>Advance recognition as a Silver Sponsor in electronic communications and on the web.</li>
                    <li>Recognized as a Silver Sponsor on the conference programm.</li>
                    <li>One 1-day complimentary registration for the conference.</li>
                </ul>
                <h5>Bronze: $500</h5>
                <ul>
                    <li>Advance recognition as a Bronze Sponsor in electronic communications and on the web.</li>
                    <li>Recognized as a Bronze Sponsor on the conference program.</li>
                </ul>
            </div>


            <h4>Other Sponsorship Packages</h4>
            <div class="px-4 py-2">
                <h5>Student and conference best paper awards: $1,500</h5>
                <ul>
                    <li>Advance recognition as a Best Paper Awards Sponsor in electronic communications and on the web.</li>
                    <li>Recognized as a Best Paper Awards Sponsor on the conference program.</li>
                </ul>

                <h5>Special Exhibition: $1,000</h5>
                <ul>
                    <li>One complimentary industry booth space.</li>
                    <li>Recognized as an Exhibition Sponsor on the conference program.</li>
                </ul>

                <h5>Event Sponsor</h5>
                <p>The organizing committee also invites interested parties to support social events of the meeting, such as coffee breaks, lunch or dinner banquets. Supporters will receive:</p>

                <ul>
                    <li>Advance recognition as the Event's Sponsor in electronic communications and on the web.</li>
                    <li>Recognized as the Event's Sponsor on the conference program.</li>
                </ul>
                <p>
                If you are interested in supporting ICHI 2024, please contact ICHI 2024 Financial Chair Dr. Jie Xu
                <a href="mailto:xujie@ufl.edu">xujie@ufl.edu</a>.
                </p>
            </div>
            
        </div>

    </div>

</div>
{% endblock %}