{% extends '_layout.html' %}

{% block title %}
Call for Tutorials
{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden pt-5 mb-5 text-center bg-light cover-image"
    style="background-image: url('./static/image/rst-7.jpg');">
    <div class="col-md-10 p-lg-5 mx-auto my-5 text-white min-height-12">
        <h1 class="pt-5 display-4 fw-bold">
            CALL FOR TUTORIALS
        </h1>
        <p class="lead fw-normal">

        </p>
        <a class="btn btn-primary" href="{{ config.URL_EASYCHAIR_SUBMISSION }}">
            SUBMISSION
        </a>
        <a class="btn btn-secondary" href="https://www.ieee.org/conferences/publishing/templates.html">
            TEMPLATE
        </a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<div class="container">
    <div class="mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">

            <div class="row">
                <div class="col-md-4">
                    <h2>IMPORTANT DATES</h2>
                </div>

                <div class="col-md-8">
                    <ul>
                        <li>Proposal submission deadline: December 1st, 2021</li>
                        <li>Notification of acceptance: December 15th, 2021</li>
                        <li>Camera-ready: March 30th, 2022</li>
                        <li>Final tutorial materials due: June 1st, 2022</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="mb-5">
        <div class="col-md-10 p-lg-5 mx-auto min-height-10">
            <div class="row">

                <h2>Industry Track</h2>
                <p>
                    Following the success of tutorials at past ICHI Conferences, we cordially invite you to submit your
                    tutorial proposal to ICHI 2022.
                </p>
                <p>
                    Tutorials at ICHI 2022 will be presented by domain experts to cover current topics directly relevant
                    to the conference theme of computing-oriented health informatics. A list of topics of interest to
                    ICHI 2022 include health data science, health informatics, innovative technologies and
                    implementation science. Proposed tutorials should be comprehensive, informative, and appealing to
                    ICHI 2022 attendees.
                </p>

            </div>
        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">

            <div class="row">
                <h2>Submission</h2>

                <p>
                    Tutorials can be half-day (3 hours) or full-day (6 hours) in length. Tutorial instructors must make a commitment to prepare tutorial materials (including slides and activities) that reflect the high-quality standard of ICHI.
                </p>
                <p>
                    Submissions of Tutorial proposals should be to <a target="_blank" href="{{ config.URL_EASYCHAIR_SUBMISSION }}">{{ config.URL_EASYCHAIR_SUBMISSION }}</a>, choosing “Tutorial proposal” as a track.
                </p>
                <p>
                    Each tutorial proposal should include two parts. No specific format is required, but the length of the proposal should not exceed five pages (one for the Part 1, and three to four for Part 2).
                </p>
                
                <div class="col-md-6">
                    <h3>Part 1</h3>
                    <p>
                        A  one page extended abstract describing: the title of the tutorial, the name and affiliation of the instructor(s), the scope of the tutorial, the intended audience, and what new knowledge and perspectives the attendees will acquire, and a short biography of the instructor(s). This extended abstract will appear in the conference proceedings and, in its final form, must adhere to the IEEE Proceedings Format available here for LaTex and Word. Please use the template’s conference mode, see template documentation for details.
                    </p>
                    
                </div>

                <div class="col-md-6">
                    <h3>Part 2</h3>
                    <p>
                        A full tutorial proposal that is at most 4 pages long and must include the following sections:
                    </p>
                    <ul>
                        <li><b>Description</b>: A description of the main topics to be covered during the tutorial.</li>
                        <li><b>Audience</b>: What requirements and background will an attendee need to follow the tutorial (e.g., novice, expert, etc)?</li>
                        <li><b>Aims and Objectives</b>: State the learning objectives and describe them as needed.</li>
                        <li><b>Case Studies (optional)</b>: If relevant, a description of real-world systems, experiences, and/or case studies to be discussed.</li>
                        <li><b>CVs</b>: Short CV for the instructor(s).</li>
                        <li><b>Other</b>: Any other information (e.g., previous tutorials given) that will assist the PC Co-Chairs and Conference Leadership to adequately review the tutorial proposal.</li>
                        </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="mb-5 ">
        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">
            <div class="row">
                <div class="col-md-6">
                    <h2>Reviewing</h2>
                    <p>
                        Tutorials will be accepted based on the ICHI attendees’ likely interest, the breadth and depth of the topic(s), the planned materials to be used, and the expertise and credentials of the instructor(s).
                    </p>
                </div>

                <div class="col-md-6">
                    <h2>Presentation</h2>
                    <p>
                        All tutorials will be featured prominently in the conference program.
                    </p>
                    <p>
Tutorial chairs will receive free registration for the conference (one per tutorial).
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="mb-5">
        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">
            <div class="row">
                <h2>Tutorial Chairs</h2>

                <div class="col-md-4">
                    {% include 'committees/ali.html' %}
                </div>

                <div class="col-md-4">
                    {% include 'committees/nansu.html' %}
                </div>

            </div>
        </div>
    </div>

</div>

{% include '_invite.html' %}


{% endblock %}