{% extends '_layout.html' %}

{% block title %}
Call for Papers
{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden pt-5 mb-5 text-center bg-light cover-image"
    style="background-image: url('./static/image/rst-1.jpg');">
    <div class="col-md-10 p-lg-5 mx-auto my-5 text-white min-height-12">
        <h1 class="pt-5 display-4 fw-bold">
            CALL FOR CONTRIBUTIONS
        </h1>
        <p class="lead fw-normal">
            And an even wittier subheading to boot. Jumpstart your marketing efforts with this
            example based on Apple’s marketing pages.
        </p>
        <!-- <a class="btn btn-outline-secondary" href="#">Coming soon</a> -->
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<div class="container">

    <div class="row g-5 mb-5">
        <div class="col-md-3">
            <h2>CALLS ARE OPEN FOR ALL TYPES OF CONTRIBUTIONS</h2>
        </div>

        <div class="col-md-9">
            <p>Read more detailed instructions and documentation on using or contributing to Bootstrap.</p>
            <ul>
                <li id="code" class="brush: text; plain-text">Workshop Proposals (due Jan 11, 2022)</li>
                <li class="brush: text; plain-text">Tutorials (due Jan 11, 2022)</li>
                <li class="brush: text; plain-text">Full Papers (due March 7, 2022)</li>
                <li class="brush: text; plain-text">Doctoral Consortium (due March 7, 2022)</li>
                <li class="brush: text; plain-text">Industry Track (due March 7, 2022)</li>
                <li class="brush: text; plain-text">Posters and Demos (due March 7, 2022)</li>
            </ul>
        </div>
    </div>


</div>

<div class="row text-white" style="background: url('./static/image/bg-1.jpg');">
    <div class="col-md-10 p-lg-5 mx-auto min-height-10 bg-ichiblue">
        <h5>
            We cordially invite you to submit your contribution to the 10<sup>th</sup> IEEE International Conference on
            Healthcare Informatics (ICHI 2022) that will take place Aug 9-12, 2022 in Rochester, MN, USA.
        </h5>
        <p class="lead">
            ICHI 2022 is a premier community forum concerned with the application of computer science, information
            science, data science, and informatics principles, as well as information technology, and communication
            science and technology to address problems and support research in healthcare, medicine, life science,
            public health, and everyday wellness. The conference highlights the most novel technical contributions to
            stakeholder-centered technology innovation for benefiting human health and the related social and ethical
            implications. ICHI 2022 will feature keynotes, a multi-track technical program including papers, posters,
            panels, workshops, tutorials, an industrial track, and a doctoral consortium.
        </p>
    </div>
</div>
{% endblock %}