{% extends '_layout.html' %}

{% block title %}
Committees
{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden pt-5 mb-5 cover-image"
    style="background-image: url('./static/image/bg-beach.jpg');">
    <div class="col-md-10 p-lg-5 mx-auto my-5 text-center text-white min-height-12">
        <h1 class="pt-5 display-4 fw-bold">
             Committees
        </h1>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<div class="container mb-5">
    <h2 class="text-center mt-4 mb-5 pb-4">
        Organisational Committee
    </h2>


    <div class="row mb-5 pb-4 border-bottom border-2">
        <div class="col-md-3">
            <h4>General Chairs</h4>
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/zhehe.html' %}
                </div>
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/yiguo.html' %}
                </div>
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/jiangbian.html' %}
                </div>
            </div>
        </div>
    </div>


    <div class="row mb-5 pb-4 border-bottom border-2">
        <div class="col-md-3">
            <h3>Analytics Track Chairs</h3>
        </div>

        <div class="col-md-9">
            <div class="row">
                
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/yanshanwang.html' %}
                </div>
                
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/yifanpeng.html' %}
                </div>

                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/meiliu.html' %}
                </div>
            </div> 
        </div>
    </div>


    <div class="row mb-5 pb-4 border-bottom border-2">
        <div class="col-md-3">
            <h3>Human Factors Track Chair</h3>
        </div>

        <div class="col-md-9">
            <div class="row">
                
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/xinninggui.html' %}
                </div>
            </div> 
        </div>
    </div>


    <div class="row mb-5 pb-4 border-bottom border-2">
        <div class="col-md-3">
            <h3>Systems Track Chair</h3>
        </div>

        <div class="col-md-9">
            <div class="row">
                
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/zhengxinghuang.html' %}
                </div>
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/gregorstiglic.html' %}
                </div>
            </div> 
        </div>
    </div>

    <div class="row mb-5 pb-4 border-bottom border-2">
        <div class="col-md-3">
            <h3>Publicity Chair</h3>
        </div>

        <div class="col-md-9">
            <div class="row">
                
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/gayodiallo.html' %}
                </div>
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/patriziavizza.html' %}
                </div>
            </div> 
        </div>
    </div>

    <div class="row mb-5 pb-4 border-bottom border-2">
        <div class="col-md-3">
            <h3>Industry Track Chair</h3>
        </div>

        <div class="col-md-9">
            <div class="row">
                
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/ahmadptafti.html' %}
                </div>
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/huhuang.html' %}
                </div>
            </div> 
        </div>
    </div>


    <div class="row mb-5 pb-4 border-bottom border-2">
        <div class="col-md-3">
            <h3>Poster and Demonstration Chair</h3>
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/xinghe.html' %}
                </div> 
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/mializaalustria.html' %}
                </div> 
            </div> 
            
        </div>
    </div>


    <div class="row mb-5 pb-4 border-bottom border-2">
        <div class="col-md-3">
            <h3>Workshops Chair</h3>
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/pierangeloveltri.html' %}
                </div> 
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/lisianepruinelli.html' %}
                </div>
            </div> 
            
        </div>
    </div>
    <div class="row mb-5 pb-4 border-bottom border-2">
        <div class="col-md-3">
            <h3>Financial Chair</h3>
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/jiexu.html' %}
                </div> 
            </div> 
            
        </div>
    </div>


    <div class="row mb-5 pb-4 border-bottom border-2">
        <div class="col-md-3">
            <h3>Doctoral Consortium Chairs</h3>
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/zhanzhang.html' %}
                </div> 
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/lynettegerido.html' %}
                </div> 
            </div> 
            
        </div>
    </div>

    
    <div class="row mb-5 pb-4 border-bottom border-2">
        <div class="col-md-3">
            <h3>Tutorial Chairs</h3>
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/shubotian.html' %}
                </div> 
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/ruiyin.html' %}
                </div> 
            </div> 
            
        </div>
    </div>

    <div class="row mb-5 pb-4 border-bottom border-2">
        <div class="col-md-3">
            <h3>Women in Healthcare Informatics Event Chairs</h3>
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/victoriatiasse.html' %}
                </div> 
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/gondyleroy.html' %}
                </div> 
            </div> 
            
        </div>
    </div>

    <div class="row mb-5 pb-4 border-bottom border-2">
        <div class="col-md-3">
            <h3>Publication Chairs</h3>
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/balubhasuran.html' %}
                </div> 
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/vipinakuttichikeloth.html' %}
                </div> 
            </div> 
            
        </div>
    </div>

    <div class="row mb-5 pb-4 border-bottom border-2">
        <div class="col-md-3">
            <h3>Local Chair</h3>
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/mafebrooks.html' %}
                </div> 
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/qianqiansong.html' %}
                </div> 
            </div> 
            
        </div>
    </div>


    <div class="row mb-5 pb-4 border-bottom border-2">
        <div class="col-md-3">
            <h3>Web Chair</h3>
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/xinghe.html' %}
                </div> 
            </div> 
            
        </div>
    </div>

</div>
{% endblock %}