{% extends '_layout.html' %}

{% block title %}
Committees
{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden pt-5 mb-5 text-center bg-light cover-image"
    style="background-image: url('./static/image/rst-2.jpg');">
    <div class="col-md-10 p-lg-5 mx-auto my-5 text-white min-height-12">
        <h1 class="pt-5 display-4 fw-bold">
            Conference Committee
        </h1>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<div class="container">

    <div class="row g-5 mb-5 border-bottom border-2">
        <div class="col-md-3">
            <h3>General Chairs</h3>
        </div>

        <div class="col-md-9">
            <div class="row border-top p-2">
                <div class="col-md-4">
                    Hongfang Liu
                </div>
                <div class="col-md-8">
                    Department of AI and Informatics Research<br>
                    Mayo Clinic, Rochester, MN, USA
                </div>
            </div> 

            <div class="row border-top p-2">
                <div class="col-md-4">
                    Ravishankar K Iyer, PhD
                </div>
                <div class="col-md-8">
                    Department of Electrical & Computer Engineering<br>
                    University of Illinois Urbana-Champaign, Champaign, IL, USA
                </div>
            </div>
        </div>
    </div>

    <div class="row g-5 mb-5 border-bottom border-2">
        <div class="col-md-3">
            <h3>Program Chairs</h3>
        </div>

        <div class="col-md-9">
            <div class="row border-top p-2">
                <div class="col-md-4">
                    XXX
                </div>
                <div class="col-md-8">
                    
                </div>
            </div> 

            <div class="row border-top p-2">
                <div class="col-md-4">
                    Yang Gong, MD, PhD
                </div>
                <div class="col-md-8">
                    School of Biomedical Informatics<br>
                    University of Texas Health Science Center at Houston, Houston, TX, USA
                </div>
            </div>

            <div class="row border-top p-2">
                <div class="col-md-4">
                    Kalyan Pasupathy, PhD
                </div>
                <div class="col-md-8">
                    Department of Biomedical and Health Information Sciences<br>
                    University of Illinois Chicago, Chicago, IL, USA
                </div>
            </div>
        </div>
    </div>

    <div class="row g-5 mb-5 border-bottom border-2">
        <div class="col-md-3">
            <h3>Poster and Demonstration Chairs</h3>
        </div>

        <div class="col-md-9">
            <div class="row border-top p-2">
                <div class="col-md-4">
                    Hongfang Liu
                </div>
                <div class="col-md-8">
                    Department of AI and Informatics Research<br>
                    Mayo Clinic, Rochester, MN, USA
                </div>
            </div> 

            <div class="row border-top p-2">
                <div class="col-md-4">
                    Hongfang Liu
                </div>
                <div class="col-md-8">
                    Department of AI and Informatics Research<br>
                    Mayo Clinic, Rochester, MN, USA
                </div>
            </div>

            <div class="row border-top p-2">
                <div class="col-md-4">
                    Hongfang Liu
                </div>
                <div class="col-md-8">
                    Department of AI and Informatics Research<br>
                    Mayo Clinic, Rochester, MN, USA
                </div>
            </div>
        </div>
    </div>


    <div class="row g-5 mb-5 border-bottom border-2">
        <div class="col-md-3">
            <h3>Financial Chair</h3>
        </div>

        <div class="col-md-9">
            <div class="row p-2">
                <div class="col-md-4">
                    Che Ngufor, PhD
                </div>
                <div class="col-md-8">
                    Department of AI and Informatics Research<br>
                    Mayo Clinic, Rochester, MN, USA
                </div>
            </div> 

        </div>
    </div>


    <div class="row g-5 mb-5 border-bottom border-2">
        <div class="col-md-3">
            <h3>Publicity Chair</h3>
        </div>

        <div class="col-md-9">
            <div class="row p-2">
                <div class="col-md-4">
                    XXX
                </div>
                <div class="col-md-8">
                    
                </div>
            </div> 

        </div>
    </div>



    <div class="row g-5 mb-5 border-bottom border-2">
        <div class="col-md-3">
            <h3>Publication Chairs</h3>
        </div>

        <div class="col-md-9">
            <div class="row p-2">
                <div class="col-md-4">
                    XXX
                </div>
                <div class="col-md-8">
                    
                </div>
            </div> 

        </div>
    </div>


    <div class="row g-5 mb-5 border-bottom border-2">
        <div class="col-md-3">
            <h3>Web Chairs</h3>
        </div>

        <div class="col-md-9">
            <div class="row p-2">
                <div class="col-md-4">
                    Huan He
                </div>
                <div class="col-md-8">
                    
                </div>
            </div> 

        </div>
    </div>


    <div class="row g-5 mb-5 border-bottom border-2">
        <div class="col-md-3">
            <h3>Workshops Chair</h3>
        </div>

        <div class="col-md-9">
            <div class="row p-2">
                <div class="col-md-4">
                    Yanshan Wang
                </div>
                <div class="col-md-8">
                    Department of Health Information Management<br>
                    University of Pittsburgh, Pittsburgh, PA, USA
                </div>
            </div> 

        </div>
    </div>



    <div class="row g-5 mb-5 border-bottom border-2">
        <div class="col-md-3">
            <h3>Program Committee</h3>
        </div>

        <div class="col-md-9">
            <div class="row p-2">
                <div class="col-md-4">
                    Yanshan Wang
                </div>
                <div class="col-md-8">
                    Department of Health Information Management<br>
                    University of Pittsburgh, Pittsburgh, PA, USA
                </div>
            </div> 

        </div>
    </div>

</div>
{% endblock %}