{% extends '_layout.html' %}

{% block title %}
Committees
{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden pt-5 mb-5 cover-image"
    style="background-image: url('./static/image/rst-2.jpg');">
    <div class="col-md-10 p-lg-5 mx-auto my-5 text-center text-white min-height-12">
        <h1 class="pt-5 display-4 fw-bold">
             Committees
        </h1>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<div class="container mb-5">
    <h2 class="text-center mt-4 mb-5 pb-4">
        Organisational Committee
    </h2>


    <div class="row mb-5 pb-4 border-bottom border-2">
        <div class="col-md-3">
            <h4>General Chairs</h4>
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/huaxu.html' %}
                </div>
                <div class="col-6 col-md-3 fs-sm">
                    {% include 'committees/xiahu.html' %}
                </div>
            </div>
        </div>
    </div>


    <h2 class="text-center mt-5 mb-5 pb-4">
        IEEE-ICHI Steering Committee (Stay tuned)
    </h2>

    <div class="row mb-5 pb-4 border-bottom border-2">
        <div class="col-md-3">
            <h3>Steering Committee</h3>
        </div>

    </div>


    <!-- <h2 class="text-center mt-4 mb-5 pb-4">
        Program Committee
    </h2> -->

</div>
{% endblock %}