{% extends '_layout.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden pt-5 mb-5 cover-image"
    style="background-image: url('./static/image/rst-0.jpg');">

    <div class="p-lg-5 mx-auto my-5 row justify-content-center text-center ">
        <div class="col-md-10 text-center text-white p-md-3">
            <h1 class="my-3 display-4 fw-bold">
                10<sup>th</sup> IEEE INTERNATIONAL CONFERENCE ON HEALTHCARE INFORMATICS
            </h1>

            <p class="lead fw-normal fs-5 text-shadow">
                THE PREMIER FORUM FOR ADVANCES IN HEALTHCARE INFORMATICS
            </p>
    
            <p class="lead fw-normal fs-4 text-shadow">
                Rochester, Minnesota, USA <br>
                June 13<sup>th</sup>-16<sup>th</sup>, 2022
            </p>
        </div>
    </div>

    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>


</div>


<div class="container mb-5">

    <div class="row justify-content-center ">

        <div class="col-md-9">
            <h4>
                Welcome to IEEE ICHI 2022!
            </h4>
            <p>
                ICHI 2022 is a premier community forum concerned with the application of computer science, information science, data science, and informatics principles, as well as information technology, and communication science and technology to address problems and support research in healthcare, medicine, life science, public health, and everyday wellness.
            </p>
            <p>
                We invite you to share your research and insights at IEEE ICHI 2022. The conference highlights the most novel technical contributions to stakeholder-centered technology innovation for benefiting human health and the related social and ethical implications. ICHI 2022 will feature keynotes, a multi-track technical program including papers, posters, panels, workshops, tutorials, an industrial track, and a doctoral consortium.
            </p>
            
            <p class="fw-bold fst-italic">
                ICHI 2022 General Chairs
            </p>
            <p>
                Hongfang Liu, Mayo Clinic <br>
                Ravishankar K Iyer, University of Illinois Urbana-Champaign
            </p>

            <hr>

            Follow <a target="_blank" href="https://twitter.com/ichi2022">@ichi2022</a> on Twitter to keep up with conference activities and announcements. <br>
            Questions? E-mail <a target="_blank" href="mailto:ieeeichi2022@gmail.com">ieeeichi2022@gmail.com</a>
        </div>
    </div>

</div>


<hr>

<div class="container-fluid">
    <div class="mb-5">
        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">
            <div class="row justify-content-center">

                <div class="col-md-9">

                    <h2 class="text-center mb-5">
                        SUBMISSION IMPORTANT DATES
                    </h2>
    
                    <p>
                        <b>December 1st, 2021</b>: workshop proposals and tutorial proposals submission deadline
                    </p>
                    <p>
                        <b>January 21st, 2022</b>: paper, poster and demo, industry, and doctoral consortium submission deadline
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>


<hr>

<div class="container-fluid">
    <div class="mb-5">
        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">
            <div class="row justify-content-center">
                <h2 class="text-center mb-5">
                    General Co-Chairs
                </h2>

                <div class="col-md-4">
                    {% include 'committees/hongfang.html' %}
                </div>

                <div class="col-md-4">
                    {% include 'committees/ravishankar.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="container-fluid">
    <div class="mb-5">
        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">
            <div class="row">
                <h2 class="text-center mb-5">
                    Twitter Feed
                </h2>

                <div class="col-md-4">
                    <a class="twitter-timeline" data-height="500" data-dnt="true" href="https://twitter.com/2021Ichi?ref_src=twsrc%5Etfw">Tweets by 2021Ichi</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>

                <div class="col-md-4">
                    <a class="twitter-timeline" data-height="500" data-dnt="true" href="https://twitter.com/IEEE_ICHI2020?ref_src=twsrc%5Etfw">Tweets by IEEE_ICHI2020</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>

                <div class="col-md-4">
                    <a class="twitter-timeline" data-height="500" data-dnt="true" href="https://twitter.com/ieeeichi2019?ref_src=twsrc%5Etfw">Tweets by ieeeichi2019</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}