{% extends '_layout.html' %}

{% block title %}
Keynotes
{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden pt-5 mb-5 text-center bg-light cover-image"
    style="background-image: url('./static/image/rst-5.jpg');">
    <div class="col-md-10 p-lg-5 mx-auto my-5 text-white min-height-12">
        <h1 class="pt-5 display-4 fw-bold">
            KEYNOTES
        </h1>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<div class="container">
    <div class="mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">

            <div class="row mt-5 mb-5">

                <div class="col">

                    <p>
                        Analytics Track Keynote
                    </p>

                    <h2 class="mb-4">
                        <a target="_blank" href="https://www.dbmi.columbia.edu/profile/chunhua-weng/">Chunhua Weng</a>
                    </h2>

                    <p>
                        <img class="keynote_img"
                            src="./static/image/keynote_chunhua_wang.jpg" 
                            alt="Dr. Chunhua Wang">
                    </p>

                    <p>
                        <i>Columbia University</i>
                    </p>

                    <p>
                        Professor of Biomedical Informatics
                    </p>
                     
                </div>
            </div>


            <hr>


            

            <div class="row mt-5 mb-5">

                <div class="col">

                    <p>
                        System Track Keynote
                    </p>

                    <h2 class="mb-4">
                        <a target="_blank" href="https://www.heinz.cmu.edu/faculty-research/profiles/padman-rema/">
                            Rema Padman
                        </a>
                    </h2>
                    

                    <p>
                        <img class="keynote_img"
                            src="./static/image/keynote_rema_padman.jpg" 
                            alt="Dr. Rema Padman">
                    </p>

                    <p>
                        <i>Carnegie Mellon University</i>
                    </p>

                    <p>
                        Trustees Professor Of Management Science And Healthcare Informatics
                    </p>

                </div>
            </div>



            <hr>

            <div class="row mt-5 mb-5">

                <div class="col">

                    <p>
                        Human Factors Track Keynote
                    </p>

                    <h2 class="mb-4">
                        <a target="_blank" href="https://malonecenter.jhu.edu/people/ayse-p-gurses/">Ayse P. Gurses</a>
                    </h2>

                    <p>
                        <img class="keynote_img"
                            src="./static/image/keynote_ayse_gurses_2.jpg" 
                            alt="Dr. Ayse P. Gurses">
                    </p>

                    <p>
                        <i>Johns Hopkins University</i>
                    </p>

                    <p>
                            Director, Armstrong Institute Center for Health Care Human Factors
                    </p>

                    

                </div>
            </div>



            <hr>


            <div class="row mt-5 mb-5">

                <div class="col">

                    <p>
                        Industry Track Keynote
                    </p>

                    <h2 class="mb-4">
                        <a target="_blank" href="https://www.closedloop.ai/team/blackford-middleton">

                            Blackford Middleton
                        </a>
                    </h2>

                    <p>
                        <img class="keynote_img"
                            src="./static/image/keynote_blackford_middleton.jpg" 
                            alt="Dr. Blackford Middleton">
                    </p>

                    <p>
                        <i>ClosedLoop.ai</i>
                    </p>

                    <p>
                        Chief Medical Officer
                    </p>

                </div>
            </div>


        </div>
    </div>
</div>

{% endblock %}