{% extends '_layout.html' %}

{% block title %}
Presenter Guidelines
{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden pt-5 mb-5 text-center bg-light cover-image"
    style="background-image: url('./static/image/rst-c.jpg');">
    <div class="col-md-10 p-lg-5 mx-auto my-5 text-white min-height-12">
        <h1 class="pt-5 display-4 fw-bold">
            PRESENTER GUIDELINES
        </h1>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<div class="container">
    <div class="mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 " style="padding-top: 0 !important;">

            <div class="row mb-5">

                <div class="col">

                    <!-- <p style="color: red; text-align: center;">
                        **Please ensure that you have registered for the conference at
                        <a href="./attending.html">this link</a>**

                    </p> -->

                    <h2 class="mb-4">
                        Scientific Paper Sessions
                    </h2>

                    <p>
                        For scientific paper sessions, regular presentations have 18 minutes (15 minutes presentation and 3
minutes QA).
                    </p>

                    <p>
                        Please arrive in your scheduled meeting room 15 minutes before your presentation. Introduce yourself
                        to the session moderator. Familiarize yourself with the room set-up, audiovisual equipment, location of
                        lights, and speaker area. This will allow you adequate time to work with the audiovisual and computer
                        technicians to set up equipment.
                    </p>

                    <p>
                        ICHI 2024 only has two special sessions for virtual presentations with 10 spots in total and virtual
                        presentations are allowed for international attendees who cannot travel to the conference due to visa
                        constraints. Please send the request to Dr. Zhe He at <a href="mailto:zhe@fsu.edu">zhe@fsu.edu</a> and follow the instructions for IEEE
                        ICHI 2024 virtual-on-demand participation. If you have any questions regarding the virtual
                        presentations, please reach out to Dr. Zhe He at <a href="mailto:zhe@fsu.edu">zhe@fsu.edu</a>. 
                    </p>


                    <h2 class="mb-4">
                        Poster and Demo Session Guidelines
                    </h2>
                    <p>
                        <b>Formatting & Presentation</b>

                        <hr>

                    <ul>
                        <li>
                            The dimensions of the poster display boards will be <b>71 inches (~6 ft) in width and 46 (~3.8 ft)
inches in height</b>. Presenters can choose the size of their posters, but they should not exceed 3.5
ft in height for better visibility

                        </li>
                        <li>
                            Posters should be laid out <b>horizontally</b>
                        </li>
                        <li>
                            Use simple, sans serif fonts (e.g., Arial, Calibri, Helvetica) for different parts of the poster:
                            <ul>
                                <li>poster title: 80-150 pts (bold recommended)
                                <li>author name(s): 54-60 pts</li>
                                <li>headings: 36-40 pts</li>
                                <li>body text: 24-32 pts</li>
                                <li>figure captions: 18 pts</li>
                            </ul>

                        </li>
                        <li>
                            Each presenter is responsible for printing their poster.
                        </li>
                        <li>
                            Presenters must be at their designated spaces during all poster viewing times (see conference
schedule) to talk about their work and answer questions.
                        </li>
                    </ul>
                    </p>



                    <p>
                        <b>Poster set-up and tear down</b>

                        <hr>

                    <ul>
                        <li>All posters should be on display at 2:00 pm on Tuesday, June 4.</li>
                        <li>Each poster will be assigned a number and a display board in the exhibit hall. Assignments will
                        be listed at the conference center on Tuesday, June 4.</li>
                        <li>Set up your poster only in your assigned space. A staff person will be on hand to help you locate
                        this.</li>
                        <li>Mounting supplies (pushpins) will be provided.</li>
                        <li>Do not cover the numbers when hanging your poster.</li>
                        <li>Posters should be taken down after 5:00 pm on Wednesday, June 5. Posters will be disposed of
                        if not removed by Wednesday evening.</li>
                    </ul>
                    </p>

                    <p>
                        <b>Poster Appearance - Best Practices</b>

                        <hr>

                    <ul>
                        <li>Keep text brief. Report only key aspects of each section. Don’t display the entire text from a
                            manuscript. Too much detail distracts from the primary message of the text.</li>
                        <li>Keep figures simple. Convey only one idea per figure, table, or photograph. Figures from
                            publications, theses, or dissertations normally do not make good visuals.</li>
                        <li>Text and figures should be readable from a distance of six feet.</li>
                        <li>Charts and graphs should clearly convey intended information to the viewer.</li>
                        <li>Use appropriate spacing between words, sections, and figures. Don’t make it too crowded.</li>
                    </ul>

                    </p>

                    <p>
                        <b>Poster Awards</b>

                        <hr>

                    <ul>
                        <li>Three posters will be chosen for top poster awards.</li>
                        <li>Poster presentations will be judged based on the following criteria:</li>
                        <ul>
                                <li>Quality of poster presentation: The presenter explained the poster clearly,
                                demonstrated content knowledge, and was able to answer questions.</li>
                                <li>Quality of scholarship: the study is conceptually and methodologically sound; and the
                                findings are compelling and can make a meaningful contribution to the body of
                                knowledge or practice</li>
                                <li>Clarity of content: sufficient background information is provided, and the research being
                                communicated is easy to understand.</li>
                                <li>Overall appearance: The poster is legible and not cluttered with text; any visuals used
                                are effective.</li>
                                <li>Organization & flow: The components of the poster are organized in a logical flow.</li>
                        </ul>
                    </ul>

                    </p>


                    <!-- <p>
                        Poster pring Locations

                        <hr>

                        There are Fedex and UPS stores located in Rice Village (near the conference venue).

                    <ul>

                    	<p><a target="_blank" href="https://local.fedex.com/en-us/tx/houston/office-0112?cmp=LOC-1001545-3-1-971-1110000-US-US-EN-GPLCOPYANDPRINT">FedEx Office Print & Ship Center ></a> 
                    	<br>2455 Rice Blvd
                    	<br>Houston, Texas 77005
                    	<br>Directions: <a target="_blank" href="https://www.google.com/maps/place/FedEx+Office+Print+%26+Ship+Center/@29.7171498,-95.4164473,17z/data=!3m1!4b1!4m6!3m5!1s0x8640c05dbf5cb5a1:0x88094f0994523b52!8m2!3d29.7171498!4d-95.4164473!16s%2Fg%2F1thw2jc0?entry=tts&shorturl=1">FedEx ></a> >
                    	<br>Email: <a href="mailto:USA0112@FEDEX.COM">USA0112@FEDEX.COM</a></p>

                        <p><a target="_blank" href="https://locations.theupsstore.com/tx/houston/2368a-rice-blvd?utm_source=Yext&utm_medium=organic&utm_campaign=Listings">The UPS Store Rice Blvd ></a> 
                    	<br>2368A Rice Blvd
                    	<br>Houston, Texas 77005
                    	<br>Directions: <a target="_blank" href="https://www.google.com/maps/place/The+UPS+Store/@29.7182455,-95.4190211,17z/data=!4m6!3m5!1s0x8640c067679e3187:0x9e16cc0483e93887!8m2!3d29.7177119!4d-95.4144985!16s%2Fg%2F12hljlps3?entry=tts&shorturl=1">UPS ></a> >
                    	<br>Email: <a href="mailto:store6376@theupsstore.com">store6376@theupsstore.com</a></p>

                  
                    </ul>
                    </p>
                    <hr>

                        If you have any questions regarding the poster session, please reach out to
                        <a href="mailto:mei.liu@ufl.edu">mei.liu@ufl.edu</a>.
                    </p> -->

                </div>
            </div>



        </div>
    </div>
</div>

{% endblock %}