{% extends '_layout.html' %}

{% block title %}
Presenter Guidelines
{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden pt-5 mb-5 text-center bg-light cover-image"
    style="background-image: url('./static/image/rst-c.jpg');">
    <div class="col-md-10 p-lg-5 mx-auto my-5 text-white min-height-12">
        <h1 class="pt-5 display-4 fw-bold">
            PRESENTER GUIDELINES
        </h1>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<div class="container">
    <div class="mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 " style="padding-top: 0 !important;">

            <div class="row mb-5">

                <div class="col">

                    <p style="color: red; text-align: center;">
                        **Please ensure that you have registered for the conference at
                        <a href="./attending.html">this link</a>**

                    </p>

                    <h2 class="mb-4">
                        Scientific Paper Sessions
                    </h2>

                    <p>
                        For scientific paper sessions, regular presentations have 25 minutes (20 minutes presentation
                        and 5 minutes QA) and short presentation have 15 minutes (12 minutes presentation and 3 minutes
                        QA).
                    </p>

                    <p>
                        Please arrive in your scheduled meeting room 15 minutes before your presentation. Introduce
                        yourself to the session moderator. Familiarize yourself with the room set-up, audiovisual
                        equipment, location of lights, and speaker area. This will allow you adequate time to work with
                        the audiovisual and computer technicians to set up equipment.
                    </p>

                    <p>
                        For virtual presentations, please send the request to <a href="mailto:he.huan@mayo.edu">he.huan@mayo.edu</a> and follow the instructions for IEEE ICHI 2022 virtual-on-demand participation.
                        If you have any questions regarding the virtual presentations, please reach out to <a href="mailto:he.huan@mayo.edu">he.huan@mayo.edu</a>.
                    </p>


                    <h2 class="mb-4">
                        Poster and Demo Sessions
                    </h2>


                    <p>
                        The surface areas of the poster displays will be <b>8 ft wide by 4 ft high</b>. The exact poster
                        dimensions are up to the presenter, but we recommend no higher than 3.5 feet for ease of
                        viewing.
                    <ul>
                        <li>
                            Posters must be presented <b>horizontally</b>.

                        </li>
                        <li>
                            Each presenter is responsible for coordinating the printing of their own poster.

                        </li>
                    </ul>
                    </p>
                    <p>
                        Poster set-up and tear down

                    <ul>
                        <li>
                            All posters must be on display no later than 1:00pm on Sunday, June 12th.

                        </li>
                        <li>
                            All poster boards will be numbered, indicating assigned poster space. Assignments
                            will be listed at the conference center on Sunday, June 12th. Only put your poster
                            up in your assigned space. A staff person will be on hand to help you find your
                            space in the exhibit hall. Please do not cover the numbers when hanging your poster.

                        </li>
                        <li>
                            Mounting supplies (pushpins) will be provided

                        </li>
                        <li>
                            Poster presenters must be available by their poster during all poster viewing
                            periods (see conference program) to explain your work and answer questions.

                        </li>
                        <li>
                            Posters are to be taken down after 5:00pm on Monday, June 13th. Posters will be
                            disposed of if not taken down on Monday evening.

                        </li>
                    </ul>
                    </p>

                    <p>
                        Poster Appearance - Best Practices

                    <ul>
                        <li>
                            Keep text brief. Report only key aspects of each section. It is not advisable to
                            display the entire text from a manuscript. Too much detail detracts from the primary
                            message of the text.

                        </li>
                        <li>
                            Keep figures simple. Convey only one idea per figure, table, or photograph. Figures
                            from publications, theses, or dissertations normally do not make good visuals.

                        </li>
                        <li>
                            Text and figures should be readable to someone standing at a distance of six feet.

                        </li>
                        <li>
                            Charts and graphs should clearly show what you want the audience to see.

                        </li>
                        <li>
                            Use appropriate blank space between words, sections, and figures.

                        </li>
                        <li>
                            Simple typefaces are preferable to fancy fonts. Bold type may be effective on
                            headings.

                        </li>
                    </ul>

                    </p>

                    <p>
                        Virtual Posters

                    <ul>
                        <li>
                            If you will have a virtual poster presentation, please follow the virtual-on-demand
                            instructions for video recording and send a digital copy of your poster Katelyn
                            Cordie (<a href="mailto:cordie.katelyn@mayo.edu">cordie.katelyn@mayo.edu</a>) no later than
                            Tuesday, May 31st , 2022. We will
                            print a physical copy of it and have a QR code linked to your video during the
                            in-person poster session.
                        </li>
                    </ul>



                    </p>


                    <p>


                        If you have any questions regarding the poster session, please reach out to
                        <a href="mailto:cordie.katelyn@mayo.edu">cordie.katelyn@mayo.edu</a> or <a
                            href="mailto:he.huan@mayo.edu">he.huan@mayo.edu</a>.
                    </p>

                </div>
            </div>



        </div>
    </div>
</div>

{% endblock %}