{% extends '_layout.html' %}

{% block title %}
Program
{% endblock %}

{% block content %}
<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }

    .tg td,
    .tg th {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg .tg-mjdq {
        background-color: #ffce93;
        border-color: inherit;
        font-weight: bold;
        text-align: left;
        vertical-align: top;
    }

    .tg .tg-0pky {
        border-color: inherit;
        text-align: left;
        vertical-align: top;
    }

    .tg .tg-fymr {
        border-color: inherit;
        font-weight: bold;
        text-align: left;
        vertical-align: top;
    }

    @media screen and (max-width: 600px) {
        .tg {
            width: 100%;
            overflow-x: auto;
        }

        .tg col,
        .tg thead th {
            display: none;
        }

        .tg tr {
            border-bottom: 1px solid #ddd;
        }

        .tg td {
            display: block;
            text-align: right;
        }

        .tg td:before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="position-relative overflow-hidden pt-5 mb-5 text-center bg-light cover-image"
    style="background-image: url('./static/image/rst-3.jpg');">
    <div class="col-md-10 p-lg-5 mx-auto my-5 text-white min-height-12">
        <h1 class="pt-5 display-4 fw-bold">
            PROGRAM
        </h1>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<div class="container">
    <h5>
        <a href="./static/file/ICHI2024_Schedule.xlsx"
            title="ICHI 2024 schedule at glance v08">
            <i class="far fa-file-excel"></i>
            Tentative ICHI 2024 schedule (EXCEL)
            <!-- is available here! -->
        </a>
    </h5>   
    <p style="margin-top: -0.7rem; margin-bottom: 2rem;">Last updated on 5/2/2024</p>
    <table class="tg">
        <colgroup>
            <col style="width: 107px">
            <col style="width: 157px">
            <col style="width: 157px">
            <col style="width: 157px">
            <col style="width: 157px">
            <col style="width: 157px">
        </colgroup>
        <thead>
            <tr>
                <th class="tg-mjdq">Day 1<br>Monday<br>6/3/2024</th>
                <th class="tg-mjdq" colspan="5">Workshops (whole day)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tg-0pky"></td>
                <td class="tg-fymr">Room 1</td>
                <td class="tg-fymr">Room 2</td>
                <td class="tg-fymr">Room 3</td>
                <td class="tg-fymr">Room 4</td>
                <td class="tg-fymr">Room 5</td>
            </tr>
            <tr>
                <td class="tg-0pky">7:30 am – 8:30 am</td>
                <td class="tg-0pky" colspan="5">Registration <br>Coffee and Snack @Exhibition Space</td>
            </tr>
            <tr>
                <td class="tg-0pky">8:30 am – 10:00 am</td>
                <td class="tg-0pky">Workshop 1</td>
                <td class="tg-0pky">Workshop 2</td>
                <td class="tg-0pky">Workshop 3</td>
                <td class="tg-0pky">Workshop 4</td>
                <td class="tg-0pky">Workshop 5</td>
            </tr>
            <tr>
                <td class="tg-0pky">10:00 am – 10:20 am</td>
                <td class="tg-0pky" colspan="5"> Coffee Break @Event/Exhibition Space</td>
            </tr>
            <tr>
                <td class="tg-0pky">10:20 am – 12:00 pm</td>
                <td class="tg-0pky">Workshop 1</td>
                <td class="tg-0pky">Workshop 2</td>
                <td class="tg-0pky">Workshop 3</td>
                <td class="tg-0pky">Workshop 4</td>
                <td class="tg-0pky">Workshop 5</td>
            </tr>
            <tr>
                <td class="tg-0pky">12:00 pm – 1:00 pm</td>
                <td class="tg-0pky" colspan="5">Lunch @Event/Exhibition Space </td>
            </tr>
            <tr>
                <td class="tg-0pky">1:00 pm – 2:30 pm</td>
                <td class="tg-0pky">Workshop 1</td>
                <td class="tg-0pky">Workshop 2</td>
                <td class="tg-0pky">Workshop 3</td>
                <td class="tg-0pky">Workshop 6</td>
                <td class="tg-0pky">Workshop 5</td>
            </tr>
            <tr>
                <td class="tg-0pky">2:30 pm – 2:50 pm</td>
                <td class="tg-0pky" colspan="5">Coffee Break @Event/Exhibition Space</td>
            </tr>
            <tr>
                <td class="tg-0pky">2:50 pm – 4:30 pm</td>
                <td class="tg-0pky">Workshop 1</td>
                <td class="tg-0pky">Workshop 2</td>
                <td class="tg-0pky">Workshop 3</td>
                <td class="tg-0pky">Workshop 6</td>
                <td class="tg-0pky">Workshop 5</td>
            </tr>
            <tr>
                <td class="tg-mjdq">Day 2<br>Tuesday<br>6/4/2024 </td>
                <td class="tg-mjdq" colspan="5">Tutorials &amp; Doctoral Consortium, Welcome Session &amp; Keynote 1, Paper Sessions, Poster
                    Session &amp; Reception </td>
            </tr>
            <tr>
                <td class="tg-0pky">7:30 am – 8:30 am</td>
                <td class="tg-0pky" colspan="5">Registration <br>Coffee and Snack @Exhibition Space</td>
            </tr>
            <tr>
                <td class="tg-0pky">8:30 am – 10:00 am</td>
                <td class="tg-0pky">Tutorial 1</td>
                <td class="tg-0pky">Tutorial 2</td>
                <td class="tg-0pky">Tutorial 3</td>
                <td class="tg-0pky">Tutorial 4</td>
                <td class="tg-0pky">Doctoral Consortium</td>
            </tr>
            <tr>
                <td class="tg-0pky">10:00 am – 10:20 am</td>
                <td class="tg-0pky" colspan="5">Coffee Break @Event/Exhibition Space</td>
            </tr>
            <tr>
                <td class="tg-0pky">10:20 am – 12:00 pm</td>
                <td class="tg-0pky">Tutorial 1</td>
                <td class="tg-0pky">Tutorial 2</td>
                <td class="tg-0pky">Tutorial 3</td>
                <td class="tg-0pky">Tutorial 4</td>
                <td class="tg-0pky">Doctoral Consortium</td>
            </tr>
            <tr>
                <td class="tg-0pky">12:00 pm – 1:00 pm</td>
                <td class="tg-0pky" colspan="5">Lunch @Event/Exhibition Space</td>
            </tr>
            <tr>
                <td class="tg-0pky">1:00 pm – 2:15 pm</td>
                <td class="tg-0pky" colspan="5">Welcome Session (1:00 – 1:15 pm)<br>Keynote 1 (1:15 – 2:15 pm) by Dr. Jessica Ancker @ Lake Nona Auditorium</td>
            </tr>
            <tr>
                <td class="tg-0pky">2:15 pm – 2:30 pm</td>
                <td class="tg-0pky" colspan="5">Coffee Break @Event/Exhibition Space</td>
            </tr>
            <tr>
                <td class="tg-0pky">2:30 pm – 4:00 pm</td>
                <td class="tg-0pky">Paper Session 1 <br>(Analytics 1)</td>
                <td class="tg-0pky">Paper Session 2 <br>(Human-Factor 1)</td>
                <td class="tg-0pky">Paper Session 3 <br>(System 1)</td>
                <td class="tg-0pky">Demo Session 1</td>
                <td class="tg-0pky">TBA</td>
            </tr>
            <tr>
                <td class="tg-0pky">4:00 pm – 5:30 pm</td>
                <td class="tg-0pky" colspan="5">Poster Session &amp; Reception (Sponsor needed)</td>
            </tr>
            <tr>
                <td class="tg-mjdq">Day 3<br>Wednesday<br>6/5/2024 </td>
                <td class="tg-mjdq" colspan="5">Keynote 2, Paper sessions, Women in Healthcare Informatics Event, Award
                    Ceremony and Banquet </td>
            </tr>
            <tr>
                <td class="tg-0pky">7:30 am – 9:00 am</td>
                <td class="tg-0pky" colspan="5">Registration <br>Coffee and Snack @Exhibition Space<br>Meet &amp; Greet </td>
            </tr>
            <tr>
                <td class="tg-0pky">9:00 am – 10:00 am</td>
                <td class="tg-0pky" colspan="5">Keynote 2 by Dr. Zhiyong Lu @ Lake Nona Auditorium </td>
            </tr>
            <tr>
                <td class="tg-0pky">10:00 am – 10:30 am</td>
                <td class="tg-0pky" colspan="5">Coffee Break @Event/Exhibition Space</td>
            </tr>
            <tr>
                <td class="tg-0pky">10:30 am – 12:00 pm</td>
                <td class="tg-0pky">Paper Session 4 <br>(Analytics 2)</td>
                <td class="tg-0pky">Paper Session 5 <br>(Human-Factor 2)</td>
                <td class="tg-0pky">Paper Session 6 <br>(System 2)</td>
                <td class="tg-0pky">Demo Session 2</td>
                <td class="tg-0pky">Possible Remote Session 1</td>
            </tr>
            <tr>
                <td class="tg-0pky">12:00 pm – 1:00 pm</td>
                <td class="tg-0pky" colspan="5">Lunch @Event/Exhibition Space<br>Women in Healthcare Informatics Event
                </td>
            </tr>
            <tr>
                <td class="tg-0pky">1:00 pm – 2:30 pm</td>
                <td class="tg-0pky">Paper Session 7 <br>(Analytics 3)</td>
                <td class="tg-0pky">Paper Session 8 <br>(Analytics 4)</td>
                <td class="tg-0pky">Paper Session 9 <br>(System 3)</td>
                <td class="tg-0pky">Panel Discussion on LLM</td>
                <td class="tg-0pky">Possible Remote Session 2</td>
            </tr>
            <tr>
                <td class="tg-0pky">2:30 pm – 3:00 pm</td>
                <td class="tg-0pky" colspan="5">Coffee Break @Event/Exhibition Space</td>
            </tr>
            <tr>
                <td class="tg-0pky">3:00 pm – 4:30 pm</td>
                <td class="tg-0pky">Paper Session 10 <br>(Analytics 5)</td>
                <td class="tg-0pky">Paper Session 11 <br>(Analytics 6)</td>
                <td class="tg-0pky">Paper Session 12 <br>(Analytics 7)</td>
                <td class="tg-0pky">Paper Session 13 <br>(Analytics 8)</td>
                <td class="tg-0pky">Panel Discussion on XAI</td>
            </tr>
            <tr>
                <td class="tg-0pky">4:30 pm – 6:00 pm</td>
                <td class="tg-0pky" colspan="5">Meet and Greet (Social event)</td>
            </tr>
            <tr>
                <td class="tg-0pky">6:00 pm – 8:00 pm</td>
                <td class="tg-0pky" colspan="5">Award Ceremony and Banquet Dinner (6:00 - 8:00 PM)</td>
            </tr>
            <tr>
                <td class="tg-mjdq">Day 4<br>Thursday<br>6/6/2024 </td>
                <td class="tg-mjdq" colspan="5">Keynote 3, Industry Sessions, Closing Session </td>
            </tr>
            <tr>
                <td class="tg-0pky">7:30 am – 8:30 am</td>
                <td class="tg-0pky" colspan="5">Registration<br>Coffee and Snack @Exhibition Space</td>
            </tr>
            <tr>
                <td class="tg-0pky">8:30 am – 9:30 am</td>
                <td class="tg-0pky" colspan="5">Keynote 3 by Dr. Jens Kleesiek @ Lake Nona Auditorium </td>
            </tr>
            <tr>
                <td class="tg-0pky">9:30 am – 10:00 am</td>
                <td class="tg-0pky" colspan="5">Coffee Break @Event/Exhibition Space </td>
            </tr>
            <tr>
                <td class="tg-0pky">10:00 am – 12:00 pm</td>
                <td class="tg-0pky" colspan="5">Industry Session @ Lake Nona Auditorium </td>
                <!-- <td class="tg-0pky">Industry Session 1</td>
                <td class="tg-0pky">Industry Session 2</td>
                <td class="tg-0pky">Industry Session 3</td>
                <td class="tg-0pky">Industry Session 4</td>
                <td class="tg-0pky"> </td> -->
            </tr>
            <tr>
                <td class="tg-0pky">12:00 pm – 12:30 pm</td>
                <td class="tg-0pky" colspan="5">Closing Session @ Lake Nona Auditorium </td>
            </tr>
        </tbody>
    </table>
    <br>
</div>
{% endblock %}