{% extends '_layout.html' %}

{% block title %}
Venue and Logistics
{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden pt-5 mb-5 text-center bg-light cover-image"
    style="background-image: url('./static/image/rst-a.jpg');">
    <div class="col-md-10 p-lg-5 mx-auto my-5 text-white min-height-12">
        <h1 class="pt-5 display-4 fw-bold">
            VENUE &amp; LOGISTICS
        </h1>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<div class="container">

    <div class="row mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 " style="padding-top: 0 !important;">

            <h2 class="">
                Conference Venue
            </h2>

            <div class="row">
                <div class="col-md-8">

                    <p>
                        All conference events for IEEE ICHI 2022 will be held in the <a target="_blank"
                            href="https://www.mayociviccenter.com/">Mayo Civic Center</a>. Located in the core of
                        Rochester's downtown, the center is surrounded by a diverse set of restaurant, entertainment,
                        and recreation options.
                    </p>

                    <p>
                        You can find more information about the conference venue at <a
                            href="https://www.mayociviccenter.com/" target="_blank">https://www.mayociviccenter.com/</a>.
                    </p>
                    <p>
                        Detailed Rochester downtown map and city map:
                    </p>

                    <p>
                        <div style="float: left; margin-right: 2em; margin-bottom: 2em;">
                            <div>
                                <a href="./static/file/Rochester_Downtown_Map.pdf">
                                    <img  style="max-width: 250px;" src="./static/image/rst_dt_map.jpg" alt="Rochester Downtown Map">
                                </a>
                            </div>
                            <div>
                                <a href="./static/file/Rochester_Downtown_Map.pdf">Rochester Downtown Map (PDF)</a>
                            </div>
                        </div>

                        <div style="float: left;">
                            <div>
                                <a href="./static/file/Rochester_Citywide_Map.pdf">
                                    <img  style="max-width: 250px;" src="./static/image/rst_city_map.jpg" alt="Rochester City Map">
                                </a>
                            </div>
                            <div>
                                <a href="./static/file/Rochester_Citywide_Map.pdf">Rochester City Map (PDF)</a>
                            </div>
                        </div>
                    </p>

                </div>

                <div class="col-md-4">
                    <img style="width: 100%;" src="./static/image/mayo-civic-center.jpg" alt="Mayo Civic Center">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h4 class="mt-4">
                        Conference Rooms
                    </h4>
                    <p>
                        The conference rooms locate on the first floor and second floor.
                    </p>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <a href="./static/image/mcc-venue-f1.jpeg">
                                    <img style="width: 100%;" src="./static/image/mcc-venue-f1.jpeg" alt="Mayo Civic Center Floor 1">
                                </a>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <a href="./static/image/mcc-venue-f2.jpeg">
                                    <img style="width: 100%;" src="./static/image/mcc-venue-f2.jpeg" alt="Mayo Civic Center Floor 2">
                                </a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <hr>

            <h2 class="mt-4">Hotel Information</h2>

            <div class="row">

                <div class="col-md-8">

                    <h4>
                        DoubleTree by Hilton Hotel Rochester
                    </h4>

                    <p>
                        The DoubleTree by Hilton Hotel Rochester is located at the heart of the downtown Rochester, just
                        two blocks from the Mayo Clinic and the Methodist Hospital. It is next to the University Square
                        and five minutes from the Mayo Civic Center.
                    </p>
                    <p>
                        <a target="_blank"
                            href="https://www.hilton.com/en/book/reservation/deeplink/?ctyhocn=RSTDTDT&groupCode=CDTICH&arrivaldate=2022-06-10&departuredate=2022-06-15&cid=OM,WW,HILTONLINK,EN,DirectLink&fromId=HILTONLINKDIRECT">
                            Make a Reservation
                        </a>
                    </p>

                    <p>
                        Standard or Double Room Rate: $159
                    </p>

                </div>

                <div class="col-md-4">
                    <img style="width:100%" src="./static/image/hotel-doubletree.jpg"
                        alt="DoubleTree by Hilton Rochester">
                </div>
            </div>


            <hr>


            <div class="row mt-4">
                <div class="col-md-8">
                    <h4>
                        Hilton Rochester Mayo Clinic Area
                    </h4>

                    <p>
                        The Hilton Rochester Mayo Clinic Area is located at the heart of the downtown Rochester, just
                        two blocks from the Mayo Clinic and the Methodist Hospital. It is next to the University Square
                        and five minutes from the Mayo Civic Center.
                    </p>

                    <p>
                        <a target="_blank"
                            href="https://www.hilton.com/en/book/reservation/deeplink/?ctyhocn=RSTMAHH&groupCode=ICH&arrivaldate=2022-06-10&departuredate=2022-06-15&cid=OM,WW,HILTONLINK,EN,DirectLink&fromId=HILTONLINKDIRECT">
                            Make a Reservation
                        </a>
                    </p>

                    <p>
                        1 King Bed or 2 Queen Beds Room Rate: $219
                    </p>
                </div>

                <div class="col-md-4">
                    <img style="width:100%" src="./static/image/hotel-hilton.jpg"
                        alt="Hilton Rochester Mayo Clinic Area">
                </div>
            </div>


            <hr>

            <div class="row">

                <div class="col-md-8">

                    <h4>
                        Hyatt House Rochester / Mayo Clinic Area
                    </h4>

                    <p>
                        At Hyatt House Rochester / Mayo Clinic Area, your stay with us offers the luxury of spacious
                        rooms, a relaxed pace, access to the Clinic, the Mayo Civic Convention Center, major
                        universities, dining, shopping, and more, all with care, ease, and convenience.
                    </p>
                    <p>
                        <a target="_blank"
                            href="https://www.hyatt.com/en-US/hotel/minnesota/hyatt-house-rochester-mayo-clinic/rstxr?corp_id=G-MCHS">
                            Make a Reservation
                        </a>
                    </p>

                    <p>

                    </p>

                </div>

                <div class="col-md-4">
                    <img style="width:100%" src="./static/image/hotel-hyatt.jpg"
                        alt="Hyatt House Rochester / Mayo Clinic Area">
                </div>
            </div>

            <hr>


            <div class="row">

                <div class="col-md-8">

                    <h4>
                        Rochester Marriott Mayo Clinic Area
                    </h4>

                    <p>
                        Directly connected to the Mayo Clinic. Hotel offers easy access to some of the city's most
                        popular attractions via climate-controlled pedestrian walkways and skyways. Shop at University
                        Square and enjoy biking, fishing and horseback riding nearby.
                    </p>
                    <p>
                        <a target="_blank" href="https://www.marriott.com/events/start.mi?id=1645197639784&key=GRP">
                            Make a Reservation
                        </a>
                    </p>

                    <p>
                        Group Rate for ICHI 2022: $159
                    </p>

                </div>

                <div class="col-md-4">
                    <img style="width:100%" src="./static/image/hotel-marriott.jpg"
                        alt="Rochester Marriott Mayo Clinic Area">
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}