{% extends '_layout.html' %}

{% block title %}
Venue and Logistics
{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden pt-5 mb-5 text-center bg-light cover-image"
    style="background-image: url('./static/image/index_image_venue3.jpg');">
    <div class="col-md-10 p-lg-5 mx-auto my-5 text-white min-height-12">
        <h1 class="pt-5 display-4 fw-bold">
            VENUE &amp; LOGISTICS
        </h1>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<div class="container">

    <div class="row mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 " style="padding-top: 0 !important;">

            <h2 class="">
                Conference Venue
            </h2>

            <div class="row">
                <div class="col-md-8">

                    <p>
                        All conference events for IEEE ICHI 2023 will be held in the <a target="_blank" href="https://brc.rice.edu/about/brc">BRC building</a>. Located in the Rice University. It is equipped for cutting-edge laboratory, theoretical and computational investigations, and features ten floors of research labs, centers, Rice classrooms and auditoriums.
                    </p>

                    <!-- <p>
                        You can find more information about the conference venue at <a
                            href="https://brc.rice.edu/about/brc" target="_blank">https://brc.rice.edu/about/brc</a>.
                    </p> -->

                    <!-- <h2 class="mt-4">Conference Agenda</h2> -->

                    <!-- <p>
                        Detailed conference agenda can be download at <a
                            href="./static/file/ICHI2023_Agenda.xlsx" target="_blank">here</a>.
                    </p> -->

                    <!-- <p>
                        <div style="float: left; margin-right: 2em; margin-bottom: 2em;">
                            <div>
                                <a href="./static/file/Rochester_Downtown_Map.pdf">
                                    <img  style="max-width: 250px;" src="./static/image/rst_dt_map.jpg" alt="Rochester Downtown Map">
                                </a>
                            </div>
                            <div>
                                <a href="./static/file/Rochester_Downtown_Map.pdf">Rochester Downtown Map (PDF)</a>
                            </div>
                        </div>

                        <div style="float: left;">
                            <div>
                                <a href="./static/file/Rochester_Citywide_Map.pdf">
                                    <img  style="max-width: 250px;" src="./static/image/rst_city_map.jpg" alt="Rochester City Map">
                                </a>
                            </div>
                            <div>
                                <a href="./static/file/Rochester_Citywide_Map.pdf">Rochester City Map (PDF)</a>
                            </div>
                        </div>
                    </p> -->

                </div>

                <div class="col-md-4">
                    <img style="width: 100%;" src="./static/image/brc_image.jpeg" alt="BRC building">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <!-- <h4 class="mt-4">
                        Conference Rooms
                    </h4>
                    <p>
                        To be updated. 
                        The conference rooms locate on the first floor and second floor. -->
                    <!-- </p> --> 
                    
                    <!-- <div class="row">
                        <div class="col-md-6">
                            <p>
                                <a href="./static/image/mcc-f1.png">
                                    <img style="width: 100%;" src="./static/image/mcc-f1-sm.png" alt="Mayo Civic Center Floor 1">
                                </a>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <a href="./static/image/mcc-f2.png">
                                    <img style="width: 100%;" src="./static/image/mcc-f2-sm.png" alt="Mayo Civic Center Floor 2">
                                </a>
                            </p>
                        </div>
                    </div> -->

                </div>
            </div>

            <hr>

            <h2 class="mt-4">Hotel Information</h2>

            <div class="row">

                <div class="col-md-8">

                    <h4>
                        Houston Marriott Medical Center/Museum District
                    </h4>

                    <p>
                        The Houston Marriott Medical Center is ideally located 4 miles from downtown and 6 miles from the Galleria. Located next to Methodist Hospital, the hotel is connected to the Texas Medical Center via skybridge. Enjoy a complimentary shuttle within 2 miles to destinations such as: Museum District, Rice Village, Rice University, MD Anderson and TMC facilities. 
                        <br>5-min walk to the conference venue (BRC building)！
                    </p>
                    <p>

                        <a target="_blank" href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1680197037123&key=GRP&app=resvlink">Book your group rate for IEEE ICHI Room Block 2023</a>

                        <!-- <a target="_blank"
                            href="https://www.hilton.com/en/book/reservation/deeplink/?ctyhocn=RSTDTDT&groupCode=CDTICH&arrivaldate=2022-06-10&departuredate=2022-06-15&cid=OM,WW,HILTONLINK,EN,DirectLink&fromId=HILTONLINKDIRECT">
                            Make a Reservation
                        </a> -->
                    </p>

                    <p>
                        Conference rate: $144 plus 16.09% tax
                    </p>
                    <p>
                        Cut off date: Monday, June 5, 2023, 5pm CDT (Rooms are available until the cut-off date listed or until the block is gone, whichever occurs first. )
                    </p>

                </div>

                <div class="col-md-4">
                    <img style="width:100%" src="./static/image/hotel_image.jpeg"
                        alt="DoubleTree by Hilton Rochester">
                </div>
            </div>


            <hr>


            <div class="row mt-4">
                <div class="col-md-8">
                    <h4>
                        Travel Directions (Airport to Hotel/BRC)
                    </h4>

                    <p>
                        Upon arrival in Houston, please take a taxi or Uber/Lyft to your hotel accommodation or to the conference venue (<a href="https://www.google.com/maps/place/BRC+Rice+University/@29.7110666,-95.4020411,17z/data=!3m1!4b1!4m6!3m5!1s0x8640c07055cc6849:0xb542a8d25e796fb5!8m2!3d29.7110666!4d-95.4020411!16s%2Fm%2F011py0vz?entry=ttu" >BRC Rice University ></a>, 6500 Main St, Houston, TX 77030).  We do not recommend public transportation.
                        <ul><li>George Bush Intercontinental Airport (IAH) to BRC: 35 miles </li>
                        <li>William P. Hobby Airport to BRC: 13 miles</li></ul>
                    </p>
                </div>
            </div>
            <hr>
            <div class="row mt-4">
                <div class="col-md-8">
                    <h4>
                        Visit Rice University
                    </h4>

                    <p>
                        The 300-acre, tree-lined Rice University campus features more than 70 major buildings (including conference venue, BRC) with architectural elements that are uniquely Rice. <a href="https://experience.rice.edu/" >Rice University Self-Guided Tour ></a> | <a href="https://www.rice.edu/campus-maps" >Interactive Campus Maps ></a> 
                        <ul><li>On-Campus Shuttle: BRC building is connected to the main campus via two bus routes: "BRC Express" and "Texas Medical Center/BRC". To access the on-campus shuttle bus system please show your name badge. If you are unfamiliar with the campus, please tell the bus driver the name of the building/location you are looking for so they may assist you. <a href="https://rice.ridesystems.net/routes" >Bus tracking system Summer Shuttle Schedule > </a> </li>
                        </ul>
                    </p>
                </div>
            </div>

            <hr>


            <div class="row mt-4">
                <div class="col-md-8">
                    <h4>
                        Explore Houston
                    </h4>

                    <p>
                        The style-savvy residents of the country’s fourth-largest city and third-largest county (Harris) know that there’s no place quite like Houston. With more than 2.2 million residents, the city attracts visitors and transplants with a wonderful mix of world-class arts, booming business, pro sports and award-winning cuisine. <a href="https://www.visithoustontexas.com/about-houston/" >Explore Houston > </a> | <a href="https://www.citypass.com/houston?mv_source=greaterhoustoncvb&campaign=vht_advertisement" >Houston City Pass ></a>
                        <ul><li>The nearby <a href="https://www.visithoustontexas.com/about-houston/neighborhoods/museum-district/" >Houston Museum District > </a> (minutes from BRC)  stakes its claim as the country’s fourth-largest, with 19 cultural powerhouses set within blocks of one another. The Museum District is Houston’s cultural heart, with venues exploring subjects ranging from natural science to the African-American experience. The vast collection at the Museum of Fine Arts encompasses Egyptian antiquities, Impressionist art and American sculpture, while Houston Zoo is home to rhinos and cheetahs. Hermann Park (10-min walk from BRC) is popular for its pedal boats and miniature railway, and also has a Japanese garden.
                            <br>
                            Useful links:  <a href="http://houmuse.org/wp-content/uploads/2022/12/HMDA-Map-Guide-ALL-2022-FINAL-DIGITAL-VERSION.pdf" >Museum District Map ></a> , Ride <a href="https://houmuse.org/visitor-information/transportation/" >METRORail Red line ></a> to visit Museum District locations from <a href="https://www.google.com/maps/place/Dryden%2FTMC/@29.7099629,-95.4011701,19z/data=!4m6!3m5!1s0x8640c07117c46853:0x14aa4fd5abffac10!8m2!3d29.7100954!4d-95.4005863!16zL20vMDlkdDJr?entry=tts&shorturl=1" >Dryden/TMC stop ></a> (right in front of Houston Marriott Medical Center hotel)

                        </li>
                        <li><a href="https://www.visithoustontexas.com/listings/rice-village/20311/" >Rice Village ></a> is walking distance from campus and features more than 300 shops in the immediate 16-block area, Rice Village is known for its small and eclectic shops and boutiques. Rice Village is also home to some of the best and most varied places to eat in Houston, featuring Italian, French, Indian, Mediterranean, Spanish, Mexican, Chinese, Japanese, Thai, and Vietnamese restaurants.</li>
                        <li><a href="https://www.visithoustontexas.com/listings/space-center-houston/19562/" >Space Center Houston ></a>, the Official Visitor Center of NASA Johnson Space Center, is Houston’s No. 1 attraction for international visitors and the first Smithsonian Affiliate in the greater Houston area. It is the home of NASA’s Mission Control and where U.S. astronauts are trained. With more than 400 space artifacts including flown spacecraft, the largest collection of moon rocks on public display and at multiple major seasonal exhibits a year, Space Center Houston offers an array of exciting attractions for people of all ages.</li>
                    </ul>
                    </p>
                </div>
            </div>


            <!-- <hr>

            <div class="row">

                <div class="col-md-8">

                    <h4>
                        Hyatt House Rochester / Mayo Clinic Area
                    </h4>

                    <p>
                        At Hyatt House Rochester / Mayo Clinic Area, your stay with us offers the luxury of spacious
                        rooms, a relaxed pace, access to the Clinic, the Mayo Civic Convention Center, major
                        universities, dining, shopping, and more, all with care, ease, and convenience.
                    </p>
                    <p>
                        <a target="_blank"
                            href="https://www.hyatt.com/en-US/hotel/minnesota/hyatt-house-rochester-mayo-clinic/rstxr?corp_id=G-MCHS">
                            Make a Reservation
                        </a>
                    </p>

                    <p>

                    </p>

                </div>

                <div class="col-md-4">
                    <img style="width:100%" src="./static/image/hotel-hyatt.jpg"
                        alt="Hyatt House Rochester / Mayo Clinic Area">
                </div>
            </div>

            <hr> -->


            <!-- <div class="row">

                <div class="col-md-8">

                    <h4>
                        Rochester Marriott Mayo Clinic Area
                    </h4>

                    <p>
                        Directly connected to the Mayo Clinic. Hotel offers easy access to some of the city's most
                        popular attractions via climate-controlled pedestrian walkways and skyways. Shop at University
                        Square and enjoy biking, fishing and horseback riding nearby.
                    </p>
                    <p>
                        <a target="_blank" href="https://www.marriott.com/events/start.mi?id=1645197639784&key=GRP">
                            Make a Reservation
                        </a>
                    </p>

                    <p>
                        Group Rate for ICHI 2022: $159
                    </p>

                </div>

                <div class="col-md-4">
                    <img style="width:100%" src="./static/image/hotel-marriott.jpg"
                        alt="Rochester Marriott Mayo Clinic Area">
                </div>
            </div> -->

        </div>

    </div>

</div>
{% endblock %}