{% extends '_layout.html' %}

{% block title %}
Venue and Logistics
{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden pt-5 mb-5 text-center bg-light cover-image"
    style="background-image: url('./static/image/bg-road.jpg');">
    <div class="col-md-10 p-lg-5 mx-auto my-5 text-white min-height-12">
        <h1 class="pt-5 display-4 fw-bold">
            VENUE &amp; LOGISTICS
        </h1>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<div class="container">

    <div class="row mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 " style="padding-top: 0 !important;">

            <h2 class="">
                Conference Venue
            </h2>

            <div class="row">
                <div class="col-md-8">

                    <p>
                        All conference events for IEEE ICHI 2024 will be held at University of Florida Research and
                        Academic Center - <a target="_blank" href="https://lakenona.ufhealth.org/">Lake Nona</a>.
                        Located in Orlando Florida’s Lake Nona Medical City, the University of Florida Research and
                        Academic Center was founded in 2012 to serve as a bridge between research, education and
                        community service programs of the university’s other campuses with partnering organizations in
                        central Florida.
                    </p>

                    <!-- <p>
                        You can find more information about the conference venue at <a
                            href="https://brc.rice.edu/about/brc" target="_blank">https://brc.rice.edu/about/brc</a>.
                    </p> -->

                    <!-- <h2 class="mt-4">Conference Agenda</h2> -->

                    <!-- <p>
                        Detailed conference agenda can be download at <a
                            href="./static/file/ICHI2023_Agenda.xlsx" target="_blank">here</a>.
                    </p> -->

                    <!-- <p>
                        <div style="float: left; margin-right: 2em; margin-bottom: 2em;">
                            <div>
                                <a href="./static/file/Rochester_Downtown_Map.pdf">
                                    <img  style="max-width: 250px;" src="./static/image/rst_dt_map.jpg" alt="Rochester Downtown Map">
                                </a>
                            </div>
                            <div>
                                <a href="./static/file/Rochester_Downtown_Map.pdf">Rochester Downtown Map (PDF)</a>
                            </div>
                        </div>

                        <div style="float: left;">
                            <div>
                                <a href="./static/file/Rochester_Citywide_Map.pdf">
                                    <img  style="max-width: 250px;" src="./static/image/rst_city_map.jpg" alt="Rochester City Map">
                                </a>
                            </div>
                            <div>
                                <a href="./static/file/Rochester_Citywide_Map.pdf">Rochester City Map (PDF)</a>
                            </div>
                        </div>
                    </p> -->

                </div>

                <div class="col-md-4">
                    <img style="width: 100%;" src="./static/image/lake-nona-exterior.jpg"
                        alt="Research and Academic Center - Lake Nona">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <!-- <h4 class="mt-4">
                        Conference Rooms
                    </h4>
                    <p>
                        To be updated. 
                        The conference rooms locate on the first floor and second floor. -->
                    <!-- </p> -->

                    <!-- <div class="row">
                        <div class="col-md-6">
                            <p>
                                <a href="./static/image/mcc-f1.png">
                                    <img style="width: 100%;" src="./static/image/mcc-f1-sm.png" alt="Mayo Civic Center Floor 1">
                                </a>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <a href="./static/image/mcc-f2.png">
                                    <img style="width: 100%;" src="./static/image/mcc-f2-sm.png" alt="Mayo Civic Center Floor 2">
                                </a>
                            </p>
                        </div>
                    </div> -->

                </div>
            </div>

            <hr>

            <div>
                <h2>Hotel Information</h2>
                <br>
                <div>
                    <!-- <div class="row">
                        <div class="col-md-8">
                            <h3>By Marriott</h3>
                            <ul>
                                <li><strong>Book by:</strong> 05/06/24</li>
                                <li><strong>Rate available:</strong> 06/02/2024 to 06/06/2024</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h3>
                                <a href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1701887391955&key=GRP&app=resvlink" target="_blank">Make a Reservation</a>
                            </h3>
                        </div>
                    </div>
                    <hr> -->
            
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Courtyard Orlando Lake Nona</h4>
                            <ul>
                                <li>Courtyard Orlando Lake Nona is a business-friendly hotel with free Wi-Fi, on-site dining and fitness center.</li>
                                <li>6955 Lake Nona Boulevard Orlando, Florida 32827</li>
                                <li>0.9 miles from UF Research and Academic Center</li>
                                <li><strong>Price:</strong> From 179 USD/night</li>
                                <li><a target="_blank" href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1701887391955&key=GRP&app=resvlink">Book your group rate for IEEE ICHI Room Block 2024</a></li>
                                
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <img src="./static/image/Countyard_Orlando.png" alt="Courtyard Orlando Lake Nona" style="width: 100%;">
                        </div>
                    </div>
                    <hr>
            
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Residence Inn Orlando Lake Nona</h4>
                            <ul>
                                <li>Residence Inn Orlando Lake Nona is a pet-friendly hotel in Orlando, Florida, with free breakfast, complimentary Wi-Fi and spacious suites.</li>
                                <li>6955 Lake Nona Boulevard Orlando, Florida 32827</li>
                                <li>0.9 miles from UF Research and Academic Center</li>
                                <li><strong>Price:</strong> From 169 USD/night</li>
                                <li><a target="_blank" href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1701887391955&key=GRP&app=resvlink">Book your group rate for IEEE ICHI Room Block 2024</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <img src="./static/image/Residence_Inn_Orlando_Lake_Nona.jpeg" alt="Residence Inn Orlando Lake Nona" style="width: 100%;">
                        </div>
                    </div>
                    <hr>
            
                    <div class="row">
                        <div class="col-md-6">
                            <h4>SpringHill Suites Orlando Lake Nona</h4>
                            <ul>
                                <li>SpringHill Suites Orlando Lake Nona is a brand-new hotel 3 miles from the Orlando Airport with complimentary breakfast and WiFi.</li>
                                <li>13700 Boggy Creek Rd. Orlando, Florida 32824</li>
                                <li>1.4 miles from UF Research and Academic Center</li>
                                <li><strong>Price:</strong> From 159 USD/night</li>
                                <li><a target="_blank" href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1701887391955&key=GRP&app=resvlink">Book your group rate for IEEE ICHI Room Block 2024</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <img src="./static/image/SpringHill_Suites_Orlando_Lake_Nona.png" alt="SpringHill Suites Orlando Lake Nona" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <h2 class="">
                Travel Directions
            </h2>

            <div class="row">
                    <p>
                        We recommend taking a car, rideshare, or taxi from the Orlando Airport.  Public transportation is not advised. 
                        The hotels and UF Research building are a 10-15 minute drive from the Orlando International Airport via Access Road/Jeff Fuqua Blvd.
                    </p>
            </div>

            <hr>
            <h2 class="">
                Explore Orlando
            </h2>

            <div class="row">
                    <p>
                        Whether you’re a theme park enthusiast, bird watcher, foodie, water sports fanatic, sun worshipper, arts patron, serious shopper or anything in between, you’re always welcome in Orlando.  Visit <a target="_blank" href="https://www.visitorlando.com/">Visitor Orlando</a> for things to do, events, and more information.
                    </p>
            </div>

    </div>

</div>

</div>
{% endblock %}