{% extends '_layout.html' %}

{% block title %}
Call for Workshops
{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden pt-5 mb-5 text-center bg-light cover-image"
    style="background-image: url('./static/image/bg-laptop.jpg');">
    <div class="col-md-10 p-lg-5 mx-auto my-5 text-white min-height-12">
        <h1 class="pt-5 display-4 fw-bold">
            WORKSHOPS
        </h1>
        <p class="lead fw-normal">
            &nbsp;
        </p>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<!-- <div class="container">
    <div class="mb-5">
        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">
            <h2 class="mb-4">
                TBD
            </h2>
        </div>
    </div>
</div> -->


<div class="container">
    <div class="mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">

            <h2 class="mb-4">
                The First Workshop on Applying LLMs in LMICs for Healthcare Solutions
            </h2>
    
            <div class="row">
                <div class="col-md-4">
                    <h4>IMPORTANT DATES</h4>
                </div>
    
                <div class="col-md-8">
                    <ul>
                        <li>Deadline for full paper submissions: <b>March 1st, 2024</b></li>
                        <li>Author notification:  <b>March 21st, 2024</b></li>
                        <li>Camera-ready submission:  <b>March 30th, 2024</b></li>
                        <li>Workshop date: <b>June 3rd, 2024</b></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-primary"
                        target="_blank"
                        href="https://www.nivi.io/all4health"
                        >
                        More Information
                    </a> 

                    <!-- <a class="btn btn-success"
                        target="_blank"
                        href="{{ config.URL_EASYCHAIR_SUBMISSION }}">
                        Submissions
                    </a> -->

                    
                </div>
            </div>
    
        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">

            <h2 class="mb-4">
                Data privacy and data analysis in healthcare systems
            </h2>
    
            <div class="row">
                <div class="col-md-4">
                    <h4>IMPORTANT DATES</h4>
                </div>
    
                <div class="col-md-8">
                    <ul>
                        <li>Deadline for full paper submissions: <b><del>March 1st</del> March 21st, 2024</b></li>
                        <li>Author notification:  <b><del>March 21st</del> April 12th, 2024</b></li>
                        <li>Camera-ready submission:  <b><del>March 30th</del> April 21st, 2024</b></li>
                        <li>Workshop date: <b>June 3rd, 2024</b></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-primary"
                        target="_blank"
                        href="https://dpdahs.github.io/"
                        >
                        More Information
                    </a>

                    <!-- <a class="btn btn-success"
                        target="_blank"
                        href="{{ config.URL_EASYCHAIR_SUBMISSION }}">
                        Submissions
                    </a> -->

                    
                </div>
            </div>
    
        </div>
    </div>
</div>
<hr>

<div class="container">
    <div class="mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">

            <h2 class="mb-4">
                The 2nd International Workshop on Ethics and Bias of Artificial Intelligence in Clinical Applications 
            </h2>
    
            <div class="row">
                <div class="col-md-4">
                    <h4>IMPORTANT DATES</h4>
                </div>
    
                <div class="col-md-8">
                    <ul>
                        <li>Deadline for all submission: <b>March 31st, 2024</b></li>
                        <li>Notification of decisions:  <b>April 11th, 2024</b></li>
                        <li>Camera-ready due:  <b>April 21st, 2024</b></li>
                        <li>Workshop date: <b>June 3rd, 2024</b></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-primary"
                        target="_blank"
                        href="https://pitthexai.github.io/EBAIC2024/"
                        >
                        More Information
                    </a>

                    <!-- <a class="btn btn-success"
                        target="_blank"
                        href="{{ config.URL_EASYCHAIR_SUBMISSION }}">
                        Submissions
                    </a> -->

                    
                </div>
            </div>
    
        </div>
    </div>
</div>
<hr>

<div class="container">
    <div class="mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">

            <h2 class="mb-4">
                Multimodal Representation Learning for Healthcare
            </h2>
    
            <div class="row">
                <div class="col-md-4">
                    <h4>IMPORTANT DATES</h4>
                </div>
    
                <div class="col-md-8">
                    <ul>
                        <li>Deadline for full paper submissions: <b>March 8th, 2024</b></li>
                        <li>Author notification:  <b>March 21st, 2024</b></li>
                        <li>Camera-ready submission:  <b>March 30th, 2024</b></li>
                        <li>Workshop date: <b>June 3rd, 2024</b></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-primary"
                        target="_blank"
                        href="https://luomancs.github.io/Multimodal4Health-ICHI/"
                        >
                        More Information
                    </a>

                    <!-- <a class="btn btn-success"
                        target="_blank"
                        href="{{ config.URL_EASYCHAIR_SUBMISSION }}">
                        Submissions
                    </a> -->

                    
                </div>
            </div>
    
        </div>
    </div>
</div>
<hr>

<div class="container">
    <div class="mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">

            <h2 class="mb-4">
                Human-Centred XAI: Enhancing AI Acceptability for Healthcare
            </h2>
    
            <div class="row">
                <div class="col-md-4">
                    <h4>IMPORTANT DATES</h4>
                </div>
    
                <div class="col-md-8">
                    <ul>
                        <li>Deadline for full paper submissions: <b>March 1st, 2024</b></li>
                        <li>Author notification:  <b>March 21st, 2024</b></li>
                        <li>Camera-ready submission:  <b>March 30th, 2024</b></li>
                        <li>Workshop date: <b>June 3rd, 2024</b></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-primary"
                        target="_blank"
                        href="https://mahmoud-elbattah.github.io/ichiworkshop2024/"
                        >
                        More Information
                    </a>

                    <!-- <a class="btn btn-success"
                        target="_blank"
                        href="{{ config.URL_EASYCHAIR_SUBMISSION }}">
                        Submissions
                    </a> -->

                    
                </div>
            </div>
    
        </div>
    </div>
</div>
<hr>

<div class="container">
    <div class="mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">

            <h2 class="mb-4">
                The Third International Workshop on Health Informatics Education
            </h2>
    
            <div class="row">
                <div class="col-md-4">
                    <h4>IMPORTANT DATES</h4>
                </div>
    
                <div class="col-md-8">
                    <ul>
                        <li>Deadline for full paper submissions: <b><del>March 1st</del> March 21st, 2024</b></li>
                        <li>Author notification:  <b><del>March 15th</del> March 31st, 2024</b></li>
                        <li>Camera-ready submission:  <b><del>March 30th</del> April 15th, 2024</b></li>
                        <li>Workshop date: <b>June 3rd, 2024</b></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-primary"
                        target="_blank"
                        href="https://sites.pitt.edu/~lzhou1/HIEDU2024.html"
                        >
                        More Information
                    </a>

                    <!-- <a class="btn btn-success"
                        target="_blank"
                        href="{{ config.URL_EASYCHAIR_SUBMISSION }}">
                        Submissions
                    </a> -->

                    
                </div>
            </div>
    
        </div>
    </div>
</div>

<!-- <div class="container">
    <div class="mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">

            <h2 class="mb-4">
                Special Panel: Resuming HealthCare Informatics Research after CoViD-19: the HealthCare
System Perspective
            </h2>
    
            <div class="row">
                <div class="col-md-4">
                    <h4>IMPORTANT DATES</h4>
                </div>
    
                <div class="col-md-8">
                    <ul>
                        <li>Deadline for full paper submissions: <b>xx xx, 2023</b></li>
                        <li>Notification of workshop paper acceptance: <b>xx xx, 2023</b></li>
                        <li>Camera ready workshop paper due: <b>xx xx, 2023</b></li>
                        <li>Workshop date: <b>TBD, June 26th - 29th, 2023</b></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-primary"
                        target="_blank"
                        href="./static/file/HealthCareInfoResearch.pdf">
                        More Information
                    </a>

                    <a class="btn btn-success"
                        target="_blank"
                        href="{{ config.URL_EASYCHAIR_SUBMISSION }}">
                        Submissions
                    </a>

                </div>
            </div>
    
        </div>
    </div>
</div>

<hr>


<div class="container">
    <div class="mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">

            <h2 class="mb-4">
                The first International Workshop on Ethics and Bias of Artificial Intelligence in Clinical Applications (EBAIC 2023)
            </h2>
    
            <div class="row">
                <div class="col-md-4">
                    <h4>IMPORTANT DATES</h4>
                </div>
    
                <div class="col-md-8">
                    <ul>
                        <li>Deadline for full paper submissions: <b>March 21st, 2023</b></li>
                        <li>Notification of workshop paper acceptance: <b>April 11th, 2023</b></li>
                        <li>Camera ready workshop paper due: <b>April 21st, 2023</b></li>
                        <li>Workshop date: <b>June 26th, 2023</b></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-primary"
                        target="_blank"
                        href="https://pittnail.github.io/EBAIC/">
                        More Information
                    </a>

                    <a class="btn btn-success"
                        target="_blank"
                        href="{{ config.URL_EASYCHAIR_SUBMISSION }}">
                        Submissions
                    </a>

                </div>
            </div>
    
        </div>
    </div>
</div>

<hr>



<div class="container">
    <div class="mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">

            <h2 class="mb-4">
                Data Science and AI Applications in Cancer Research
            </h2>
    
            <div class="row">
                <div class="col-md-4">
                    <h4>IMPORTANT DATES</h4>
                </div>
    
                <div class="col-md-8">
                    <ul>
                        <li>Deadline for full paper submissions: <b>March xx, 2023</b></li>
                        <li>Notification of workshop paper acceptance: <b>March xx, 2023</b></li>
                        <li>Camera ready workshop paper due: <b>April 21st, 2023</b></li>
                        <li>Workshop date: <b>June 26th, 2023</b></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-primary"
                        target="_blank"
                        href="https://ieeeichi.github.io/ICHI2023/static/workshop_info/DSAICR.pdf">
                        More Information
                    </a>

                </div>
            </div>
    
        </div>
    </div>
</div>

<hr>


<div class="container">
    <div class="mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">

            <h2 class="mb-4">
                The First International Workshop on AI for Pharmaceutical Discovery and Development (AIPHA 2023)
            </h2>
    
            <div class="row">
                <div class="col-md-4">
                    <h4>IMPORTANT DATES</h4>
                </div>
    
                <div class="col-md-8">
                    <ul>
                        <li>Deadline for full paper submissions: <b>March 1st, 2023</b></li>
                        <li>Notification of workshop paper acceptance: <b>March 21st, 2023</b></li>
                        <li>Camera ready workshop paper due: <b>April 21st, 2023</b></li>
                        <li>Workshop date: <b>June 26th, 2023</b></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-primary"
                        target="_blank"
                        href="https://zhang-informatics.github.io/AIPHA2023/">
                        More Information
                    </a>

                    <a class="btn btn-success"
                        target="_blank"
                        href="{{ config.URL_EASYCHAIR_SUBMISSION }}">
                        Submissions
                    </a>

                </div>
            </div>
    
        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">

            <h2 class="mb-4">
                Network and Pathway Analysis in Health Informatics
            </h2>
    
            <div class="row">
                <div class="col-md-4">
                    <h4>IMPORTANT DATES</h4>
                </div>
    
                <div class="col-md-8">
                    <ul>
                        <li>Deadline for full paper submissions: <b>March 31st, 2023</b></li>
                        <li>Notification of workshop paper acceptance: <b>April 11th, 2023</b></li>
                        <li>Camera ready workshop paper due: <b>April 21st, 2023</b></li>
                        <li>Workshop date: <b>TBD, June 26th - 29th, 2023</b></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-primary"
                        target="_blank"
                        href="https://sites.google.com/unicz.it/npahi">
                        More Information
                    </a>

                    <a class="btn btn-success"
                        target="_blank"
                        href="{{ config.URL_EASYCHAIR_SUBMISSION }}">
                        Submissions
                    </a>

                </div>
            </div>
    
        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">

            <h2 class="mb-4">
                The Sixth International Workshop on Health Natural Language Processing
            </h2>
    
            <div class="row">
                <div class="col-md-4">
                    <h4>IMPORTANT DATES</h4>
                </div>
    
                <div class="col-md-8">
                    <ul>
                        <li>Deadline for full paper submissions: <b>March 10th, 2023</b></li>
                        <li>Notification of workshop paper acceptance: <b>March 23rd, 2023</b></li>
                        <li>Camera ready workshop paper due: <b>April 21st, 2023</b></li>
                        <li>Workshop date: <b>June 26th, 2023</b></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-primary"
                        target="_blank"
                        href="https://www.healthnlp.info/">
                        More Information
                    </a>

                    <a class="btn btn-success"
                        target="_blank"
                        href="{{ config.URL_EASYCHAIR_SUBMISSION }}">
                        Submissions
                    </a>

                </div>
            </div>
    
        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">

            <h2 class="mb-4">
                Special Workshop/Panel on Large Language Models: Opportunities and Challenges
            </h2>
    
            <div class="row">
                <div class="col-md-4">
                    <h4>IMPORTANT DATES</h4>
                </div>
    
                <div class="col-md-8">
                    <ul>
                        <li>Workshop date: <b>TBD, June 26th - 29th, 2023</b></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-primary"
                        target="_blank"
                        href="https://bionlplab.github.io/2023_ichi_llm/">
                        More Information
                    </a>
                </div>
            </div>
    
        </div>
    </div>
</div> -->

<hr>

<div class="container">
    <div class="mb-5">
        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">
            <div class="row">
                <h2>Workshops Chair</h2>

                <div class="col-md-4">
                    {% include 'committees/pierangeloveltri.html' %}
                </div>
                <div class="col-md-4">
                    {% include 'committees/lisianepruinelli.html' %}
                </div>

            </div>
        </div>
    </div>

</div>

{% include '_invite.html' %}


{% endblock %}