{% extends '_layout.html' %}

{% block title %}
Call for Workshops
{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden pt-5 mb-5 text-center bg-light cover-image"
    style="background-image: url('./static/image/rst-3.jpg');">
    <div class="col-md-10 p-lg-5 mx-auto my-5 text-white min-height-12">
        <h1 class="pt-5 display-4 fw-bold">
            WORKSHOPS
        </h1>
        <p class="lead fw-normal">
            &nbsp;
        </p>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<div class="container">
    <div class="mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">

            <h2 class="mb-4">
                The second international workshop on Health Informatics Education (HI-EDU 2023)
            </h2>
    
            <div class="row">
                <div class="col-md-4">
                    <h4>IMPORTANT DATES</h4>
                </div>
    
                <div class="col-md-8">
                    <ul>
                        <li>Deadline for all submissions: <b>March 1st, 2023</b></li>
                        <li>Notification of decisions:  <b>March 15th, 2023</b></li>
                        <li>Deadline for camera-ready papers:  <b>March 30th, 2023</b></li>
                        <li>Workshop date: <b>June 26th, 2023</b></li>
                        <!-- <li>Deadline for journal paper submission:  TBD</li> -->
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-primary"
                        target="_blank"
                        href="https://sites.pitt.edu/~lzhou1/HIEDU2023.html"
                        >
                        More Information
                    </a>

                    <a class="btn btn-success"
                        target="_blank"
                        href="{{ config.URL_EASYCHAIR_SUBMISSION }}">
                        Submissions
                    </a>

                    
                </div>
            </div>
    
        </div>
    </div>
</div>

<hr>




<div class="container">
    <div class="mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">

            <h2 class="mb-4">
                The first International Workshop on Ethics and Bias of Artificial Intelligence in Clinical Applications (EBAIC 2023)
            </h2>
    
            <div class="row">
                <div class="col-md-4">
                    <h4>IMPORTANT DATES</h4>
                </div>
    
                <div class="col-md-8">
                    <ul>
                        <li>Deadline for full paper submissions: <b>March 1st, 2023</b></li>
                        <li>Notification of workshop paper acceptance: <b>March 21st, 2023</b></li>
                        <li>Camera ready workshop paper due: <b>March 30th, 2023</b></li>
                        <li>Workshop date: <b>June 26th, 2023</b></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-primary"
                        target="_blank"
                        href="https://pittnail.github.io/EBAIC/">
                        More Information
                    </a>

                    <a class="btn btn-success"
                        target="_blank"
                        href="{{ config.URL_EASYCHAIR_SUBMISSION }}">
                        Submissions
                    </a>

                </div>
            </div>
    
        </div>
    </div>
</div>

<hr>



<div class="container">
    <div class="mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">

            <h2 class="mb-4">
                Data Science and AI Applications in Cancer Research
            </h2>
    
            <div class="row">
                <div class="col-md-4">
                    <h4>IMPORTANT DATES</h4>
                </div>
    
                <div class="col-md-8">
                    <ul>
                        <li>Deadline for full paper submissions: <b>March xx, 2023</b></li>
                        <li>Notification of workshop paper acceptance: <b>March xx, 2023</b></li>
                        <li>Camera ready workshop paper due: <b>March xx, 2023</b></li>
                        <li>Workshop date: <b>June 26th, 2023</b></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-primary"
                        target="_blank"
                        href="https://ieeeichi.github.io/ICHI2023/static/workshop_info/DSAICR.pdf">
                        More Information
                    </a>

                   <!--  <a class="btn btn-success"
                        target="_blank"
                        href="https://easychair.org/my/conference?conf=xaihealth2022">
                        Submissions
                    </a> -->

                </div>
            </div>
    
        </div>
    </div>
</div>

<hr>


<div class="container">
    <div class="mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">

            <h2 class="mb-4">
                The First International Workshop on AI for Pharmaceutical Discovery and Development (AIPHA 2023)
            </h2>
    
            <div class="row">
                <div class="col-md-4">
                    <h4>IMPORTANT DATES</h4>
                </div>
    
                <div class="col-md-8">
                    <ul>
                        <li>Deadline for full paper submissions: <b>March 1st, 2023</b></li>
                        <li>Notification of workshop paper acceptance: <b>March 21st, 2023</b></li>
                        <li>Camera ready workshop paper due: <b>March 30th, 2023</b></li>
                        <li>Workshop date: <b>June 26th, 2023</b></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-primary"
                        target="_blank"
                        href="https://zhang-informatics.github.io/AIPHA2023/">
                        More Information
                    </a>

                    <a class="btn btn-success"
                        target="_blank"
                        href="{{ config.URL_EASYCHAIR_SUBMISSION }}">
                        Submissions
                    </a>

                </div>
            </div>
    
        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">

            <h2 class="mb-4">
                Network and Pathway Analysis in Health Informatics
            </h2>
    
            <div class="row">
                <div class="col-md-4">
                    <h4>IMPORTANT DATES</h4>
                </div>
    
                <div class="col-md-8">
                    <ul>
                        <li>Deadline for full paper submissions: <b>March 1st, xx</b></li>
                        <li>Notification of workshop paper acceptance: <b>March 21st, xx</b></li>
                        <li>Camera ready workshop paper due: <b>March 30th, xx</b></li>
                        <li>Workshop date: <b>June 26th, xx</b></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-primary"
                        target="_blank"
                        href="https://ieeeichi.github.io/ICHI2023/static/workshop_info/NPAHI.pdf">
                        More Information
                    </a>

                    <a class="btn btn-success"
                        target="_blank"
                        href="{{ config.URL_EASYCHAIR_SUBMISSION }}">
                        Submissions
                    </a>

                </div>
            </div>
    
        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="mb-5">

        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">

            <h2 class="mb-4">
                The Sixth International Workshop on Health Natural Language Processing
            </h2>
    
            <div class="row">
                <div class="col-md-4">
                    <h4>IMPORTANT DATES</h4>
                </div>
    
                <div class="col-md-8">
                    <ul>
                        <li>Deadline for full paper submissions: <b>March 10th, 2023</b></li>
                        <li>Notification of workshop paper acceptance: <b>March 23rd, 2023</b></li>
                        <li>Camera ready workshop paper due: <b>March 30th, 2023</b></li>
                        <li>Workshop date: <b>June 26th, 2023</b></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-primary"
                        target="_blank"
                        href="https://www.healthnlp.info/">
                        More Information
                    </a>

                    <a class="btn btn-success"
                        target="_blank"
                        href="{{ config.URL_EASYCHAIR_SUBMISSION }}">
                        Submissions
                    </a>

                </div>
            </div>
    
        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="mb-5">
        <div class="col-md-10 p-lg-5 mx-auto min-height-10 ">
            <div class="row">
                <h2>Workshops Chair</h2>

                <div class="col-md-4">
                    {% include 'committees/xiaoqianjiang.html' %}
                </div>

            </div>
        </div>
    </div>

</div>

{% include '_invite.html' %}


{% endblock %}